
.mapNavigator .marker
{
    /*overflow:visible;*/
    margin:0;
    padding:0;
    line-height:8px;
}

.mapNavigator .marker img
{
    z-index:9998;
}

.mapNavigator .marker .tooltip
{
    display:none;
    background-color:white;
    border:1px solid #CCCCCC;
    padding:5px;
    line-height:15px;
    position:absolute;
    top:-30px;
    left:10px;
    z-index:9999;
}

.mapNavigator .marker:hover .tooltip
{
    display:block;
}

/* HACK */

body.template-tagnavigator_view #parent-fieldname-description
{
    display:none;
}

