/* @override https://editor.its.bethel.edu/++resource++smitheme.bclear/smi.css */

/* @override 
	https://silva23.bethel.edu/++resource++smitheme.bclear/smi.css
	https://editor.its.bethel.edu/++resource++smitheme.bclear/smi.css
*/

body {
  margin: 0;
  padding: 0;
  background: #dde5ee;
  font: 70% "Lucida Grande", Helvetica,  Arial, sans-serif;
}

/* ========== Typography ========== */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  padding: 0;
  border: none;
  font-weight: bold;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 115%;
}

h4 {
  font-size: 110%;
}

h5 {
  font-size: 105%;
}

h6 {
  font-size: 100%;
}

code {
  font-size: 140%;
}

a {
  color: #000080;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: #00a;
  text-decoration: none;
}
a:visited {
  color: #5900b2;
  text-decoration: none;
}
a:hover {
  color: #00a;
  text-decoration: underline;
}

div.workspace {
  background: #fff;
  padding: 10px 0 0;
}

/* ========== Path Bar ========== */

.pathbar {
  margin: 35px 0 0;
  padding: 10px;
  overflow: visible;
  z-index: 90;
}

.pathbar a {
  color: #005ba3;
  padding: 0 5px;
}

.pathbar a.normal {
	display: none;
}

.pathbar a.manage {
  color: #94aec7;
}

.pathbar img {
  display: none;
}

.pathbar .idea-container {
  float: right;
  margin-right: 5px;
}

/* ========== Tabs ========== */

.tabs {
  display: block;
  margin: 10px 0 0 0px;
  padding: 0 0 0 10px;
  overflow: auto;
  background: url(overlay.png) top left repeat-x;
  background-color: #7097b7;
  background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.15, rgb(154,177,201)),
    color-stop(0.74, rgb(123,151,181)));
  background:-moz-linear-gradient(
    center bottom,
    rgb(154,177,201) 15%,
    rgb(123,151,181) 74%)
}

.tabs a {
  float: left;
  display: block;
  margin: 0 5px 0 0px;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.tabs a:hover {
  color: #fff;
  background: #195997;
  text-decoration: none;
}

.tabs a:active {
	padding: 10px 15px 9px;
}

.tabs a.selected {
  background: #fff;
  color: #4c5c6c;
  text-shadow: none;
}

.tabs a.recede {
  background: #fff;
  color: #4c5c6c;
}

.tabs a.recede:hover {
  color: #fff;
  background: #04385f;
  text-decoration: none;
}

.tabs a.left,
.tabs a.right,
.tabs img {
  display: none;
}

/* help (available as accesskey link) */
.tabs a.normal {
  float: right;
  display: auto;
  width: auto;
  height: auto;
  border: none;
  color: transparent;
  background: transparent;
}

/* ========== Flow Bar ========== */

.flowbar {
  margin: 0;
  padding: 0;
  clear:both;
}

/* ========== Middle Ground ========== */

.middleground {
  margin: 0px 0 0px;
  padding: 0;
  background: #8797ab;
  background: #fff;
  overflow: hidden;
}

.middleground a {
  margin: 0px 5px 0px 10px;
  padding:  4px 10px 6px;
  color: #fff;
  background: #65a020;
  background: #aaa;  
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
}

.middleground a:active, .middleground a:hover {
  color: #fff;
  background-color: #777;
  text-decoration: none;
}

.middleground a.selected {
	font-weight: bold;
	background: #777;
}

.middleground .executor {
  float: right;
  margin-right: 5px;
  margin-bottom: 10px;
}

.middleground div.executor a:hover {
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
	background: #237fd7;
}

/* ========== Footer ========== */

.footer {
  clear: both;
  margin: 0.5em 0em 0em 0em;
  padding: 0em 16px 0.1em 16px;
  border-top: #909699 1px solid;
  border-bottom: none;
  color: #42484c;
  background-color:#Ccc;
  font-size: 94%;
}

.footer a {
  margin: 0;
  padding: 0;
  color: #000080;
  font-weight: normal;
  text-decoration: none;
}

.footer a:visited {
  color: #000080;
}

.uptotop {
  float: left;
  clear: left;
  width: 16px
}

.jumtotop {
  float: right;
  clear: right;
  text-align: right;
  width: 16px
}

/* ========== Personal Bar ========== */

.personalbar {
  margin: 0;
  padding: 5px 0;
  background: #333;
  position: absolute;
  top: 0;
  width: 100%;
}

.personalbar a {
  margin:0;
  padding: 0 10px;
  color: #b7cee6;
  text-decoration: none;
}

.personalbar a:hover {
	color: #fff;
}

.personalbar img {
	vertical-align: middle;
}

/* ========== Columns Table ========== */

table {
  font-size: 100%;
}

table th, table td {
  padding:0;
}

tr td {
	vertical-align: top;
}

table.columns {
  width: 100%;
  padding: 0px 0 0;
  border-spacing:0;
  clear: both;
}

/* 3 column table (default) */
/*XXX temporary by aaltepet, to get div-based 2-column slightly functional */
div.middlespace div.navigation {
  width: 20%;
  margin: 0 0 21%;
  background: #eee;
  float: left;
}

.middlespace {
	overflow: auto;
}

.viewport {
	display: block;
	float: left;
	width: 50%;
	margin: 10px 2%;
}

.portlets {
	float: left;
	width: 25%;
}

table.columns td.left {
  width: 20%;
  padding: 0;
  vertical-align: top;
  margin: 0px 10px;
  background: #eee;
}

table.columns td.main {
  padding: 0 10px;
  vertical-align: top;
}
table.columns td.right {
  width: 20%;
  padding: 0 8px 0 0;
  vertical-align: top;
}

/* 2 column table */
table.columns2 td.left {
  width: 20%;
  padding: 0px;
  vertical-align: top;
}
table.columns2 td.main {
  width: 77%;
  padding: 0 7px 0 8px;
  vertical-align: top;
}

/* 1 column */
table.columns1 td.main {
  width: 100%;
  padding: 0 7px 0 7px;
  vertical-align: top;
}

table.listing {
  width: 100%;
  margin: 0px 0 1em 0;
  border-collapse: collapse;
  color: #333;
}

.zeam-fixed-controls {
  background-color: #EEE;
}

table.listing img {
  vertical-align: middle;
}

/* ______________ rows ______________ */

table.listing td.top {
  padding: 0px;
  color: #fff;
}

table.listing tr.top-controls td {
  padding: 5px 10px;
  background: #eee;
  border-right: none;
}

table.listing tr.inter-controls td {
  padding: 0;
  color: #ddd;
  background-color: #bbb;
}

table.listing tr.controls td {
  padding: 5px 10px;
  color: #777;
  background-color: #eee;
}

/* cycle text color in listing rows */
table.listing tr.odd td {
  background: #fff;
  border: none;
}
table.listing tr.even td {
  background: #f6f6f6;
  border: none;
}

td.main table.listing td:first-of-type:first-letter {
	text-transform: capitalize;
}

table.listing tr.odd:hover td, table.listing tr.even:hover td {
  background-color: #eee;
}

tr.divider td, td.divider {
  background: #fff; /* dark */
}

tr.separator td, td.separator {
  height: 0.5em;
  background-color: #fff; /* light */
}

/* ______________ cells ______________ */

table.listing th {
  padding: 10px 10px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: #789;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: capitalize;
}

table.listing th.listing-left {
  text-align: left;
  width: 1%;
  padding-right: 0px;
}
table.listing th.listing-right {
  text-align: right;
}

table.listing th.align-left, table.listing td.align-left {
  text-align: left;
}
table.listing th.align-center, table.listing td.align-center {
  text-align: center;
}
table.listing th.align-right, table.listing td.align-right {
  text-align: right;
}

table.listing td {
  text-align: left;
  padding: 6px 10px;
  overflow: hidden;
}

table.mceLayout td {
  padding: 0;
}

td.left table.listing td {
  padding: 2px 5px;
  border:none;
}

/* title cell */
table.listing td.top h2 {
  margin: 0 0 0px 0;
  padding: 0px 7px 12px;
  color: #333;
  font-size: 1.5em;
  text-transform: capitalize;
}
  
table.listing td.top img {
  vertical-align: middle;
}

/* subhead cell */
table.listing tr.top-controls h3 {
  margin: 0.1em 0.3em 0.2em 0;
  padding: 6px 5px 6px 0;
  line-height: 100%;
  text-transform: capitalize;
  font-size: 125%;
}

/* subsubhead cell */
table.listing tr.inter-controls h3 {
  margin: 0em 0.3em 0.1em;
  color: #dbe9f7; /* e3e9f4 */
}

table.listing td.listing-left {
  white-space: nowrap;
  padding-right: 0px;
}

table.listing td.listing-right {
  white-space: nowrap;
  text-align: right;
}

#sortable tbody a, table.listing tbody a {
  display: block;
}
/* make inline in body, row, designation descriptions, new screen headings */
table.listing tbody.unblock a, table.listing tr.unblock a,
table.listing tbody p a, table.listing tbody div.subhead a {
  display: inline;
}

table#sortable a.icon img, table.listing a.icon img {
  display: inline;
  float: left;
  margin-right: 6px;
}

/* reset the margin for the up/down arrows */
table#sortable td.listing-right img {
  margin: 0;
}

/* ________ sidebar navigation _______ */

table.listing th.top {
  padding: 0;
  border-bottom: none;
  color: #e3eef0;
  background: #aaa;
  text-align: center;
  line-height: 30px;
  position: relative;
}

table.listing th.top img {
  vertical-align: top;
  padding-top: 9px;
}

td.left table.listing th.top a.normal {
  display: block;
  color: #fff;
  background: #aaa;
}

table.listing th.top a.normal {
	display: block;
	color: #fff;
}

table.listing th.subth {
  padding: 5px 0 5px 5px;
  border-top: 1px solid #777;
}

/* _______ uplinks _______ */

table.listing a.top {
  position: absolute;
  left: 0px;
  top:  0px;
  width:  40px;
  height: 30px;
}

table.listing a.up {
  position: absolute;
  right: 0px;
  top:  0px;
  width:  40px;
  height: 30px;
}

table.listing a.top:hover,
table.listing a.up:hover {
  background: #999;
  text-decoration: none;
}

td.selected {
  background: #dae7fa;
}

td.unselected:hover {
  color: #444;
  background-color: #d5e1ef;
  cursor: pointer;
}

table.listing td a.normal:link {
  display: block;
  color: #e3ecff;
  background: #777;
}

table.listing th.top a.normal:hover {
  display: block;
  color: #444;
  text-decoration: none;
}

/* _______ slidelinks _______ */

table.listing a.left {
  display: block;
  float: left;
  width: 8px;
  height: 16px;
}

table.listing a.right {
  display: block;
  float: right;
  width: 8px;
  height: 16px;
}

table.listing a.navicon {
  display: block;
  float: left;
  width: 22px;
  height: 100%;
}

table.listing a.left:hover {
  background-image: url(slideleft.gif);
  background-color: transparent;
  text-decoration: none;
}

table.listing a.right:hover {
  background-image: url(slideright.gif);
  background-color: transparent;
  text-decoration: none;
}

div.normal {
  display: block;
  padding: 1px 0 2px;
}

/* ________________________________________________ form definitions _______ */

input {
  padding: 4px 2px;
  border: 1px solid #777;
}

input.store[type=text], textarea.store {
  width: 98%;
}

input.field-textline { /* zeam textline widget */
  width: 98%;
}

:focus {
	outline: 0;
}

textarea {
  border: 1px solid #777;
  width: 99%;
}

/* seems to keep IE7 in check without anything else */
input[type="submit"] {
  overflow: visible;
}

input[type="checkbox"] {
	border: 0;
	background-image: none;
	background-color: none;
}

select {
	margin: 0;
}

select.clipboard, select.clipboard:focus, select.clipboard:hover {
  width: 97%;
  max-width: 100%;
  border: none;
}

select.clipboard option.disabled {
  color: #333;
  background: #ddd;
}

.top-controls select, .controls select {
	margin: 1px 2px 0 0;
}

/* ========================= Buttons ============================= */

input::-moz-focus-inner, button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

input.button, 
button.button, 
a.transporter, 
div.executor a,
.controls input,
.middleground input.action {
    display: inline-block;
    margin: 0px 3px 0 2px;
    padding: 4px 7px 5px;
    border: 1px solid #777;
    color: white;
    text-align: center;
    text-shadow: 0px -1px 1px hsla(0,0%,0%,.4);
    text-decoration: none;
    cursor: pointer;
    font: bold 13px arial, helvetica, sans-serif;
      
    /*Border radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
                
    background: #237fd7 url(overlay.png) top left repeat-x;
      
    /*Box shadow*/
    -webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                        inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                        0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
    -moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                    inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                    0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
    box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
}

input.button:hover, 
button.button:hover, 
a.transporter:hover,
div.executor a:hover,
.controls input:hover,
.middleground input.action:hover {
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
}

input.remover, input.warning, button.remover, button.warning {background-color: #752e2f;}
input.canceler, button.canceler {background-color: #888;}


/* _______ form labels _______ */

label {
  color: #555;
}

tr.controls label, tr.inter-controls label {
  color: #333;
}

th label {
  color: #777;
}

/* _______ field iterators _______ */

table.listing td.designator {
  padding-bottom:0.1em;
  vertical-align: top;
}
table.listing td.designator label {
  font-size: 115%;
  font-weight: bold;
  line-height: 1.5em;
  text-transform: capitalize;
}
table.listing td.designator span.matchlabel {
  font-size: 115%;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}
table.listing td.designator p, td.designator ul,
table.listing td.field p {
  margin:0px 0 10px;
  color:#667;
}

/* _______ subscreen parent links _______ */

table.listing td.parent {
  padding: 0;
  border: 1px solid #789;
  background-color: #283365;
  text-align: center;
  vertical-align: bottom;
}

table.listing td.parent a {
  color: #d9f3f1;
  text-decoration: none;
}
table.listing td.parent a:hover {
  color: #bfffd3;
  background-color: #53538b;
}
/* only used in lookup ui for back */
table.listing div.transport-border {
  padding-bottom: 1px;
  border: 1px solid #8faecf;
}
table.listing div.transport-border:hover {
  color: #bfffd3;
  background-color: #53538b;
} 

/* ________________________________________________ info + clipboard _______ */

.info {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #999;
  color: #333;
  background: #eee;
}

.info h3 {
  color: #333;
  margin-bottom: 5px;
  padding: 0 0 7px;
  text-transform: capitalize;
  border-bottom: 1px solid #bbb;
}

.info h3 img {
  vertical-align:top;
}

.info p span.orientation {
  display: block;
  margin-top: 0.3em;
  border: 1px dotted black;
  text-align: center;
}

.info p span.portrait {
  width: 4.5em;
  height: 6em;
}

.info p span.landscape {
  width: 6.5em;
  height: 3.5em;
}

.info p span.square {
  width: 4em;
  height: 4em;
}

/* ________________________________________________________ feedback _______ */

.workspace .middleground + .fixed-feedback {
	margin-top: 0;
	}

/* feedback under the matrix nav */
.fixed-feedback {
  margin: 10px;
  border: 1px solid yellow;
  padding: 5px 10px;
  color: #333;
  background: #f1f0d9;
}

.fixed-feedback form button.button {
  margin: 10px;
}

.fixed-alert {
  height: 1%; /*hack for ie */
  margin: 0 10px 15px;
  border: 1px solid red;
  padding: 5px 10px;
  color: #3333;
  background: #f7d1d1;
  top:  10px;
  position: relative;
}
.fixed-clear {
	display: none;
}
.fixed-clear a.reveal {
  color: #777;
}
.fixed-clear a.reveal:visited {
  color: #eaf3f5;
}
.fixed-clear a.reveal:hover {
  color: #8b9194;
  text-decoration: none;
}

/* for notifications in right column */
td.right div.feedback {
  margin-top: 0;
}

/* floating feedback  */
div.feedback {
  position:relative; /* for IE6 peekaboo bug */
  margin: 0;
  border: 1px solid #789;
  padding: 0.4em 0.7em 0.7em 0.7em;
  color: #555;
  background-color: #f3f3d9;
}
div.alert {
  margin: 0;
  border: 1px solid #789;
  padding: 0.4em 0.7em 0.7em 0.7em;
  color: #3c2d50;
  background-color: #f7d1d1;
}
div.feedback a {
  color: #000080;
  text-decoration: underline;
}

/* table row/cell feedback  */
table.listing tr.feedback, table.listing td.feedback {
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  border-top: 1px solid #789;
  color: #555;
  background-color: #f3f3d9;
}
table.listing tr.alert, table.listing td.alert {
  border-top: 1px solid #789;
  border-bottom: 1px solid #789;
  color: #3c2d50;
  background-color: #f7d1d1;
}

/* _______ message box in content publish screen _______ */

table.listing .message {
  padding: 0;
}

table.listing div.message {
  margin: 0;
  padding: 0.2em 0.6em 0.2em 0.6em;
  border: 1px solid #557;
  border-style: solid none solid none;
  color: #2e2e77;
  background-color: #d9f4eb;
  font-weight: normal;
}

/* ___________________________________________ Silva specific styles _______ */

img {
  border: none;
}

img.icon {
  margin: 0em;
}

a.icon:hover {
  text-decoration: none;
}

/* _________________________________ align/float _______ */

.image-left {
  text-align: left;
}

.image-center {
  text-align: center;
}

.image-right {
  text-align: right;
}

.float-left {
  float: left;
  clear: none;
  margin-right: 1em;
}

.float-right {
  float: right;
  clear: none;
  margin-left: 1em;
}

/* _______________________________________ lists _______ */

dt {
  background: transparent;
}

dd {
  background: transparent;
  margin-left: 2.5em;
}

ul {
  margin-top: 0.2em;
  padding-left: 1.4em;
  line-height: 130%;
}

ul.tips {
  list-style-type: square;
}

/* ___________________________________________________________ links _______ */

a.blacklink {
  line-height: 16px;
  color: #333;
  text-decoration: none;
}
a.blacklink:visited {
  color: #333;
  text-decoration: none;
}
a.blacklink:hover {
  color: #333;
  text-decoration: underline;
}

/* underline (blue) selectors */
a.underline:link {
  color: #000080;
  text-decoration: underline;
}
a.underline:visited {
  color: #000080;
  text-decoration: underline;
}
a.underline:hover {
  color: #005050;
  text-decoration: none;
}

/* highlighting index links */
a.index-element {
  background-color: #e9ff97;
  text-decoration: none;
}

/* draft (red) selectors */
.draft, a.draft {
  color: #cc0000;
}

/* pending (yellow) selectors */
.pending, a.pending {
  color: #8f7f01;
}

/* approved (green) selectors */
.approved, a.approved {
  color: #007746;
}

/* published (blue) selectors */
.published, a.published {
  color: #000080;
}

/* closed (gray) selectors */
.closed, a.closed {
  color: #666;
}

/* draft (red) selectors */
a.draft:link {
  color: #cc0000;
  text-decoration: none;
}
a.draft:visited {
  color: #cc0000;
  text-decoration: none;
}
a.draft:hover {
  color: #cc0000;
  text-decoration: underline;
}

/* pending (yellow) selectors */
a.pending:link {
  color: #8f7f01;
  text-decoration: none;
}
a.pending:visited {
  color: #8f7f01;
  text-decoration: none;
}
a.pending:hover {
  color: #8f7f01;
  text-decoration: underline;
}

/* approved (green) selectors */
a.approved:link {
  color: #007746;
  text-decoration: none;
}
a.approved:visited {
  color: #007746;
  text-decoration: none;
}
a.approved:hover {
  color: #007746;
  text-decoration: underline;
}

/* published (blue) selectors */
a.published:link {
  color: #000080;
  text-decoration: none;
}
a.published:visited {
  color: #000080;
  text-decoration: none;
}
a.published:hover {
  color: #000080;
  text-decoration: underline;
}

/* closed (gray) selectors */
a.closed:link {
  color: #666;
  text-decoration: none;
}
a.closed:visited {
  color: #666;
  text-decoration: none;
}
a.closed:hover {
  color: #666;
  text-decoration: underline;
}

.hilite {
  background: #ebecef;
}

/* form datetime field punctuation */
.punctuation {
  	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.required {
  color: #cc0000;
  	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.warning {
  color: #aa0000;
}

.error {
  color: #cc0000;
  background: transparent;
}

.fault {
  color: #ff1111;
}

.subhead {
  color: #333767;
  font-weight: bold;
  font-family: verdana, arial, helvetica, sans-serif;
}

/* definitions for batching */
div.listingbar {
  width: 60em;
  margin: 2em 0;
}

div.listingbar .next {
  margin-left: 5em;
}

div.listingbar .previous {
  margin-right: 5em;
}

/* styles for the elaborate code source */

.elaborate fieldset{
  float:left;
  margin-bottom:0.2em;
}

input.hider {
  border: none;
  background: none;
  color: #777;
}

input.hider:hover {
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

/* ========== kupu styles =========== */

.kupu-link-reference-table {
  width: 100%;
}

.kupu-link-reference-table td {
  white-space: nowrap;
}

.kupu-link-reference-table td.buttoncell {
  width: 21px;
  vertical-align: middle;
  padding: 0;
}

.kupu-link-reference-table button {
  margin: 0;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.kupu-link-reference-table button.kupu-link-lookupbutton {background: url("magnifier.png") no-repeat;}
.kupu-link-reference-table button.kupu-link-editbutton {background: url("edit.png") no-repeat;margin:0 0 0 10px;}
.kupu-link-reference-table button.kupu-link-addadditional {background: url("list-add.png");}
.kupu-link-reference-table button.kupu-link-removebutton {background: url("list-remove.png");}

button.calendar-button {
  background-image: url("calendar.png");
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* ============ Breadcrumb Double-Caret Navigation =========== */

.breadcrumb-item {
  position: relative;
}

.breadcrumb-sep {
  cursor: s-resize;
}

.smi-tab-list {
  position:absolute;
  z-index: 100;
  top:  27px;
  left: -4px;
  padding:7px 10px;
  margin:00px 0 0.5em;
  color:#333;
  background:#fff;
   
    /* css3 */
  -webkit-box-shadow: 0px 2px 3px #999;
  -moz-box-shadow: 0px 2px 3px #999;
  box-shadow: 0px 2px 3px #999;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  list-style: none;
}

/* creates the triangle */
.smi-tab-list:after {
  content:"\00a0";
  display:block; /* reduce the damage in FF3.0 */
  position:absolute;
  z-index:-1;
  top:-23px;
  left:6px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-bottom-color:#fff;
}


/* for jquery ui items */
#remote-form-dialog {
  display: none;
}
#remote-request-loading {
  display: none;
  position: absolute;
  top: 0px;
  right: 50%;
  color: black;
  padding: 0.1em 1.5em;
  border-left: 1px solid #0E7F2A;
  border-bottom: 1px solid #0E7F2A;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #D8EED5;
  z-index: 200000;
}

/* end */

.refitem img.icon {
	float: left;
	margin: 0 5px 0 0;
}

#preview_frame_bottom {
	position: absolute;
	top: 0;
}

/* author comments on the publish tab */
table.listing .message {
  padding: 0;
}

table.listing div.message {
  margin: 0px;
  padding: 10px;
  color: #2e2e77;
  background-color: #fff;
  font-weight: normal;
  font-style: italic;
}

table.listing div.message:before, table.listing div.message:after {
  content: '"';
}
/* end: author comments on the publish tab */
