[buildout]
develop = .
parts = test checker coverage-test coverage-report
versions = versions

[versions]
zope.schema >= 3.5.4 #otherwise assigning a ValidationError to job.error


[test]
recipe = zc.recipe.testrunner
eggs = p01.remote [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/p01/remote


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.remote [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
