
[buildout]
extensions=gp.vcsdevelop
parts =
    python
    django
develop = .
eggs-directory = ../eggs
versions = versions
develop-dir=develop-src
requirements = requirements.txt

[versions]
django = 1.3.1

[python]
recipe = zc.recipe.egg
interpreter = python
eggs =
    bigmouth
    ${buildout:requirements-eggs}

[django]
recipe = djangorecipe
project = bigmouth_example
projectegg = bigmouth_example
settings = settings
eggs =
    bigmouth
    ${buildout:requirements-eggs}


