# macros available:
#   user    -   user name
#   host    -   host name
#   uuid    -   RFC 4122 Type 4 ID
#   today   -   Today's date in ISO 8601 format
#   now     -   UTC time in ISO 8601 format
[section_a]
properties_user=%(user)s 
properties_host=%(host)s 
properties_date=%(today)s
properties_rev=237
