# macros available:
#   user    -   user name
#   host    -   host name
#   uuid    -   RFC 4122 Type 4 ID
#   today   -   Today's date in ISO 8601 format
#   now     -   UTC time in ISO 8601 format
[DEFAULT]

[edit]
# action: copy(default), pop
prefix=%(uuid)s
action=pop
PROPERTIES_USER=%(user)s 
PROPERTIES_HOST=%(host)s 
PROPERTIES_DATE=%(today)s
PROPERTIES_ID=%(uuid)s

[pack]
prefix=%(user)s_reply
maxlen=30
