
/* * Main styling * */


/* root element for tabs  */
ul.css-tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #666;
}

/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #666;
    border-bottom:0px;
    height:18px;
    background-color:#efefef;
    color:#777;
    margin-right:2px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright:4px;
    position:relative;
    top:1px;
}

ul.css-tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}

/* selected tab */
ul.css-tabs a.current {
    background-color:#eee;
    border-bottom:2px solid #eee;
    color:#000;
    cursor:default;
}

/* tab pane */
.tabpane div {
    display:none;
    border:1px solid #666;
    border-width:0 1px 1px 1px;
    min-height:150px;
    padding:15px 20px;
    background-color:#eee;
}

#pageLogin {
    font-size: 10px;
    font-family: verdana;
    text-align: right;
}

html, body {
  color: black;
  background-color: white;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  height: 36px;
  width: 100%;
  background: #5ec2dd URL('../static/header_inner.png') no-repeat;
  margin: 0 auto 0 auto;
}

#header div {
    color: #eef;
    text-align: right;
    padding: 8px 8px 0 0;
    font-size: 150%;
    font-weight: bold;
}

a.link, a, a.active {
  color: #369;
}

#main_content {
  color: black;
  font-size: 127%;
  background-color: white;
  width: 818px;
  margin: 0 auto 0 auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 10px;
}

#footer {
  color: #999;
  padding: .5em;
  font-size: 90%;
  text-align: center;
  width: 818px;
  margin: 0 auto 2px auto;
}

.code {
  font-family: monospace;
}

span.code {
  font-weight: bold;
  background: #eee;
}

.fielderror {
    color: red;
    font-weight: bold;
}

table td{
    border-color: #ddd;
    border-width: 0 1px 1px 0;
    border-style: solid;
    vertical-align: center;
}

table td:hover {
    background-color: #f4f4f4;
}

table td.hea {
    width: 200px;
}

table td.hea:hover {
    background-color: #eee;
}

table td img {
    margin: 1px;
}

table td {
    padding: 0 .5em 0 .5em;
}

table#items tbody .selected_row {
    color: red;
}

.diff_chg {
    color: red;
    font-weight:bold;}
}
div#msgpane {
    width: 100%;
}
div#msgpane table {
    width: 100%;
}
.tooltip {
    display:none;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    font-size:13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
}

div#savereset {
    position: absolute;
    top: 50px;
    right: 20px;
}

.modal {
    background-color:#fff;
    display:none;
    width: 18em;
    padding:2em;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

div#editing_form {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

input {
    background: #fafafa;
    border: 1px solid #333
}

input:hover { background: #fff}

// Message pane
div#msgpane {
    height:10em;
    overflow:auto;
}
div#msgslot {
    height:10em;
    overflow:auto;
}

table#msgs tr td.hea {
    width: 20px;
    vertical-align:middle;
}
table#msgs tr td { border-color: #fff; }
table#msgs tr td.ts { width: 5em; }

div#gradient {
 border-top: 1px solid #ccc;
  position: relative;
  top: 15px;
  height: 15px;
  width: 100%;
  background: url('../static/gradient.png') repeat-x;
  z-index: 4000;
}

// Selected table row
.selected_tr {
    border: 1px solid black;
    border-left: 3px solid black;
    color: red;
}

/* Tab styling */


#triggers img {
    border:0;
    cursor:pointer;
    margin-left:11px;
}

/* Form validation error message */

.error {
    z-index: 30055;
    height:15px;
    background-color: #eeeeff;
    border:1px solid #000;
    font-size:11px;
    color:#000;
    padding:3px 10px;
    margin-left:20px;


    /* CSS3 spicing for mozilla and webkit */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-top-left-radius:0;

    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;
}
div#multisel {
    margin: 0;
    padding: 0.1em;
    display: block;
    border: 0;
    background-color: transparent;
}
div#multisel div#selected {
    margin: 0 0 0 4em;
    padding: 0 2px 0 2px;
    display: block;
    border: 1px #333 solid;
    width: 20em;
    background: #fafafa;
}
div#multisel div#selected p {
    margin: 0;
    padding: 0;
    height: 1em;
    cursor: default;
}
div#multisel div#selected p:hover {
    text-decoration: line-through;
}
img#help { float: right; }
div#help_ovr {
    background-color:#fff;
    display:none;
    width: 70em;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    opacity:0.98;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}
