[buildout]
parts = test interpreter
develop = .

[test]
recipe = zc.recipe.testrunner
eggs =
    sw.grokcore.jsonp
    sw.grokcore.jsonp[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']


[interpreter]
recipe = zc.recipe.egg:script
eggs = sw.grokcore.jsonp
interpreter = py
