@import "base";

@include blueprint-global-reset;

div#container {
    @include container;
    @include single-box-shadow;
    margin: 10px auto 0 auto;;
    
    h2 {
        text-align: center;
        font-size: 150%;
    }
}