.eea-refwidget-popup .popup-tabs {
  width: 80%;
  border: none;
  float: left;
}

.eea-refwidget-popup .ui-dialog-titlebar {
  background: #cde2a7 url(title-bar-background.png) repeat-x scroll 50% 50%;
}

.eea-refwidget-popup  .popup-tabs ul.ui-widget-header {
  background: none;
  border: none;
}

.eea-refwidget-popup  .ui-tabs .ui-tabs-panel {
  border: 1px solid #D3D3D3;
}

.eea-refwidget-popup  .popup-selected-items {
  float: left;
  width: 19%;
  border: 1px solid #D3D3D3;
  margin-left: 1px;
}

.eea-refwidget-popup  .popup-selected-items .ui-state-default {
  padding: 0.2em;
  font-weight: bold;
  margin: 0px;
  font-size: 85%;
}

.eea-ref-selecteditems {
  padding: 1em;
}

.eea-ref-selecteditems .tileHeadline {
  margin-top: 0.83em;
}

.eea-ref-selecteditems-box {
  border: 1px solid #8CACBB;
  background: #ffffff url(input_background.gif) repeat-x scroll 0 0;
  height: 14em;
  overflow: auto;
}

.eea-ref-selecteditems .tileItem {
  border: none;
}

.eea-ref-selecteditems .tileItem a {
  font-weight: normal;
  color: #00446a;
}

.eea-ref-selecteditems .tileBreadcrumbs {
  color: #578308;
  font-size: 90%;
  padding-left: 1em;
}

.eea-refwidget-popup  .popup-selected-items-content .ui-state-highlight {
  height: 4em;
}

.eea-refwidget-popup  .popup-selected-items-content .tileItem:hover {
  background-color: #FBF9EE;
}

.eea-refwidget-popup  .ui-icon-custom-add {
  float: right;
  visibility: hidden;
}

.eea-refwidget-popup  .refbrowser-faceted-addable-item:hover {
  background-image: none;
  background-color: #FBF9EE;
  cursor: pointer;
}

.eea-refwidget-popup  .refbrowser-faceted-addable-item:hover .ui-icon-custom-add {
  visibility: visible;
}

.ui-effects-transfer {
  border: 2px dotted #578308;
  z-index: 10000;
}

.eea-refwidget-popup  .ui-pulsate-item {
  border: 1px dotted #578308;
  background-color: #e9efcd;
}

.eea-refwidget-popup  .ui-icon-basket-trash {
  float: right;
  visibility: hidden;
}

.eea-refwidget-popup  .popup-selected-items-content .tileItem:hover .ui-icon-basket-trash{
  visibility: visible;
}

.eea-refwidget-popup  .ui-state-working {
  background: #E6E6E6 url(eeareferencebrowser-loading.gif) no-repeat right center ! important;
}

.eea-refwidget-popup  .popup-tips {
  clear: both;
  margin: 0 0.7em 0 0;
  cursor: pointer;
}

.fieldRequiredFor {
  background:transparent url(required_for.gif) no-repeat scroll left center;
  color:White;
  padding:0 0 0 8px;
  background-position: center center;
}

/* Tabs */
.popup-tabs ul.formTabs {
  background-color: #ddd;
  border: 0.3em solid #ddd;
}

.popup-tabs ul.formTabs {
  display: block;
  border-style: solid solid none solid;
  margin-left: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

.popup-tabs li.formTab {
    display: inline;
    margin-right:0.25em;
}

.popup-tabs li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}

.popup-tabs li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}

.popup-tabs li.formTab a.current {
    font-weight: bold;
}

.popup-tabs li.formTab a.current,
.popup-tabs li.formTab a:hover {
    background: White;
    color: Black;
}

.popup-tabs .panes {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #DDDDDD;
}

.contenttype-eeapossiblerelation {
  background-image: url(eeapossiblerelation.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding-left: 20px;
}

.contenttype-eeapossiblerelation img {
  display: none;
}

.contenttype-eearelationscontenttype {
  background-image: url(eearelationscontenttype.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding-left: 20px;
}

.contenttype-eearelationscontenttype img {
  display: none;
}
