BODY {
	margin: 0px;
	padding: 5px;
	font-size: 0.9em;
	font-family: "Switzera ADF Cd", "DejaVu Sans", "Lucida Sans", Arial, sans-serif;
}

.hidden {
	display: none;
}

.nofloat {
	float: none !important;
}

A {
	text-decoration: none;
	color: black;
}
A:active {
	text-decoration: underline;
}

A:visited {
	text-decoration: none;
	color: black;
}

TEXTAREA {
	font-size: 90%;
}

SPAN.light {
	font-weight: lighter;
	font-size: 80%;
}

#header DIV.crumbs {
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 10px;
	border-top: 1px solid #ffe0bf;
	border-bottom: 1px solid #ffe0bf;
}

#left_column {
	float: left;
	width: 15%;
}

#right_column {
	float: right;
	width: 15%;
}

DIV.border-column DIV.actions,
DIV.border-column DIV.workflow,
DIV.border-column DIV.properties,
DIV.border-column DIV.login {
	padding: 2px;
	margin-bottom: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

DIV.border-column DIV.actions {
	background-color: #fff8f8;
	border: 1px solid #ff8300;
}

DIV.border-column DIV.workflow {
	background-color: #e6f9ff;
	border: 1px solid #06799f;
}

DIV.border-column DIV.zmi_views,
DIV.border-column DIV.zmi_actions {
	background-color: #ffae73 !important;
	border: 1px solid #a64600 !important;
}

DIV.border-column DIV.properties {
	background-color: #eee;
	border: 1px solid #aaa;
}

DIV.border-column DIV.login {
	background-color: #bbb;
	border: 1px solid #777;
}

DIV.border-column DIV.actions H2,
DIV.border-column DIV.workflow H2,
DIV.border-column DIV.properties H2,
DIV.border-column DIV.login H2 {
	margin: 0px;
	padding: 2px 5px;
	color: #fff8f8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

DIV.border-column DIV.actions H2 {
	background-color: #ff8300;
}

DIV.border-column DIV.workflow H2 {
	background-color: #06799f;
}

DIV.border-column DIV.zmi_views H2,
DIV.border-column DIV.zmi_actions H2 {
	background-color: #a64600 !important;
}

DIV.border-column DIV.properties H2 {
	background-color: #aaa;
}

DIV.border-column DIV.login H2 {
	background-color: #777;
}

DIV.border-column DIV.properties H2.inner {
	margin-top: 5px;
}

DIV.border-column DIV.actions A,
DIV.border-column DIV.workflow A {
	display: block;
	padding: 1px 5px;
	border-bottom: 1px solid silver;
}

DIV.border-column DIV.actions A.active-menu-item,
DIV.border-column DIV.workflow A.active-menu-item {
	font-weight: bold;
}

DIV.border-column DIV.actions A.last {
	border-bottom-width: 0;
	border-top: 1px solid silver;
}

DIV.border-column DIV.properties DIV,
DIV.border-column DIV.login DIV {
	padding: 2px;
}

DIV.border-column DIV.properties DIV.history DIV {
	padding: 0px 2px;
}

DIV.border-column DIV.properties SPAN.label,
DIV.border-column DIV.login SPAN.label {
	font-weight: bold;
}

DIV.border-column DIV.properties DIV.switcher {
	cursor: pointer;
}

DIV.border-column DIV.properties DIV.switch {
	display: none;
}

DIV.border-column DIV.properties HR {
	margin: 2px auto;
	border: 1px solid #aaa;
	border-bottom-width: 0px;
}

#content {
	margin-left: 16%;
	margin-right: 16%;
}

H1 {
	margin: 0.25em 0 0.5em 0;
	font-size: 150%;
}

H2 {
	margin: 0.15em 0 0.25em 0;
	font-size: 130%;
}

H3 {
	margin: 0.1em 0 0.15em 0;
	font-size: 110%;
}

/** Dialog styles */
DIV.loader {
	text-align: center;
}

DIV.dialog {
	background-color: white;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

DIV.dialog TABLE {
	width: 100%;
}

DIV.form FIELDSET {
	padding: 3px;
	margin: 5px 0px 0px;
	border: 1px solid #ff8300;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

DIV.dialog DIV.form FIELDSET {
	border-width: 1px 0px 0px;
}

DIV.form LEGEND {
	padding: 1px 5px;
	color: #ff8300;
	border: 1px solid #ff8300;
	font-size: 115%;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

DIV.form FIELDSET FIELDSET LEGEND {
	color: #999;
}

DIV.form FIELDSET TEXTAREA {
	width: 99%;
}
DIV.form FIELDSET FIELDSET TEXTAREA {
	margin-left: 2px;
}

DIV.required-info {
	padding: 2px 5px;
	background-color: #f8f8ff;
	border: 1px solid silver;
	margin-bottom: 5px;
	font-style: italic;
}

DIV.help {
	padding: 2px 5px;
	background-color: infobackground;
	border: 1px solid silver;
	color: infotext;
	margin-bottom: 5px;
}

DIV.status {
	padding: 2px 5px;
	background-color: #f8f8ff;
	color: red;
	border: 1px solid red;
}

DIV.status DIV.summary {
	font-weight: bold;
}

DIV.status UL.errors {
	margin: 0.3em 0px;
}

DIV.status UL.errors LI {
	list-style-position: inside;
}

UL.errors DIV.error {
	display: inline;
}

DIV.row DIV.error DIV.error {
	border: none;
	float: right;
	padding-right: 2px;
	color: red;
}

SELECT,
TEXTAREA,
INPUT[type="text"],
INPUT[type="password"] {
	border: 1px solid silver;
	background-color: #ffffdf;
	padding: 0px 2px;
}

TEXTAREA,
INPUT[type="text"],
INPUT[type="password"] {
	border: 0px;
	border-bottom: 1px solid silver;
	border-left: 1px solid silver;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

DIV.row DIV.error DIV.widget TEXTAREA,
DIV.row DIV.error DIV.widget INPUT[type="text"],
DIV.row DIV.error DIV.widget INPUT[type="password"] {
	border-width: 2px;
	border-color: red;
	padding-left: 4px;
}

TABLE.ordered-selection-field {
	width: auto !important;
}

TABLE.ordered-selection-field SELECT {
	width: 250px;
}

DIV.buttons {
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;
}

INPUT.submit-widget,
INPUT.button-widget {
	border: 2px solid #ff8300;
	background-color: #ffe0bf;
	padding: 2px 10px;
	font-weight: bold;
	font-variant: small-caps;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

FIELDSET TABLE {
	width: 100%;
}

TABLE.orderable,
TABLE.treeview {
	border-spacing: 0px 2px;
}

TABLE.orderable TR,
TABLE.treeview TR {
	margin: 2px 0px;
}

TABLE.orderable TH,
TABLE.treeview TH {
	text-align: left;
	padding-left: 20px;
}

TABLE.orderable TH.sorter,
TABLE.orderable TH.hidden,
TABLE.orderable TH.preview,
TABLE.treeview TH.hidden {
	padding-left: 0px;
}

TABLE.orderable TH.sorter {
	width: 16px;
	text-align: center;
}

TABLE.orderable TH.preview {
	width: 70px;
}

TABLE.orderable IMG.handler {
	padding-top: 2px;
}

TABLE.orderable TR.sorting-holder {
	height: 20px;
}

TABLE TD.title {
	width: 50%;
}

TABLE.orderable TD,
TABLE.treeview TD {
	background-color: infobackground;
}

TABLE .ui-icon {
	float: left;
	height: 12px;
}

TABLE.treeview TR.accept TD.title {
	background-color: white;
	padding-bottom: 16px;
}

TABLE.treeview TR.ui-draggable-dragging TD.title {
	width: 250px;
}

TABLE.orderable TD.preview {
	text-align: center;
	padding-right: 6px;
}

TABLE.treeview TD.title IMG {
	vertical-align: middle;
	padding-bottom: 2px;
}

TABLE TR.site TD.title .ui-icon {
	background-position: 0px -115px;
}

TABLE TR.blog TD.title .ui-icon {
	background-position: -192px -115px;
}

TABLE TR.section TD.title .ui-icon {
	background-position: -16px -100px;
}

TABLE TR.topic TD.title .ui-icon {
	background-image: url(/--static--/ztfy.jqueryui/img/ui-icons_cd0a0a_256x240.png) !important;
	background-position: -32px -99px;
}

TABLE.treeview TR.collapsed TD.title .ui-icon {
	background-image: url(/--static--/ztfy.jqueryui/img/ui-icons_888888_256x240.png);
}

TABLE.foldertree TD.title .ui-icon {
	background-position: -16px -100px;
}

TABLE TD.size {
	text-align: right;
	padding-right: 10px;
}

TABLE TD.status {
	color: #2e83ff;
}

TABLE.treeview TD.status .ui-workflow {
	margin-left: 10px;
}

TABLE TD.status .ui-workflow {
	background-image: url(/--static--/ztfy.jqueryui/img/ui-icons_2e83ff_256x240.png) !important;
}

TABLE TD.status .ui-icon-draft {
	background-position: -177px -115px;
}

TABLE TD.status .ui-icon-published {
	background-position: -144px -99px;
}

TABLE TD.status .ui-icon-retired {
	background-position: 0px -130px;
}

TABLE TD.status .ui-icon-archived {
	background-position: -193px -99px;
}

TABLE TD.actions .ui-icon {
	cursor: pointer;
}

TABLE TD.actions .ui-icon-trash {
	background-position: -176px -99px;
}

TABLE TD.actions .ui-icon-squaresmall-plus {
	background-position: -48px -210px;
}

FORM IMG.search {
	position: absolute;
	width: 16px;
}

FORM INPUT.search {
	margin-left: 20px !important;
	width: 97% !important;
}

/** Overlay */
#mask {
	opacity: 0.6;
}

#osx-container {
	background-color: #eee;
	color: #000;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: .9em;
	padding-bottom: 4px;
	width: 750px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-box-shadow: 0 0 64px #000;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-box-shadow: 0 0 64px #000;
}

#osx-modal-title {
	color: #000;
	background-color: #ddd;
	border-bottom: 1px solid #ccc;
	padding: 6px 8px;
	font-size: 130% !important;
	font-weight: bold;
	text-shadow: 0 1px 0 #f4f4f4;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

DIV.overlay {
	display:none;
	background-color: silver;
	width:750px;	
	border:2px solid #666;
	border:2px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#selector {
	display: none;
	overflow: auto;
	height: 200px;
	background-color: infobackground;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	border-left: 1px solid silver;
}

#selector DIV.reference {
	padding: 2px 10px 2px 20px;
	border-bottom: 1px solid silver;
	cursor: pointer;
}
