@media screen {

/*----- Reset -----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
  }
table {
  border-collapse:collapse;
  border-spacing:0;
  }
fieldset,img { 
  border:0;
  }
img {
  vertical-align:text-bottom;
  }
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
  }
caption,th {
  text-align:left;
  }
h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
  }
ol,ul {
  list-style:none;
  list-style-image:none;
  list-style-type:none;
  }
q:before,q:after {
  content:'';
  }
abbr,acronym {
  border:0;
  }

/*---------- LAYOUT ----------*/
div.row {
  float:left;
  width:100%;
  display:block;
  position:relative;
  }
div.cell {
  position:relative;
  float:left;
  left:100%;
  }
  
/*----- WIDTH CLASSES. -----*/
/*----- For a given cell width -----*/ 
div.width-1  { width:  5.3125% }
div.width-2  { width: 11.625% }
div.width-3  { width: 17.9375% }
div.width-4  { width: 24.25% }
div.width-5  { width: 30.5625% }
div.width-6  { width: 36.875% }
div.width-7  { width: 43.1875% }
div.width-8  { width: 49.5% }
div.width-9  { width: 55.8125% }
div.width-10 { width: 62.125% }
div.width-11 { width: 68.4375% }
div.width-12 { width: 74.75% }
div.width-13 { width: 81.0625% }
div.width-14 { width: 87.375% }
div.width-15 { width: 93.6875% }
div.width-16 { width: 100% }

/*----- Positioning classes -----*/ 
div.position-0  { margin-left: -100% }
div.position-1  { margin-left: -93.75% }
div.position-2  { margin-left: -87.5%  }
div.position-3  { margin-left: -81.08% }
div.position-4  { margin-left: -74.75% }
div.position-5  { margin-left: -68.5% }
div.position-6  { margin-left: -62.1% }
div.position-7  { margin-left: -55.9% }
div.position-8  { margin-left: -49.45% }
div.position-9  { margin-left: -43.18% }
div.position-10 { margin-left: -36.87% }
div.position-11 { margin-left: -30.56% }
div.position-12 { margin-left: -24.24% }
div.position-13 { margin-left: -17.93% }
div.position-14 { margin-left: -11.62% }
div.position-15 { margin-left:  -5.31% }

/* Convenience classes — ¼, ½, ¾ widths and ¼, ½, ¾ positions. 
   Not strictly necessary. */
div.width-1\3a 2 { width:    49.5% } /* .width-1:2 */
div.width-1\3a 4 { width:    24.3% } /* .width-1:4 */
div.width-3\3a 4 { width:    74.7% } /* .width-3:4 */
div.position-1\3a 4 {margin-left:    -74.65% } /* .position-1:4 */
div.position-1\3a 2 {margin-left:    -49.45% } /* .position-1:2 */
div.position-3\3a 4 {margin-left:    -24.25% } /* .position-3:4 */


/* Special classes for ⅓, ⅔ widths and ⅓, ⅔ positions. 
These do not strictly conform to the grid, but are useful for certain layouts. */
div.width-1\3a 3 { width: 32.66%; } /* .width-1:3 */
div.width-2\3a 3 { width: 66.4%; } /* .width-2:3 */
div.position-1\3a 3 {margin-left: -66.35%;} /* .position-1:3 */
div.position-2\3a 3 {margin-left: -32.65%;} /* .position-2:3 */

/* Full/leftmost are useful synonyms for full width and leftmost positioning */
div.position-leftmost  { margin-left: -100%   }
div.width-full { width: 100% }

/* Define classes for 1/5ths and 1/6ths widths and positions. */
div.width-1\3a 5 { width:    19.2%; } /* .width-1:5 */
div.position-1\3a 5 {margin-left:    -79.8%;} /* .position-1:5 */
div.position-2\3a 5 {margin-left:    -59.6%;} /* .position-2:5 */
div.position-3\3a 5 {margin-left:    -39.4%;} /* .position-3:5 */
div.position-4\3a 5 {margin-left:    -19.15%;} /* .position-4:5 */

div.width-1\3a 6 { width:    15.8333%; } /* .width-1:6 */
div.position-1\3a 6 {margin-left:    -83.16%;} /* .position-1:6 */
div.position-5\3a 6 {margin-left:    -15.83%;} /* .position-5:6 */

#portal-column-content {
  margin-bottom:0.5em;
  }
#portal-column-content.width-1\3a 2 { width:    526px; } /* .width-1:2 */
#portal-column-content.width-3\3a 4 { width:    736px; } /* .width-3:4 */
#portal-column-content.width-full   { width:    947px;  } 
#portal-column-content.position-0  { margin-left: -969px; }
#portal-column-content.position-1\3a 4 {margin-left:    -758px;} /* .position-1:4 */
#portal-column-content.position-3\3a 4 {margin-left:    -210px;} /* .position-3:4 */

#portal-columns-wrapper {
  background:#fff url(../images/lite_sprite.png) no-repeat right -641px;
  border-right:4px solid #d5d5d5;
  border-bottom:4px solid #d5d5d5;
  width:995px;
  }
#portal-columns {
  background:#fff url(../images/lite_sprite.png) no-repeat right -641px;
  border-left:4px solid #d5d5d5;
  width:991px;
  }
#portal-columns.visualColumnHideTwo,
#portal-columns.visualColumnHideNone {
  background:url(../images/bg-column-left.gif) repeat-y scroll -190px top;
  border:0;
  margin-bottom:-4px;
  width:995px;
  }
.visualColumnHideOne #portal-column-content {
  width:736px;
  }
#portal-column-one {
  margin:1em 0 1em -987px;
  width:191px;
  }
#portal-column-one,
#portal-column-two {
  margin-bottom:0.5em;
  }
#portal-column-two {
  margin:51px 0 4px -210px;
  width:206px;
  }

/*--------- GENERAL STYLES -----------*/
body {
  background:#BBC3E3 url(../images/bg-columns.gif);
  font:69% "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
  }
body#content {
  font-size:0.75em;
  }
h1, h2 {
  color:#4f76b5;
  }
h1, h2, h3, h4, h5, h6 {
  margin:0.75em 0 0.25em;
  }
#content h5, #content h6 {
  color:#76797c;
  }
h1 {
  font-size:1.9em;
  line-height:1.2em;
  }
.documentFirstHeading {
  margin-top:0;
  }
h2 {
  font-size:1.7em;
  line-height:1.4em;
  }
h3 {
  font-size:1.4em;
  line-height:1.3em;
  }
h4 {
  font-size:1.2em;
  line-height:1.2em;
  }
h5 {
  font-size:1.05em;
  line-height:1.3em;
  }
h6 {
  font-size:0.95em;
  line-height:1.1em;
  }
p {
  line-height:1.5em;
  margin:0 0 0.75em;
  }
a {
  color:#4f76b5;
  }
a:link,
a:visited {
  color:#4f76b5;
  }
ul,
ol {
  line-height:1.5em;
  padding:0;
  }
ol {
  list-style-type:decimal;
  }
li {
  margin-bottom:0.5em;
  }
#edit-bar li {
  display:inline;
  }
dd {
  line-height:1.5em;
  margin-bottom:1em;
  }
form#searchform input.searchPage {
  font-size: 150%;
  }
form.searchPage input.searchButton {
  border-color:#d5d4d4;
  height:25px;
  }
#content a:link,
dl.portlet a:link {
  color:#4f76b5;
  }
#content a:visited,
dl.portlet a:visited {
  color:#4f76b5;
  }
#content a:hover,
dl.portlet a:hover {
  color:#4f76b5;
  }
#content ol,
dl.portlet ol {
  margin-left:2em;
  }
dl.portlet a {
  text-decoration:none;
  }
.themeComment {
  left:-9999px;
  position:absolute;
  }
input.searchButton {
  cursor:pointer;
  font-size:85%;
  margin-bottom:1px;
  text-transform:lowercase;
  }
#login-form {
  width:30em; 
  margin:0 auto;
  }
#login-form .field {
  clear:none;
  }
#login-form input.context {
  padding:1px 10px 1px 20px;
  margin-bottom:1em;
  }
#forgotten-password {
  float:right; 
  width:35%; 
  margin:0 1em;
  }
#content {
  font-size:110%;
  margin:0;
  padding:1em 0;
  }
#content ul {
  margin:0.5em 0 0 0;
  }
#content dt {
  line-height:1.5em;
  }
#content ul li {
  background:url(../images/lite_sprite.png) no-repeat 4px -439px;
  padding-left:1.5em;
  }
#content ul.configlets li {
  background:transparent;
  }



.documentDescription {
  font-weight:bold;
  line-height:1.5em;
  margin:0 0 0.5em;
  }
.discreet {
  color:#76797c;
  font-size:85%;
  }
.visualHighlight {
  background-color:#ffb;
  }
.pullquote {
  border-left:5px solid #222;
  margin:0 0 1em;
  padding:0 0 0 5px;
  }
.callout {
  background-color:#eee;
  border-left:1em solid #ccc;
  padding:1em;
  }
.hiddenStructure {
  background:none;
  border:0;
  display:block;
  height:0.1em;
  margin:-0.1em 0 0 -0.1em;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
  }
.visualClear {
  clear:both;
  }
/*---------- FORMS ----------*/
input {
  font-family:"Lucida Grande",Arial,FreeSans;
  font-size:1.2em;
  line-height:1.5em;
  margin:2px;
  vertical-align:middle;
  }
input[type="checkbox"],
input[type="radio"] {
  margin-right:3px;
  }
.label {
  font-weight:bold;
  }
label {
  font-weight:bold;
  vertical-align:middle;
  }
fieldset {
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:1em 0;
  }
div.field.error {
  background-color:#fdc;
  border:1px solid red;
  margin:1em 0;
  padding:0.5em;
  }
.formControls {
  margin:1em 0;
  }
.context,
.formControls .actionButtons .button {
  background:url(../images/lite_sprite.png)no-repeat -154px 50%;
  border:1px solid #bdcad7;
  cursor:pointer;
  font-size:100%;
  padding:1px 1px 1px 15px;
  }
.standalone {
  background:url(../images/lite_sprite.png) no-repeat 4px 50%;
  border:1px solid #bdcad7;
  cursor:pointer;
  font-size:100%;
  padding:1px 1px 1px 15px;
  }
.destructive {
  background:url(../images/lite_sprite.png)no-repeat -154px 50% #ffce7b;
  border:1px solid #bdcad7;
  cursor:pointer;
  font-size:100%;
  padding:1px 1px 1px 15px;
  }

/*---------- GENERAL -----------*/
#visual-portal-wrapper {
  background-color:#e7e7e7;
  border:1px solid white;
  margin:0 auto;
  padding:0;
  width:999px;
  }

/*---------- PORTAL TOP ----------*/
#portal-top {
  background-image:url(../images/top_images/bg_top1.jpg);
  background-position:center bottom;
  background-repeat:no-repeat;
  border-bottom:1px solid white;
  position:relative;
  z-index:5;
  }

/*---------- PORTAL SITEACTIONS ----------*/
#portal-siteactions {
  margin:0 270px 0 -8px;
  padding:7px 0 0;
  white-space:normal;
  }
#portal-siteactions li {
  border-left:2px solid #BEC8D2;
  color:#BEC8D2;
  display:inline;
  font-size:12px;
  font-weight:bold;
  line-height:20px;
  }
#portal-siteactions li a {
  border:0;
  color:#76797C;
  font-weight:normal;
  display:-moz-inline-box;
  display:inline-block;
  margin-right:0;
  padding:0 5px 0 8px;
  text-decoration:none;
  text-transform:lowercase;
  white-space:nowrap; 
  }
#portal-siteactions li:first-child {
  border-left:0;
  }
#portal-siteactions li a:hover {
  background:none;
  border:0;
  color:#6382A1;
  }
.visualColumnHideOne #portal-siteactions,
.visualColumnHideNone #portal-siteactions {
  margin-right:55px;
  }

/*---------- PORTAL SEARCHBOX ----------*/
#portal-searchbox {
  background:#fff url(../images/lite_sprite.png) no-repeat right -641px;
  padding:0 22px 0 0;
  position:absolute;
  right:0;
  top:0;
  width:175px;
  z-index:1;
  }
.collapsible .collapser.collapsed:after {
  content:" ▶"
  }
.collapsible .collapser.expanded:after {
  content:" ▼"
  }
.LSBox {
  margin-top:18px;
  }
.LSBox label {
  font-weight:normal;
  }
.searchSection {
  color:#76797C;
  font-size:9px;
  left:0;
  margin-top:0.25em;
  position:absolute;
  top:2px;
  }
.searchSection input {
  background-color:#fff;
  height:10px;
  margin:0;
  padding:0;
  width:10px;
  }
.searchSection label {
  vertical-align:top;
  }
.searchSection label:hover {
  color:Black;
  }
input.inputLabelActive {
  color:#76797c;
  }
#searchGadget,
#nolivesearchGadget {
  background-image:-webkit-gradient(
   linear,
   left bottom,
   left top,
   color-stop(0.07, rgb(255,255,255)),
   color-stop(0.54, rgb(247,247,247))
  );
  background-image:-moz-linear-gradient(
   center bottom,
   rgb(255,255,255) 7%,
   rgb(247,247,247) 54%
  );
  background-image:linear-gradient(
   center bottom,
   rgb(255,255,255) 7%,
   rgb(247,247,247) 54%
  );
  border:1px solid #B2B1B1;
  height:16px;
  padding-top:3px;
  vertical-align:top;
  width:137px;
  }
#portal-searchbox input.searchButton {
  background:#dbdbdb url(../images/lite_sprite.png) no-repeat 0 -250px;
  border:1px solid #B2B1B1;
  font-size:0;
  height:22px;
  padding-top:19px;
  overflow:hidden;
  vertical-align:top;
  width:22px;
  }

/*---------- LIVESEARCH ----------*/
.LSResult {
  position:relative;
  z-index:3;
  }
.livesearchContainer {
  border:0;
  margin:0;
  padding:0;
  position:absolute;
  right:-19px;
  top:3px;
  width:318px;
  }
#livesearchLegend {
  background-color:#fff;
  border-color:#d3d3d4;
  border-style:solid;
  border-width:1px 1px 0;
  line-height:1em;
  margin:0;
  padding:4px 8px 0;
  position:absolute;
  top:-15px;
  }
.LSIEFix {
  background-color:#fff;
  border:1px solid #d3d3d4;
  padding:10px 8px;
  }
.livesearchContainer .LSRow a {
  text-decoration:none;
  }
.LSDescr {
  color:#76797c;
  margin-left:7px;
  }

/*---------- PORTAL LOGO ----------*/
#portal-logo {
  display:inline-block;
  min-height:135px;
  }
#portal-logo img {
  border:0;
  margin-left:10px;
  margin-top:44px;
  }

/*---------- PORTAL GLOBALNAV ----------*/
#theme-globalnav {
  background:url(../images/lite_sprite.png) repeat-x top left;
  border-top:1px solid white;
  border-bottom:1px solid white;
  letter-spacing:-4px;
  margin:0;
  padding:0;
  text-align:center;
  white-space:normal;
  }
#theme-globalnav > li {
  border-right:5px solid #E6E6E6;
  display:inline-block;
  font-size:120%;
  line-height:1.25em;
  letter-spacing:0;
  margin:0;
  position:relative;
  white-space: nowrap;
  }
#theme-globalnav > li:first-child {
  border-left:5px solid #E6E6E6;
  }
#theme-globalnav > li a {
  background:#f4f2f3 url(../images/lite_sprite.png) no-repeat -315px 50%;
  border:0;
  color:#909090;
  display:-moz-inline-box;
  display:inline-block;
  font-weight:bold;
  margin:0;
  min-width:4em;
  padding:7px 22px;
  text-transform:capitalize;
  text-decoration:none;
  }
#theme-globalnav li.selected > a,
#theme-globalnav li a:hover,
#theme-globalnav li.selected > a:hover {
  background:#f4f2f3 url(../images/lite_sprite.png) no-repeat -315px 50%;
  color:#909090;
  border:0;
  }

/*----- DropDown -----*/
#theme-globalnav li ul {
  background-color:#fff;
  border:1px solid #cbcbcb;
  -webkit-box-shadow:0 -8px 5px #f3f3f3 inset;
  -moz-box-shadow:0 -8px 5px #f3f3f3 inset;
  box-shadow:0 -8px 5px #f3f3f3 inset; 
  display:none;
  left:0;
  padding:0 0 7px;
  position:absolute;
  margin:-5px 0;
  top:36px;
  width:191px;
  z-index:10;
  }
#theme-globalnav ul li {
  border-top: 1px solid #f3f3f3;
  display:block;
  margin:0;
  position:relative;
  text-align:left;
  }
#theme-globalnav > li:hover > a {
  position:relative;
  z-index:13;
  }
#theme-globalnav li:hover > ul {
  display:block;
  }
#theme-globalnav ul li a {
  background:transparent;
  display:block;
  font-weight:normal;
  padding:7px 18px 7px 10px;
  white-space:normal;
  }
#theme-globalnav ul li a span {
  line-height:1.1em;
  }
#theme-globalnav ul li.selected > a,
#theme-globalnav ul li a:hover,
#theme-globalnav ul li.selected a:hover {
  background:#f3f3f3;
  }
#theme-globalnav li ul ul {
  left:100%;
  top:3px;
  }
#theme-globalnav > li:hover > a.hasChildrens {
  background:#fff;
  border-color:#cbcbcb;
  border-style:solid;
  border-width:1px 1px 0 1px;
  -webkit-box-shadow:0 12px 12px #f3f3f3 inset;
  -moz-box-shadow:0 12px 12px #f3f3f3 inset;
  box-shadow:0 12px 12px #f3f3f3 inset; 
  padding:6px 21px 7px 21px;
  }
#theme-globalnav ul li a.hasChildrens {
  background-image:url(../images/lite_sprite.png) !important;
  background-position:right -260px;
  background-repeat:no-repeat;
  }
#theme-globalnav ul li:hover > a.hasChildrens {
  background-position:right -260px;
  }
#theme-globalnav .globalSectionsLevel1 {
  margin:0;
  }
#theme-globalnav > li:hover > .hasChildrens:before {
  background:#fff;
  border-color:#cbcbcb;
  border-style:solid;
  border-width:0 1px;
  bottom:-6px;
  content:'';
  font-size:0;
  height:6px;
  display:block;
  left:-1px;
  position:absolute;
  width:100%;
  z-index:13;
  }
  
/*---------- PORTAL PERSONAL TOOLS ----------*/
#portal-personaltools-wrapper {
  bottom:0;
  margin-right:10px;
  position:absolute;
  right:0;
  z-index:1;
  }
#portal-personaltools {
  background:transparent;
  line-height:1.5em;
  padding:1.5px 0;
  margin:0;
  text-align:right;
  text-transform:lowercase;
  }
#portal-personaltools dt a {
  color:#4f76b5;
  }
#portal-personaltools dt.actionMenuHeader a:after {
  content:" ▼";
  }
#portal-personaltools .portalNotLoggedIn {
  padding:0;
  background:transparent;
  background-image:none;
  }
#portal-personaltools dd {
  background:#e3e3e3;
  padding:4px 2px;
  }
#portal-personaltools li {
  color:#436976;
  margin:0;
  display:inline;
  }
#portal-personaltools li a {
  color:#76797C;
  line-height:2em;
  padding:0 0.5em;
  text-decoration:none;
  }
#portal-personaltools .visualIconPadding {
  padding-left: 10px;
  }
#portal-personaltools .actionMenuContent ul {
  margin:3px 0 0;
  }
#portal-personaltools .actionMenuContent li a:hover {
  background:#75ad0a;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  color:White;
  }
#portal-personaltools #anon-personalbar a {
  display:inline;
  text-decoration:underline;
  }
#portal-personaltools #anon-personalbar #personaltools-join {
  margin:0 10px 0 25px;
  }

/*---------- PORTAL BREAD CRUMBS ----------*/
#portal-breadcrumbs {
  border:none;
  color:#ccc;
  font-weight:bold;
  margin:0 210px 5px 0;
  padding:6px 20px 0 0;
  text-transform:capitalize;
  }
#portal-breadcrumbs a {
  color:#b1b0b0;
  text-decoration:none;
  }
#portal-breadcrumbs .breadcrumbSeparator {
  color:#717070;
  }
.visualColumnHideOne #portal-breadcrumbs,
.visualColumnHideNone #portal-breadcrumbs {
  margin-right:0;
  }

/*---------- PORTAL LANGUAGESELECTOR ----------*/
#portal-languageselector {
  float:right;
  margin:0;
  padding:0 1em 5px;
  z-index:1;
  }
#portal-languageselector li {
  display:inline;
  padding:0 5px;
  }
#portal-languageselector li a {
  color:#76797c;
  text-decoration:none;
  }
#portal-languageselector li a:hover {
  color:#6382a1;
  text-decoration:underline;
  }

/*---------- VIEWLET ABOVE CONTENT ----------*/
.viewlet-above-content {
  min-height:53px;
  }

/*---------- PORTAL FOOTER ----------*/
#portal-footer-wrapper {
  background-color:#e7e7e7;
  border:none;
  border-top:1px solid white;
  color:#7c7c7c;
  clear:both;
  line-height:1.2em;
  margin:0 0 1em 0;
  padding:2em 0 1em 0;
  text-align:center;
  }
#portal-footer-wrapper p {
  margin:0.25em 0;
  }
#portal-footer-wrapper a,
#portal-footer-wrapper a:hover {
  color:#7c7c7c !important;
  font-weight:bold;
  text-decoration:none;
  }

/*------ Carousel -----*/
.carousel {
  margin-top:2.3em;
  }

/*---------- PORTAL PORTLETS ----------*/
dl.portlet {
  background-color:#dee2e9;
  border-bottom:1px solid #bdcad7;
  margin:1px 0 4px;
  }
dl.portlet ul li {
  background:url(../images/lite_sprite.png)no-repeat 4px -439px;
  padding-left:1.5em;
  }
dl.portlet a {
  color:black;
  text-decoration:none;
  }
dl.portlet .portletHeader {
  background:#d5dce4 url(../images/lite_sprite.png) no-repeat 50% -200px;
  padding:2px 10px 3px 10px;
  }
dl.portlet .portletHeader,
.managedPortlet .portletHeader {
  border:1px solid #bdcad7;
  }
dl.portlet .portletHeader,
dl.portlet dt.portletHeader a {
  color:#57768f;
  font-weight:bold;
  text-align:center;
  text-transform:capitalize;
  }
dl.portlet dd.portletItem {
  border-left:1px solid #bdcad7;
  border-right:1px solid #bdcad7;
  margin: 0;
  padding:0.7em 1em 5px;
  } 
dl.portlet dd.portletFooter {
  padding:0.5em 1em;
  border-left:1px solid #bdcad7;
  border-right:1px solid #bdcad7;
  margin:0;
  padding:0.5em 1em;
  text-align:right;
  }
.portletItemDetails {
  color:#5f5c5c;
  display:block;
  text-align:left;
  }
#portlets-in-header {
  background:#d5d5d5;
  }

/*---------- MANAGE PORTLET ----------*/
div.managePortletsLink,
a.managePortletsFallback {
  text-align:center;
  }
.managedPortlet {
  margin:0.8em 0;
  }
.managedPortlet .portletHeader {
  padding:0.42em 1em;
  }
.blockedPortlet .portletHeader {
  background:transparent;
  border:1px dashed #ddd;
  }
.blockedPortlet .portletHeader a {
  color:#666;
  }
.managedPortletActions {
  float:right;
  }
.manageInHeaderPortletsLink {
  background:#d5d5d5;
  margin-bottom:0;
  padding-bottom:1em;
  }

/*---------- PORTLET NAVIGATION ----------*/
dl.portletNavigationTree {
  background-color:#e8ecef;
  border:none;
  line-height:1.3em;
  margin-bottom:0.8em;
  padding:0;
  }
.portletNavigationTree .portletHeader {
  display:none; 
  }
.portletNavigationTree .navTree li {
  background:transparent;
  line-height:1.3em;
  }
dl.portlet.portletNavigationTree dd.portletItem {
  background-color:#e8ecef;
  border:0;
  padding:0;
  }
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  border-bottom:0;
  line-height:1.3em;
  padding:0;
  }
dl.portlet.portletNavigationTree dd.portletItem .navTreeItem a {
  background:transparent url(../images/lite_sprite.png) no-repeat right -100px;
  border:1px solid #dce5ee;
  color:#909090 !important;
  display:block;
  font-size:10pt;
  line-height:1.1em;
  margin-bottom:3px;
  padding:0.4em 0.5em 0.5em 1em !important;
  }
dl.portlet.portletNavigationTree dd.portletItem .navTreeItem a:hover, 
dl.portlet.portletNavigationTree dd.portletItem .navTreeItem a.navTreeCurrentItem {
  border:1px solid #DCE5EE !important;
  color:#495863 !important;
  margin:0 0 3px;
  }
.navTreeLevel0 { margin: 0; }
.navTreeLevel1 { margin-left: 1em;}
.navTreeLevel2 { margin-left: 0.75em; }
.navTreeLevel3 { margin-left: 0.75em; }
.navTreeLevel4 { margin-left: 0.75em; }
.navTreeLevel5 { margin-left: 0.75em; }

/*---------- PORTLET CALENDAR ----------*/
.portletCalendar dt {
  border-bottom:none;
  font-weight:normal;
  }
.portletCalendar dd {
  margin: 0;
  padding: 0;
  }
.ploneCalendar {
  border-collapse: collapse;
  border-spacing:0;
  width: 100%;
  }
.ploneCalendar td {
  padding:2px;
  text-align:center;
  width:14%;
  }
.ploneCalendar .weekdays th {
  border:1px solid #bdcad7;
  border-style:solid none;
  text-align:center;
  padding:2px;
  font-weight:normal;
  }
.ploneCalendar .event {
  background-color:#cfcfcf;
  font-weight:bold;
  }
.ploneCalendar .todayevent {
  background-color:#dee7ec;
  border:2px solid #ffa500;
  font-weight:bold;
  }
.ploneCalendar .todaynoevent {
  border-collapse:collapse;
  border:2px solid #ffa500;
  }
.portletCalendar dt a#calendar-previous,
.portletCalendar dt a#calendar-next {
  display:inline;
  float:none;
  }
dl.portletCalendar dt.portletHeader {
  border-bottom:0;
  }

/*------------ STATIC TEXT PORTLET -------------*/
.portletStaticText ul {
  margin:0.5em 0 0 0;
  }
.portletStaticText ol {
  margin:0.5em 0 0 2em;
  }

/*---------- PORTLET SEARCH ----------*/
dl.portletSearch dd.portletItem {
  padding:0.7em 5px 5px;
  }
.portletSearch .LSBox {
  margin-top:0;
  }
.portlet-search-gadget,
.portlet-search-gadget-nols {
  border:1px solid #b2b1b1;
  font-size:100%;
  height:16px;
  padding:2px;
  vertical-align:top;
  }
#portal-column-one .portlet-search-gadget,
#portal-column-one .portlet-search-gadget-nols {
  width:143px;
  }
#portal-column-two .portlet-search-gadget,
#portal-column-two .portlet-search-gadget-nols {
  width:158px;
  }
.portletSearch input.searchButton {
  background:#dbdbdb url(../images/lite_sprite.png) no-repeat 0 -250px;
  border:1px solid #b2b1b1;
  font-size:0;
  height:22px;
  padding-top:19px;
  overflow:hidden;
  vertical-align:top;
  width:22px;
  }
#portal-column-one .livesearchContainer {
  left:2px;
  right:auto;
  top:12px;
  }
#portal-column-two .livesearchContainer {
  right:-6px;
  }
dl.portlet .LSTable li {
  background:none;
  padding-left:0;
  }

/*---------- PORTLET PREFS ----------*/
#portlet-prefs .portletItem {
  padding-left:2em;
  }
#portlet-prefs .portletItem a:visited {
  color:black;
  }

/*----------- DOCUMENT ACTIONS  -------------*/
#content .documentActions {
  border-top:1px solid #bdcad7;
  margin:1em 0;
  text-align:right;
  }
#content .documentActions ul {
  margin:-0.9em 0 0;
  padding:0 0.5em;
  }
#content .documentActions li {
  background:#fff;
  display:inline;
  font-size:85%;
  margin:0 0.5em;
  padding:0 0.25em;
  }
.documentActions li a {
  text-decoration:none;
  }

/*----- Events -----*/
.eventDetails {
  clear:right;
  float:right;
  margin:0 0 0.5em 1em;
  }

/*----- Search Results -----*/
.highlightedSearchTerm {
  background-color:#ff9;
  padding:0 2px;
  }

/*---------- STATIC TEMPLATES ----------*/
#portal-sitemap {
  line-height:1.2em;
  }
#portal-sitemap > li {
  border:0;
  }
#portal-sitemap li {
  background:transparent !important;
  padding:0 !important;
  }
#portal-sitemap > ul {
  margin:0;
  }
#portal-sitemap a {
  border:1px solid #fff !important;
  display:block;
  padding:2px 5px;
  }
#portal-sitemap a:hover {
  background-color:#d5d4d4;
  border:1px solid #7c7c7c;
  color:black;
  }
#portal-sitemap .navTreeLevel2 {
  border-left:0.5em solid #d5d4d4;
  padding-left:1em;
  }
#portletmanager-plone-leftcolumn {
  margin-right:12px;
  }
#portletmanager-plone-rightcolumn {
  padding:0 1em;
  }
div.portletAssignments {
  font-size:1em;
  }

/*---------- HIDE IMAGES ----------*/
dd.portletItemLast img,
dd.portletItem img {
  display:none;
  } 
dd.portletItem div {
  background-image:none;
  }
.visualIconPadding {
  margin:0;
  padding:0; 
  }
#region-content .visualIconPadding {
  padding-left:18px;
  }
.link-external {
  padding-left:0;
  background-image:none;
  }

/*---------- LOGIN FORM  ----------*/
#login-form input.context {
  background-position:9px 50%;
  }
#loginform input.context {
  background-position:5px 50%;
  }

/*---------- EDITING ----------*/
.fieldRequired {
  color:#fff;
  }
.fieldRequired:before {
  color:#f00;
  content:"■ ";
  }
.formPanel {
  padding:1em 2px;
  }
.field {
  margin-bottom:1em;
  }
.formPanel textarea {
  width:100%;
  }
#title {
  color:#4f76b5;
  font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
  font-size:1.9em;
  line-height:1.2em;
  width:100%;
  }
#description {
  font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
  font-size:100%;
  font-weight:bold;
  line-height:1.5em;
  width:100%;
  }
.suppressVisualEditor {
  margin:0 !important;
  }
.fieldUploadFile {
  display:none;
  }
.formHelp {
  color:#555;
  margin:0 0 0.2em 0;
  }
.documentByLine {
  margin:0 7px 1em;
  }
ul.configlets,
#content ul.configlets {
  margin:1em 0;
  }
ul.configlets li {
  margin-bottom:1em;
  }
ul.configlets li a {
  text-decoration:none;
  }
#kss-spinner {
  background-position:50% 50%;
  display:none;
  height:20px;
  left:50%;
  margin:-10px 0 0 -10px;
  position:fixed;
  top:50%;
  width:20px;
  }
.formlibInlineEditable,
.inlineEditable {
  display:block;
  padding:1px;
  }
body.kssActive .inlineEditable:hover,
body.kssActive .formlibInlineEditable:hover {
  border:1px solid #ddd;
  border-color:#666 #ddd #ddd #666;
  cursor:text;
  padding:0;
  }
body.kssActive .inlineEditable a:hover,
body.kssActive .formlibInlineEditable a:hover {
  cursor:pointer;
  }
body.kssActive .formlibInlineForm:hover,
body.kssActive .formlibInlineForm a:hover {
  border:0;
  cursor:default;
  padding:1px;
  }
.inlineForm .formHelp,
.inlineForm .fieldRequired,
.inlineForm label {
  display:none;
  }
/* In inline selection widgets the label *must* be displayed, as
   otherwise you only see identical radio buttons without text. */
.inlineForm .ArchetypesSelectionWidget label {
  display: inline;
  }
.inlineForm #archetypes-fieldname-title input,
.inlineForm #archetypes-fieldname-title {
  font-size: 100%;
  }
/* Workaround for abnormally large buttons in the h1 tag */
h1 div.formControls input {
  font-size:55% !important;
  }

/*---------- EDIT BAR ----------*/
#edit-bar {
  background-color:#75ad0a;
  min-height:1.73em;
  margin:0 0 1em;
  padding:3px;
  }
#content-views {
  background-color:#75ad0a;
  float:left;
  }
#content-views li {
  display:inline;
  }
#content-views a {
  color:#fff;
  display:inline-block;
  line-height:1.73em;
  padding:0 0.75em;
  text-decoration:none;
  }
#content-views li.selected a,
#content-views li a:hover {
  background:#fff;
  color:#000;
  }
#content-views li.selected a {
  font-weight:bold;
  }

/*----------- CONTENT PULLDOWNS ----------*/
#contentActionMenus {
  background-color:#75ad0a;
  float:right;
  }
#contentActionMenus > li {
  display:inline;
  }
.actionMenu {
  float:right;
  margin:0 0 0 0.5em;
  position:relative;
  white-space:nowrap;
  }
.actionMenu dt {
  font-weight:normal;
  }
.actionMenu a {
  color:#fff;
  display:block;
  line-height:1.73em;
  text-decoration:none;
  }
.actionMenu dt a {
  padding:0 3px;  
  }
.arrowDownAlternative {
  font-size:80%;
  }
.actionMenu dd {
  background-color:#75ad0a;
  right:-3px;
  margin:0;
  min-width:100%;
  padding:0 3px 3px;
  position:absolute;
  width:auto;
  z-index:5;
  }
.actionMenu.deactivated dd {
  display:none;
  }
.actionMenu dd a:hover,
.actionMenu dd .actionMenuSelected {
  background-color:#fff;
  color:#666;
  }
.subMenuTitle {
  display:block;
  padding:0 3px;
  }

/*----- Form Tabs -----*/
#content .formTabs {
  background-color:#ddd;
  margin:0;
  padding:3px 3px 0;
  }
#content .formTabs li {
  background:transparent;
  }
#content .formTab {
  display:inline;
  margin-right:0.25em;
  }
#content li.formTab a {
  display:inline-block;
  line-height:2em;
  padding:0 0.75em;
  text-decoration:none;
  }
#content li.formTab a.selected,
#content li.formTab a:hover {
  background:#fff;
  color:#000;
  }
#content li.formTab a.notify {
  background-color:red;
  color:#fff;
  }
#content li.formTab a.required span:after {
  color:#f00;
  content:" ■";
  }
#content fieldset.formPanel {
  border:none;
  }
#content fieldset.formPanel.hidden {
  display:none;
  }
#content div.formControls input.hidden {
  display:none;
  }

/*---------- STATUS MESSAGES ----------*/
dl.portalMessage {
  background-color:#ffffe3;
  border:1px solid #996;
  clear:both;
  margin:1em 0;
  }
#content dl.portalMessage {
  margin-left:0;
  }
.position-0 dl.portalMessage {
  margin-left:0;
  }
dl.portalMessage a,
#content dl.portalMessage a {
  color:#000;
  }
dl.portalMessage dt {
  background-color:#996;
  font-weight:bold;
  float:left;
  margin:0 0.5em 0 0;
  padding:0.5em 0.75em;
  color:White;
  line-height:1.25em;
  }
dl.portalMessage dd {
  padding:0.5em 0.5em;
  margin:0;
  line-height:1.25em;
  }
dl.warning {
  border-color:#d80;
  }
dl.warning dt {
  background-color:#d80;
  }
dl.warning dd {
  background-color:#fd7;
  }
dl.error {
  border-color:#d00;
  }
dl.error dt {
  background-color:#d00;
  }
dl.error dd {
  background-color:#fdc;
  }
#content dl.portalMessage dt {
  margin:0 0.5em 0 0;
  padding:0.5em 0.75em;
  }
#content dl.portalMessage dd {
  margin:0;
  }

/*---------- OVERLAYS ----------*/
.overlay {
  display:none;
  height:auto;
  margin:1em;
  width:auto;
  }
.overlay-iframe,
.overlay-ajax {
  min-height:100px;
  width:600px;
  z-index:99;
  }
.overlay-iframe {
  height:60%;
  }
.overlaybg div.close,
.overlay div.close {
  background:url(../images/pb_close.png) no-repeat 0 0;
  cursor:pointer;
  height:30px;
  left:-14px;
  position:absolute;
  top:-14px;
  width:30px;
  }
.pb-ajax {
  overflow-y:auto;
  }
.pb-ajax,
.pb-image {
  background-color:#fff;
  border:1px solid #999;
  white-space:normal;
  box-shadow:0 0 3em 0.5em #666;
  -moz-box-shadow:0 0 3em 0.5em #666;
  -webkit-box-shadow:0 0 3em #666;
  }
.pb-ajax > div {
  padding:1em;
  }
.pb-ajax .documentActions {
  display:none;
  }
div.overlay div.close span {
  display:block;
  height:1px;
  margin:-1px 0 0 -1px;
  overflow:hidden;
  padding:0;
  width:1px;
  }
.overlay textarea {
  width:100%;
  }
.overlay .link-parent { display:none; }
.overlay #createGroup legend { display:none; }
.overlay #createGroup fieldset { border:none; }
.overlay p {
  margin-bottom:1em;
  }
.overlay label {
  margin-bottom:0.25em;
  }
.overlay a:hover {
  color:#75ad0a;
  }
.overlay a.selected {
  color:#000;
  }
.overlay .formTab {
  margin-right:1em;
  font-weight:bold;
  }
.overlay .formTab.lastFormTab {
  margin-right:0em;
  }
.overlay .formControls a {
  display:block;
  margin:0.75em;
  }

/*---------- LOGIN FORM ----------*/
#fieldset-openid-login input,
#login-form input {
  font-size:150%;
  }
body.template-register #content input,
body.template-new-user #content input {
  font-size:150%;
  width:inherit;
  }
#fieldset-openid-login label,
#login-form label {
  display:inline-block;
  margin-right:0.5em;
  padding-top:0.2em;
  width:10em;
  }
#fieldset-openid-login .formControls,
#login-form .formControls {
  padding-left:10.7em;
  }

/*---------- CONTENT HISTORY ----------*/
#content-history .historyRecord {
  margin-bottom:1em;
  }
#content-history .historyTools ul {
  float:right;
  margin:0.5em 1em;
  }
#content-history .historyTools ul li {
  display:inline;
  padding:0 0.015em;
  }
#content-history .historyTools form {
  display:inline;
  }
#content-history .historyByLine {
  background:#ddd;
  padding:0.5em;
  }
#content-history .historyLinks {
  clear:right;
  float:right;
  margin:0.5em 1em 0 0;
  }
#content-history .historyComment {
  border:1px solid #ddd;
  padding:0.5em 1em;
  }
#content-history .historyComment p {
  margin:0;
  padding-top:1px;
  }
#content-history a.historyComparePrevious {
  border-top:1px dotted #ccc;
  display:block;
  margin-top:3em;
  text-align:center;
  }
#content-history a.historyComparePrevious span {
  background-color:white;
  position:relative;
  top:-0.75em;
  padding:0 0.5em;
  }

/*---------- DATA TABLES ----------*/
table.listing,
table.plain {
  border-spacing:0;
  border-collapse:collapse;
  margin:0 0 0.75em;
  width:100%;
  }
table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.listing td,
table.listing th {
  padding:0.5em 1em;
  vertical-align:top;
  }
table.plain th,
table.plain td {
  border:1px solid #ddd;
  }
table.listing td.listingCheckbox,
table.listing th.listingCheckbox {
  text-align:center;
  }
table.listing {
  border-left:1px solid #ddd;
  border-bottom:1px solid #ddd;
  }
table.listing .top {
  border-left:1px solid #ddd;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
  }
table.listing th {
  text-align:left;
  color:#666;
  border:0.1em solid #e7e7e7;
  border-style:solid solid none;
  background:#ddd;
  }
table.listing tr.odd th {
  border:0.1em solid #fff;
  border-style:solid solid none none;
  }
table.listing tbody th {
  font-weight:bold;
  }
table.listing tbody tr {
  text-align:left;
  }
table.listing tbody tr.odd {
  background:#eee;
  }
table.listing tbody tr td {
  background:transparent;
  }
table.listing tbody tr.odd td {
  background:#eee;
  }
table.listing td {
  border-right:1px solid #ddd;
  }
table.listing a {
  border:none;
  display:inline-block;
  border-bottom:none !important;
  text-decoration:none;
  }
table.listing td.draggable {
  text-shadow:White 1px 1px 1px;
  background:#ddd !important;
  border-bottom:1px solid white;
  padding:0.4em 0.4em 0 0.5em;
  }

/*----- Vertical table data listings -----*/
table.vertical th {
  text-align:right;
  }
table.vertical td {
  border-top:0.1em solid #e7e7e7;
  padding:0.5em;
  }

/*----- Grid table listings -----*/
table.grid td,
table.grid th {
  border:1px solid #e7e7e7;
  padding:0.5em;
  }
.dragindicator {
  outline:2px solid #ffd700;
  }
#foldercontents-order-column {
  padding:0;
  }
div.listingBar {
  font-size:80%;
  margin:1em 0;
  text-align:center;
  }
div.listingBar .next {
  display:inline-block;
  float:right;
  }
div.listingBar .previous {
  display:inline-block;
  float:left;
  }
div.listingBar a {
  display:inline-block;
  padding:0.25em 0.5em;
  text-decoration:none;
  }

/*------------ IMAGE ALIGNMENT CLASSES -----------*/
.image-left {
  clear:left;
  float:left;
  margin:0.5em 1em 0.5em 0;
  }
.image-right {
  clear:right;
  float:right;
  margin:0.5em 0 0.5em 1em;
  }
.image-inline {
  float:none;
  }
.image-caption {
  margin:0; 
  }
.newsImageContainer {
  float:right;
  margin:0 0 0.5em 1em;
  }
.newsImage {
  
  }
.tileImage {
  border:1px solid #000;
  float:right;
  margin:0 0 0.5em 0.5em;
  }

/*------------ DASHBOARD -----------*/
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
  float:left;
  margin-right:1.3%;
  width:24%;
  }
#dashboard-portlets4 {
  margin-right:0;
  }

/*---------- ALBUM ----------*/
.photoAlbumEntry {
  background:url(../images/album.png) no-repeat;
  float:left;
  font-size:0.92em;
  height:162px;
  line-height:1.36em;
  margin:0 6px 6px;
  padding:8px 7px 8px 6px;
  width:132px;
  }
.photoAlbumFolder {
  background-position:0 -178px;
  }
.photoAlbumEntry a {
  display:block;
  height:162px;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  }
.photoAlbumEntry a:after {
  background-color:rgba(241, 241, 241, 0.4);
  bottom:0;
  content:"";
  height:8px;
  position:absolute;
  width:100%;
  }
.photoAlbumEntryWrapper {
  display:block;
  text-align:center;
  }
.photoAlbumEntry img {
  border:2px solid #fff;
  }
.photoAlbumEntryTitle {
  color:#757373;
  display:block;
  padding:4px 3px 0;
  width:126px;
  }
.photoAlbumEntry a:hover {
  overflow:visible;
  }
.photoAlbumEntry a:hover .photoAlbumEntryTitle  {
  background-color:rgb(241,241,241);
  background-color:rgba(241,241,241,0.8);
  bottom:0;
  min-height:50%;
  position:absolute;
  }

/*----- Accessibility elements, applied by JS -----*/
body.largeText {
  font-size:81%;
  }
body.smallText {
  font-size:56%;
  }

/*---------- COMMENTING ----------*/
div#commenting.reply {
  font-size:100%;
  float:left;
  width:99%;
  }
.discussion .hide {
  display:none;
  }
.discussion {
  clear:both;
  font-size:1.09em;
  }
.comment {
  padding:0 0 9px;
  }
.commentImage {
  float:left;
  padding:5px 7px;
  }
.discussion .documentByLine {
  background-color:#f1f1f1;
  margin:0;
  padding:5px;
  }
.commentBody {
  border-color:#d9d9d9 #f1f1f1 #f1f1f1;
  border-style:solid;
  border-width:1px;
  clear:both;
  margin:0 0 5px;
  padding:5px;
  overflow:auto;
  }
.commentActions {
  text-align:right;
  }
.reply-to-comment-button {
  margin-left:11px;
  }
.reply {
  background-color:#f1f1f1;
  clear:both;
  font-size:1.09em;
  margin:35px 0 0;
  padding:5px 7px;
  position:relative;
  }
.reply fieldset {
  margin:0;
  }
.reply legend {
  font-weight:bold;
  position:absolute;
  top:-28px;
  }
.reply p {
  color:#76797c;
  font-size:0.92em;
  }
.reply textarea {
  min-height:50px;
  width:100%;
  }

/*---------- CONTENT TYPE ICONS ----------*/
.icons-on .contenttype-folder {
  background:url(../images/icons-sprite.png) no-repeat 0 -1599px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-document {
  background:url(../images/icons-sprite.png) no-repeat 0 -1800px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-news-item{
  background:url(../images/icons-sprite.png) no-repeat 0 -2000px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-event {
  background:url(../images/icons-sprite.png) no-repeat 0 -2200px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-topic {
  background:url(../images/icons-sprite.png) no-repeat 0 -2401px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-image {
  background:url(../images/icons-sprite.png) no-repeat 0 -2600px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-link {
  background:url(../images/icons-sprite.png) no-repeat 0 -2996px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on img[alt='File'] {
  margin-right:3px;
  }
/* Add new */
#plone-contentmenu-factories li a {
  background:url(../images/icons-sprite.png) no-repeat 1px -1199px;
  display:block;
  padding-left:17px;
  }
#plone-contentmenu-factories li a:hover {
  background-color:#fff;
  background-position:1px -2799px;
  }
#plone-contentmenu-factories li .contenttype-folder {
  background-position:1px 2px;
  }
#plone-contentmenu-factories li .contenttype-folder:hover {
  background-position:2px -1598px;
  }
#plone-contentmenu-factories li .contenttype-document {
  background-position:1px -199px;
  }
#plone-contentmenu-factories li .contenttype-document:hover {
  background-position:2px -1799px;
  }
#plone-contentmenu-factories li .contenttype-news-item {
  background-position:1px -399px;
  }
#plone-contentmenu-factories li .contenttype-news-item:hover {
  background-position:2px -1999px;
  }
#plone-contentmenu-factories li .contenttype-event {
  background-position:1px -599px;
  }
#plone-contentmenu-factories li .contenttype-event:hover {
  background-position:2px -2199px;
  }
#plone-contentmenu-factories li .contenttype-topic {
  background-position:1px -800px;
  }
#plone-contentmenu-factories li .contenttype-topic:hover {
  background-position:2px -2400px;
  }
#plone-contentmenu-factories li .contenttype-image {
  background-position:1px -999px;
  }
#plone-contentmenu-factories li .contenttype-image:hover {
  background-position:2px -2599px;
  }
#plone-contentmenu-factories li .contenttype-file {
  background-position:1px -1199px;
  }
#plone-contentmenu-factories li .contenttype-file:hover {
  background-position:2px -2799px;
  }
#plone-contentmenu-factories li .contenttype-link {
  background-position:1px -1395px;
  }
#plone-contentmenu-factories li .contenttype-link:hover {
  background-position:2px -2995px;
  }
#plone-contentmenu-factories #settings {
  background-image:none;
  padding:0;
  }
}

@media print {

body {
  background-color:#fff;
  }
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  line-height:125%;
  page-break-inside:avoid;
  page-break-after:avoid;
  }
a {
  text-decoration:none;
  border-bottom:1px solid black;
  color:black;
  }
img {
  border:0;
  }
#portal-column-content {
  width:95%;
  }
.documentDescription {
  font-weight:bold;
  }
pre {
  border:1pt dotted black;
  white-space:pre;
  font-size:8pt;
  overflow:auto;
  padding:1em;
  }
table.listing,
table.listing td {
  border:1pt solid black;
  border-collapse:collapse;
  }
table.listing td,
table.listing th {
  padding:6px;
  }

/* Page break class for use when printing */
div.pageBreak {
  page-break-before: always;
  }

/* Basic styles for listing and document views */
#content dt {
  margin:1em 0 0.625em;
  }
#content p, #content table {
  margin-bottom:0.625em;
  margin-top:0.625em;
  }
#content .documentDescription, #content #description {
  margin:0.5em 0 1.31em;
  }

/* Hide all the elements that are irrelevant for printing */
div.top,
#portal-logo,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#portal-globalnav-wrapper,
#portal-personaltools,
#portal-breadcrumbs,
#edit-bar,
#portal-column-one,
#portal-column-two,
#portal-languageselector,
.contentViews,
.contentActions,
.help,
.legend,
.portalMessage,
.documentActions,
.netscape4,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
#portal-footer,
#portal-colophon,
.skipnav,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
.link-presentation,
input.standalone,
.overlay,
.managePortletsFallback,
.close,
.link-parent,
.draggingHook,
#foldercontents-order-column,
input.context,
.promoWrapper,
#front-page-logo,
#why-quintagroup,
#latest-projects,
.visualNoPrint {
  display:none;
  }

/*----- Image alignment classes ------*/
.image-left {
  float:left;
  clear:left;
  margin:0.5em 1em 0.5em 0;
  border:0.4pt solid Black;
  }
.image-inline {
  float:none;
  }
.image-right {
  float:right;
  clear:right;
  margin:0.5em;
  border:0.4pt solid Black;
  }
dd.image-caption {
  text-align:left;
  padding:0; margin:0;
  }
dl.captioned {
  padding:0.8em;
  }
.newsImageContainer {
  float:right;
  margin:0 0 0.5em 1em;
  width:16em;
  }

}