
*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: #e4e4e4;
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    overflow-y: hidden;
}

.main_wrapper
{
    max-height: 100%;
}

h1.title
{
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
    color: #28af97;
    margin: 20px 0px 20px 0px;
    position: fixed;
    display: block;
    width: 100%;
}

.content_wrapper
{
    margin: 0px auto;
    text-align: center;
    white-space: nowrap;
    padding-top: 90px;
}

.item_wrapper
{
    display: inline-block;
    text-align: center;
    margin: 20px 0px 20px 40px;
    white-space: normal;
}

/* ======= Backbutton ======*/

.backButton
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/backbutton.png);
    width:100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0px;
    left: 26px;
}

/* ======= Home tiles crop ======*/

body.App.template_home .item_wrapper
{
    width:200px;
    overflow: hidden;
    padding-right: 40px;
}


/*====== Tile titles =======*/

.tileImageBox
{
    position: relative;
    display: block;
    text-decoration: none;
}

.tileTitle
{
    background: white;
    color: black;
    text-decoration: none !important;
    font-size: 20px;
    position: absolute;
    top:10px;
    right: 10px;
    padding: 5px;
    font-weight: 200;
}

/* ======= Vitrines list view ======= */

body.App.template_vitrines_list .content_wrapper
{
    text-align: left;
}

.line
{
    padding-right: 40px;
}

/* ======= Object view ======= */

body.App.template_object
{
    font-weight: normal;
}

body.App.template_object .content_wrapper
{
    white-space: normal;
    padding-top: 0px;
}

/*body.App.template_object h1.title
{
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    color: #444;
    margin: 40px 0px 40px 0px;
    position: static;
    width: auto;
}*/

body.App.template_object h1.title
{
    position: static;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

body.App.template_object  .content_wrapper
{
    margin: 0px auto;
    text-align: left;
}

body.App.template_object .tileImageBox
{
    float: left;
    margin:0px 40px 40px 40px;
}

body.App.template_object strong
{
    font-weight: bold;
}

body.App.template_object .info
{
    display: inline-block;
    text-align: left;
}

body.App.template_object .bodyText
{
    margin: 40px 40px 40px 40px;
    clear: left;
}