body { margin: 0; padding: 0;
       font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
header { margin: 0; height: 16px; padding: 10px;
         font-size: 12px; display: block;
         background-color: #333; color: gray; }
header nav { margin: 0; padding: 0; }
header a { color: white; text-decoration: none; font-weight: bolder; }
header a:hover { border-bottom: 1px dashed silver; }
header .arrow { font-family: Verdana, Tahoma; }
header .super { color: #666; }
header .super a { color: silver; font-weight: normal; }
header .super a:hover { color: silver; border-bottom-color: gray; }

aside { position: absolute; left: 0; top: 36px; width: 180px;
        padding: 0; border-right: 1px solid #ccc; }
aside div { width: 180px; border-bottom: 1px solid #eee; font-size: small; }
aside div h2 { font-size: small; color: #333; margin: 20px 10px 10px 10px; }
aside div ul, aside div ol { margin: 0; padding: 0; }
aside div li { display: block; margin: 0; padding: 8px 8px 8px 25px;
               border-top: 1px #eee solid; color: gray; }
aside div a { color: gray; text-decoration: none; }
aside .channels .size { color: white; background-color: rgba(0, 0, 0, 0.3);
                        font-family: Verdana, Tahoma, sans-serif;
                        font-size: xx-small; border-radius: 5em;
                        padding: 3px; display: block; float: right;
                        text-align: center; }
article { margin-left: 180px; line-height: 130%;
          border-left: 1px solid #ccc; display: block; }

aside table.calendar { width: 160px; border-collapse: collapse;
                       margin: 20px 10px 10px 10px; }
aside table.calendar td, aside table.calendar th
    { font-size: 9pt; text-align: center; color: gray; }
aside table.calendar caption { text-align: left; font-weight: bolder;
                               font-size: small; color: #333;
                               padding-bottom: 5px; }
aside table.calendar td a { text-decoration: none; }
aside table.calendar td.in a { color: gray; }
aside table.calendar td.out a { color: silver; }
aside table.calendar td.today * { border-bottom: 1px solid silver; }

article.log .refresh { margin: 0; padding: 20px 8px; cursor: pointer;
                       border-bottom: 1px solid #ccc; font-size: x-large;
                       text-align: center; color: silver; display: block;
                       text-decoration: none; }
article.log p { margin: 0; padding: 5px 8px; border-bottom: 1px solid #ccc;
                font-size: smaller; }
article.log p .time { color: gray; font-size: smaller; text-decoration: none; }
article.log p.announce { background-color: #eee; }
article.log p.action-message .line { font-style: italic; color: gray; }
article.log p.action-message .nick,
article.log p.action-message .line,
article.log p.notice-message .nick,
article.log p.notice-message .line { font-style: italic; }
article.log p.mode-announce .channel { font-weight: bolder; }
article.log p.mode-announce .modelist { color: gray; }
article.log p.mode-announce .mode { font-weight: bolder; }
article.log p q { font-style: italic; }
article.log p q:before { content: '\201c'; }
article.log p q:after { content: '\201d'; }
article.log p .nick { font-weight: bolder; }
article.log p .nick-1 { color: #add9ce; }
article.log p .nick-2 { color: #b8ba47; }
article.log p .nick-3 { color: #1c2324; }
article.log p .nick-4 { color: #822e3e; }
article.log p .nick-5 { color: #d94141; }
article.log p .nick-6 { color: #2c0540; }
article.log p .nick-7 { color: #ffc95b; }
article.log p .nick-8 { color: #f59c57; }
article.log p .nick-9 { color: #e86a4d; }
article.log p .nick-10 { color: #b82f4d; }
article.log p .nick-11 { color: #f29b0c; }
article.log p .nick-12 { color: #b28c00; }
article.log p .nick-13 { color: #7f7b00; }
article.log p .nick-14 { color: #662657; }
article.log p .nick-15 { color: #3d184c; }
article.log p .nick-16 { color: #aced51; }
article.log p .nick-17 { color: #5fa394; }
article.log p .nick-18 { color: #bd6a4b; }
article.log p .nick-19 { color: #636b3b; }
article.log p .nick-20 { color: #573e3e; }
article.log p .nick-21 { color: #b9a57a; }
article.log p .nick-22 { color: #ba4953; }
article.log p .nick-23 { color: #293240; }
article.log p .nick-24 { color: #b3e3c4; }
article.log p .nick-25 { color: #25a098; }

