/* Stylesheet for the 'Porseleinplaats' Plone theme */

body
{
    background-color: #dae4eb;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url(/porseleinplaats/yellow.jpg);
    background-repeat: repeat-y;
    background-position: top left;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial, sans-serif;
    letter-spacing: normal;
}

hr
{
    display: none;
}

h1
{
    font-size: 18px;
}

h2, h3, h4, h5, h6
{
    font-size: 16px;
}

.pageWrapper
{
    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
    padding: 10px;
}

.documentFirstHeading
{
    margin-bottom: 15px;
}

.portletUserActionsPortlet
{
    background-color: #fcfbd7;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
}


#portal-logo
{
   margin-left: 20px;
}

#portal-top
{
    background-color: #f8b482;
}

#portal-columns
{
    margin:0;
}

#portal-column-one
{
    /*background-color: #fef099;*/
    width: 15.75% !important;
    padding-top: 10px;
}


#portal-searchbox {
    margin-top: 32px;
    position: relative;
}

#content
{
    margin:10px 0;
}

div.width-1\:2 {
    width: 55.75%;
}

div.position-1\:4 {
    margin-left: -79.87% !important;
}

div.width-3\:4 {
    width: 81%;
}

dl.portlet dt, div.portletAssignments div.portletHeader 
{
    background: none;
    background-color: transparent;
}

dl.portletError {
    background-color: transparent;
}

#portal-header
{
    width: 970px;
}

/* Sidebar */

#portal-column-content.position-0 #viewlet-above-content
{
    left: -200px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    width: 160px;
}

#portal-column-content.position-1\:4 #viewlet-above-content
{
    left: -355px;
    position: absolute;
    top: 10px;
    width: 170px;
    margin-left: 10px;
}

#portal-columns
{
    margin-left: 200px;
    width: 770px;
}

div.portletAssignments select, .portlets-manager select
{
    max-width:143px;
}

#category-selector .portletHeader
{
    display: none;
}

span.marker
{
    display: none
}

.cn-category-title
{
    font-weight: bold;
    margin-bottom: 5px;
}

/* menu */

#portal-globalnav {
    background:none;
    clear:none;
    text-align:right;
    float:right;
    width:400px !important;
    margin-top:39px;
}

#portal-globalnav li
{
    background: none;
}

#portal-globalnav li a, #portal-globalnav .selected a, #portal-globalnav li a:hover, #portal-globalnav .selected a:hover
{
    background: none;
    color: black;
}

#portal-globalnav li a
{
    border: none;
    font-size: 18px;
    
}

#portal-globalnav li a:hover
{
    color: #7bbfca;
}

#portal-globalnav .selected a
{
    color: #7bbfca;
}

#portal-globalnav .selected a:hover
{
    color: #7bbfca;
}
