[buildout]
allow-hosts =
    *.python.org
    *.pythonpackages.com
develop = 
#    .
    src/my.package
extensions = buildout.bootstrap
extends = http://download.zope.org/bluebream/bluebream-1.0.cfg
find-links = http://dist.pythonpackages.com/collective.recipe.bluebream-0.4.0.zip
parts = bluebream

[bluebream]
recipe = collective.recipe.bluebream
eggs = my.package 
