[buildout]
develop = .
parts = demo test zsync zsync-demo-server
index = http://pypi.python.org/simple
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions
allow-picked-versions = false
use-dependency-links = false

[versions]
paramiko = 1.7.4
pycrypto = 2.0.1

[zope3]
location = .

[demo]
recipe = zc.zope3recipes:instance
application = zsync-demo-app
zope.conf = ${database:zconfig}

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.fssync
defaults = ['--tests-pattern', '^f?tests$', '-v']

[zsync-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="zope.app.fssync" file="application.zcml"/>
eggs = zope.app.fssync [app]

[zsync]
recipe = zc.recipe.egg
eggs = zope.app.fssync
entry-points = zsync=zope.app.fssync.main:main 

[database]
recipe = zc.recipe.filestorage

[zsync-demo-server]
recipe = zc.recipe.egg
eggs = zope.app.fssync
entry-points = demo-ssh-server=zope.app.fssync.demo_server:main
