#atimage_transformtoolbar {
    margin: 5px 0;
}

.template-newsitem_view #atimage_transformtoolbar {
    margin: 5px 1em 0.5em 0;
    text-align: right;
}

#atimage_transformtoolbar a, 
#atimage_transformtoolbar a:visited,
#atimage_transformtoolbar a:link {
    border: 0;
}

#atimage_transformtoolbar img {
   border: 1px solid #CCC;
   padding: 1px 1px 1px 2px
}

#atimage_transformtoolbar a:hover img {
   border: 1px solid #427597;
}
