/* http://net.tutsplus.com/tutorials/javascript-ajax/creating-a-keyboard-with-css-and-jquery/ */
.keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}  
.keyboard li {
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #aed0ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}  
.keyboard .capslock, .keyboard .tab, .keyboard .left-shift {
        clear: left;  
}  
.keyboard .tab, .keyboard .backspace {
	width: 70px;
}  
.keyboard .capslock {
	width: 80px;
}  
.keyboard .return {
	width: 77px;
}  
.keyboard .left-shift {
	width: 95px;
}  
.keyboard .right-shift {
	width: 109px;
}  
.keyboard .lastitem {
        margin-right: 0;  
}  
.keyboard .uppercase {
        text-transform: uppercase;  
}  
.keyboard .space {
        clear: left;  
        width: 681px;  
}  
.keyboard .on {
        display: none;  
}  
.keyboard li:hover {
        position: relative;  
        top: 1px;  
        left: 1px;  
        border-color: #2779aa;  
        cursor: pointer;  
}  

.keyboard .active {
	border-color: #aad0ea;
	background-color:#2779aa;
	color: white;
}

.keyboard .disabled, .keyboard .disabled:hover {
	border-color: #aad0ea;
	color: #aad0ea;
}

.keyboard .disabled:hover {
	top: 0;
	left: 0;
	cursor: default;
}

.keyboard .action {
	font-weight: bold;
}

.keyboard .backspace {
	font-size: 130%;
}