body { background : #88FFFF; text-align : center ; margin : 0 auto; width: 800px}
#title{
	position : absolute ;
	top : 60px;
	left : 500px;
	font-family : Linux Libertine, helvetica, sans-serif;
	font-size : 80pt;
	color : #00AAAA;
	font-style: italic;
	text-decoration : underline;
	z-index : 2;
}
#glypher_corner{
	position : absolute ;
	left : 600px;
	z-index : -1
}
#great_wave{
	position : absolute ;
	top ; 60px;
	left : 300px;
	z-index : 1
}
#content_box {
	position : relative ; top : 30px ;
	text-align : left;
	background: #FFFF22;
	margin: 0 auto;
	width : 600px;
	height : 400px;
	border: 10px black solid;
}
#content {
	position : relative ;
	top : 180px ;
	left : 40px ;
	width : 500px ;
	color : #444400;
	font-family : helvetica, sans-serif;
}
#content a {
	color : #224444;
}
