[buildout]
develop = .
parts = test
		product
        pydev

newest = false

[product]
recipe = zc.recipe.egg
eggs = sterch.fields.ip

[test]
recipe = zc.recipe.testrunner
eggs = sterch.fields.ip [test]
allowed-eggs-from-site-packages = zope.*

[pydev]
recipe = pb.recipes.pydev
eggs = ${product:eggs}