@import "base";

@include blueprint-global-reset;

div#login-frame {
    margin: 10px;
}

div#container {
    @include container;
    @include single-box-shadow;
    padding: 10px;
    
    aside {
        @include column(5);
        
        ul{
            list-style-type: disc;
            margin: 20px; 
            padding-left: 10px;
            
            li {
                margin-bottom: 5px;
            }
        }
    }
    
    section {
        @include column(19, true);
    }
    
    h2 {
        text-align: center;
        font-size: 150%;
    }
    
    .error-msg {
        font-weight: bold;
        color: red;
    }
    
    .field_error, #ajax-error-msg {
        color: $error-color;
        font-weight: bold;
        background-color: $error-bg-color;
        border: 1px solid #fbc2c4;
    }
    
    table.data {
        @include span(19);
        margin: 10px auto;
        border: 1px solid;
        thead {
            tr {
                background-color: #eee;
            }
        }
        
        tbody td {
            border: 1px solid;
        }
        
        td {
            padding: 5px;
        }
        
        .offer-row {
            background-color: #eee;
        }
    }
    
    form.table-form {
        @include blueprint-form;
        
        td {
            padding-right: 10px;
        }
    }
    
    #flash-msgs {
        div {
            padding: 10px 10px 10px 20px;
            margin: 10px 0;
            font-weight: bold;
        }
        
        .info {
            @include info;
        }
        
        .success {
            @include success;
        }
        
        .notice {
            @include notice;
        }
        
        .error {
            @include error;
        }
    }
    
}