[migrate_misc]
parts =
     create_news
#    pack_db

[copy_get_mod_time]
recipe = collective.migrator:copy_file
files = get_mod_time.txt
source = local
target = remote
source_dir = ${buildout:directory}
target_dir = ${%(target)s:extensions}

[get_mod_time]
recipe = collective.migrator:ext_method
source = scripts/mod_time.py
func = dump_mod_time
output = set_mod_time.txt
instance = remote

[copy_set_mod_time]
recipe = collective.migrator:copy_file
files = set_mod_time.txt
source = local
target = mac
source_dir = ${buildout:directory}
target_dir = ${mac:extensions}

[set_mod_time]
recipe = collective.migrator:ext_method
source = scripts/mod_time.py
func = load_mod_time
output = set_mod_time.out
instance = mac

[catalog_content]
recipe = collective.migrator:ext_method
source = scripts/site_config.py
# descends down a folder and recatalogs objects there. May change modified in bad ways. Needs
# to be fixed and tested.
func = update_catalog
output = update_catalog.txt
instance = local
args = obj
loop = obj
obj =
    Members
    front-page

[fix_forums]
recipe = collective.migrator:ext_method
source = scripts/site_config.py
# fixes modified time of Ploneboard Conversations so that it matches the last comment date
func = fix_forums
output = fix_forums.txt
instance = local

[pack_db]
recipe = collective.migrator:pack_db
instance = local

[create_news]
recipe = collective.migrator:ext_method
source = scripts/content.py
func = create_newsitem
output = create_newsitem.out
instance = local
args = infile
infile = /var/stories/cabi000.txt

