[migrate_junk]
parts =
    move_blogs

[copy_list]
recipe = collective.migrator:copy_file
files = blogs.txt
source = local
target = remote
source_dir = ${buildout:directory}
target_dir = ${remote:extensions}

[move_blogs]
recipe = collective.migrator:ext_method
source = scripts/content.py
func = get_blogs
args = delete
delete = yes
output = move_blogs.out
instance = remote
# no_copy = True
