
.embededMediaShow
{
    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
}

.embededMediaShow.javascripted {
    height: 537px;
}

.embededMediaShow.javascripted .mediaShowButtons 
{
    left:10px;
    margin-bottom: 20px;
    width: 149px;
}

.embededMediaShow.javascripted .mediaShowButtons a
{
    text-decoration: none;
    border: none !important;
}

.mediaShowButtons a, #content .mediaShowButtons a:link, #content .mediaShowButtons a:visited
{
    color: #354298 !important;
    text-indent: 0px;
    width: auto;
}

.embededMediaShow.javascripted .mediaShowButtons .buttonNext, .embededMediaShow.javascripted .mediaShowButtons .buttonPrev
{
    text-transform: none;
}


.embededMediaShow.javascripted div.mediaShowButtons a.buttonNext, .embededMediaShow.javascripted div.mediaShowButtons a.buttonNext:hover
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/next.png) !important;
    background-position: top right;
    background-repeat: no-repeat;
    padding-right: 15px;
    line-height: 10px;
    height: 18px;
}

.embededMediaShow.javascripted div.mediaShowButtons a.buttonNext:hover, .embededMediaShow.javascripted div.mediaShowButtons a.buttonPrev:hover
{
    text-decoration: underline;
}

.embededMediaShow.javascripted div.mediaShowButtons a.buttonPrev, .embededMediaShow.javascripted div.mediaShowButtons a.buttonPrev:hover
{
    background-image: url(++resource++plonetheme.porseleinplaats.images/prev.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 10px;
    height: 18px;
    border-right: 1px solid #354298 !important;
}