
/************************************************************
 * crud.css
 *
 * Styles specific to "object CRUD" pages.
 ************************************************************/


/******************************
 * Wrapper
 ******************************/

div.crud {
    font-size: 10pt;
    margin: auto;
}


/******************************
 * Context Menu
 ******************************/

div.crud #context-menu {
    float: right;
    list-style-type: none;
}


/******************************
 * Fieldsets
 ******************************/

/* div.crud div.field-couple { */
/*     clear: both; */
/*     overflow: auto; */
/*     min-height: 30px; */
/* } */

/* /\* div.crud div.field-couple div.label, *\/ */
/* div.crud div.field-couple label { */
/*     display: block; */
/*     float: left; */
/*     width: 140px; */
/*     font-weight: bold; */
/*     margin-top: 2px; */
/*     white-space: nowrap; */
/* } */

/* div.crud div.field-couple div.field { */
/*     display: block; */
/*     float: left; */
/*     margin-bottom: 5px; */
/*     line-height: 25px; */
/* } */

/* div.crud div.field-couple div.field input[type=text], */
/* div.crud div.field-couple div.field input[type=password], */
/* div.crud div.field-couple div.field select { */
/*     width: 320px; */
/* } */

/* unbound checkbox field, e.g. 'add another' */
div.crud div.checkbox {
    margin: 10px 0px;
    padding-left: 3px;
}

/* div.crud div.buttons { */
/*     clear: both; */
/*     margin-top: 10px; */
/* } */

/* div.crud div.buttons * { */
/*     margin-right: 8px; */
/* } */

/* div.crud table.fieldset tbody tr { */
/*     vertical-align: top; */
/* } */

/* div.crud table.fieldset tbody td { */
/*     height: 30px; */
/*     padding: 2px; */
/* } */

/* div.crud table.fieldset td.label { */
/*     font-weight: bold; */
/*     width: 120px; */
/* } */

/* div.crud table.fieldset tbody td ul { */
/*     padding-left: 15px; */
/* } */

/* div.crud table.fieldset tbody td ul li { */
/*     line-height: 1em; */
/*     margin-bottom: 4px; */
/* } */
