
.FacebookAlbumsView .publication_form .publication_targets_field .field_label {
    margin-bottom: 0.5em;
}

.FacebookAlbumsView .publication_form .publication_targets_field .CheckList div {
    margin-top: 0.25em;
    font-size: 0.9em;
}

.FacebookAlbumsView .publication_form .album_title_field .control,
.FacebookAlbumsView .publication_form .album_description_field .control {
    width: 33em;
}

.FacebookAlbumsView .publication_form .subset_field {
    width: 34em;
}

.FacebookAlbumsView .publication_form .subset_field .photo {
    float: left;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    font-size: 0.9em;
}

.FacebookAlbumsView .publication_form .subset_field .photo input {
    float: left;
    margin-top: 2em;
}

.FacebookAlbumsView .publication_form .subset_field .photo .image_gallery {
    float: left;
}

.FacebookAlbumsView .publication_form .buttons {
    width: 30em;
    padding-left: 0;
    margin-left: 0;
}

.FacebookAlbumsView .publication_form .close_button {
    float: left;
}

.FacebookAlbumsView .results_table {
    border-collapse: collapse;
    margin-top: 1.5em;
}

.FacebookAlbumsView .results_table tr.new_publishable_row td {
    border-top: 2px solid #ccc;
}

.FacebookAlbumsView .results_table th {
    text-align: left;
    color: #555;
    background-color: #eee;
}

.FacebookAlbumsView .results_table th,
.FacebookAlbumsView .results_table td {
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 1em;
    border: 1px solid #ccc;
}

.FacebookAlbumsView .results_table .ContentLink {
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}

.FacebookAlbumsView .results_table .publication_success,
.FacebookAlbumsView .results_table .publication_success a {
    color: #2a611e;
}

.FacebookAlbumsView .results_table .publication_error {
    color: #982a24;
}

