# Configuration file for Cooker

[main]
# Directory where all the templates are stored
templates_dir = /etc/cooker/templates

[defaults]

# Default programming language to use. (c, cpp, java)
language = cpp

# Default value of contest to be sent
contest =

# Leave blank
site =
