div.milestone td:first-child
{
    width: 50%;
}
div.milestone td
{
    vertical-align: top;
}
div.milestone div.bdc_container
{
	margin-left: 2em;
}

table
{
	border-collapse: collapse;
	border-spacing:  0px;
}

div.zoompanel
{
	position: relative;
	z-index: 1000;
}
div.zoompanel span.zoombutton
{
	float: left;
}
div.zoompanel span.zoombutton:hover:not(.ui-state-disabled)
{
	border: none;
	background-image: url('../img/ui-icons_f08000_256x240.png');
	background-color: transparent;
}

div.bdc_img
{
	position: relative;
	top: -16px;
	left: 0px;
	z-index: 0;
}
