/* $Id: custom.css c24008cf2ab8 2012/06/02 16:20:06 patrick $ */
/* Publidoc2XHtml */

body { margin: 10px; }

h1 { font-variant: small-caps; }


/* ===== SECTION LEVEL ====== */


.pdocSection1, .pdocSection2, .pdocSection3 {
  font-family: serif;
}

.pquizInstructions .pdocSection1,
.pquizInstructions .pdocSection2,
.pquizInstructions .pdocSection3  {
  font-family: sans-serif;
}

.pdocSectionTitle, .pdocSectionSubtitle {
  font-family: sans-serif;
}


/* ====== BLOCK LEVEL ======= */


.pdocSpeechSpeaker, .pdocSpeechStage {
  font-family: sans-serif;
}

.pdocListTitle {
  font-family: sans-serif;
}

.pdocTableTitle {
  font-family: sans-serif;
}

.pdocMedia {
  font-family: sans-serif;
}


/* ====== INLINE LEVEL ====== */


.pdocLink {
    font-family: serif;
}