body{background-image:url(../img/note.jpg);}
h1 {font: 40px/48px 'BloklettersPotlood', Arial, sans-serif;letter-spacing: 0;}
h2 {font: 20px/28px 'BloklettersPotlood', Arial, sans-serif;letter-spacing: 0;}
p {font: 12px/14px 'BloklettersPotlood', Arial, sans-serif;}
a {font: 12px/14px 'BloklettersBalpen', Arial, sans-serif;}
a:hover{
	color:#007FFF;
}
a{
	color:black;
	text-decoration:none;
	cursor:pointer;
}
#container {
	width: 90%;
	margin: 0 auto;
}
.draggable{
	float:left;
	padding:10px;
	width:150px;
	height:150px;
	overflow:hidden;
	position:relative;
}         
.draggable p{ 
	display:inline; 
}
.draggable h2{
	display:inline;
}
.bottom{
	width:90%;
	position:absolute;
	bottom:5px;
}
.top{
	position:absolute;
	top:5px;
	width:90%;
}
a.left{
	float:left;
}
a.right{
	float:right;
}
.col{
	float:left; 
	width:30%;
	margin-left:2%;
}
.col h1{
	margin-left:20%;
}