### SAMPLE PYERCONF CONFIGURATION ###

# /!\ do not use comma to separate values
# 

# a value is set with: key : value
# values are typed. allowed types are:
#  - string (simple or double quotes)
#  - boolean (True or False, case sensitive!)
#  - integer

strval : 'this is a string'
boolval: True
intval : 142

# you can define hierarchies with dictionaries
# ! no comma to se
orgchart : {
	boss : 'Mr Goldmine'
	
	head_office : {
		VP  : 'Miz dho'
		CTO : 'John Bugs'
	}
}
