/*/////////////////////////////////////////
//////////// Estilos de iconos ////////////
/////////////////////////////////////////*/

.user-icon {
    background-image: url('icons/54.png') !important;
    background-size: 100%;
}
.logout-icon {
    background-image: url('icons/118.png') !important;
    background-size: 100%;
}
.new-icon {
    background-image: url('icons/2.png') !important;
    background-size: 100%;
}
.save-icon {
    background-image: url('icons/7.png') !important;
    background-size: 100%;
}
.clear-icon {
    background-image: url('icons/38.png') !important;
    background-size: 100%;
}
.cancel-icon {
    background-image: url('icons/115.png') !important;
    background-size: 100%;
}
.search-icon {
    background-image: url('icons/16.png') !important;
    background-size: 100%;
}
.update-icon {
    background-image: url('icons/48.png') !important;
    background-size: 100%;
}
.delete-icon {
    background-image: url('icons/116.png') !important;
    background-size: 100%;
}
.asignar-icon {
    background-image: url('icons/127.png') !important;
    background-size: 100%;
}
.desasignar-icon {
    background-image: url('icons/126.png') !important;
    background-size: 100%;
}
.details-icon {
    background-image: url('icons/65.png') !important;
    background-size: 100%;
}
.upload-icon {
    background-image: url('icons/105.png') !important;
    background-size: 100%;
}
/*/////////////////////////////////////////
///// Estilos de la mascara de carga //////
/////////////////////////////////////////*/

#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
    position:absolute;
    left:45%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
#loading .loading-indicator{
    background:white;
    color:#444;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    height:auto;
}
#loading-msg {
    font: normal 10px arial,tahoma,sans-serif;
}

/*/////////////////////////////////////////
////// Estilos del cuadro de mensaje //////
/////////////////////////////////////////*/

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}

/*/////////////////////////////////////////
////// Estilos del componente cLabel //////
/////////////////////////////////////////*/

.clabel {
    padding-left: 25px;
    font-size: 11px;
    font-weight: bold;
    width: 237px;
    line-height: 20px;
    cursor: pointer;
    color: #15428B;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-image: url('icons/95.png') !important;
    background-size: 16px 16px;
    background-position: 2px 2px;
    border: 1px solid #A3BAE9;
}
.clabel-hover {
    background-color: #C3D0E6;
}
