/* 

   Adi Dropdownmenu Stylesheet - 

   parts blantly from http://webdesignerwall.com/tutorials/css3-dropdown-menu 

*/

/* reset public.css */
dl.portlet ul.navTreeLevel0 > .navTreeItem {
    border-bottom: none;
}

#portlets-in-header .portletNavigationTree .navTreeLevel0  {
    margin: 0;
    padding: 7px 6px 0;
    background: #fff;
    line-height: 100%;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    height: 3.5em;
}

#portlets-in-header .portletNavigationTree .navTreeLevel0  li {
    margin: 0 5px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
    z-index: 1;
}

/* selected */

#portlets-in-header ul.navTree a.navTreeItemInPath,
#portlets-in-header ul.navTree .navTreeCurrentItem {
    background-color: #DDDDDD;
    border-left: none;
}


/* main level link */

#portlets-in-header .portletNavigationTree .navTreeLevel0  a {
    text-decoration: none;
    display: block;
    padding:  8px 20px;
    margin: 0;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
}

/* main level link hover */

#portlets-in-header .portletNavigationTree .navTreeLevel0  .current a, 
#portlets-in-header .portletNavigationTree .navTreeLevel0  li:hover > a {
    background: #fff;
    border-top: solid 1px #f8f8f8;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
    box-shadow: 0 1px 1px rgba(0,0,0, .2);
}

/* sub levels link hover */

#portlets-in-header .portletNavigationTree .navTreeLevel0  ul li:hover a, 
#portlets-in-header .portletNavigationTree .navTreeLevel0  li:hover li a {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#portlets-in-header .portletNavigationTree .navTreeLevel0  ul a:hover {
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/* dropdown */

#portlets-in-header .portletNavigationTree .navTreeLevel0  li:hover > ul {
    display: block;
}

/* level 2 list */

#portlets-in-header .portletNavigationTree .navTreeLevel0  ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 35px;
    left: 0;
    background: #fff;
    border: solid 1px #b4b4b4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
}

#portlets-in-header .portletNavigationTree .navTreeLevel0  ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#portlets-in-header .portletNavigationTree .navTreeLevel0  ul a {
    font-weight: normal;
}

/* level 3+ list */

#portlets-in-header .portletNavigationTree .navTreeLevel0  ul ul {
    left: 181px;
    top: -3px;
}

/* rounded corners of first and last link */

#portlets-in-header .portletNavigationTree .navTreeLevel0  ul li:first-child > a {
    -webkit-border-top-left-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topright: 9px;
}

#portlets-in-header .portletNavigationTree .navTreeLevel0  ul li:last-child > a {
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
}

/* no icons please */
.icons-on #portlets-in-header .contenttype-folder {
    background-image: none;
}

/* we don't want the  portlet-header */
#portlets-in-header .portletNavigationTree .portletHeader {
    display: none;
}

/* clearfix */

#portlets-in-header .portletNavigationTree .navTreeLevel0 :after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#portlets-in-header .portletNavigationTree .navTreeLevel0  {
    display: inline-block;
} 

html[xmlns] #portlets-in-header .portletNavigationTree .navTreeLevel0  {
    display: block;
}
 
* html #portlets-in-header .portletNavigationTree .navTreeLevel0  {
    height: 1%;
}
