[buildout]
extends = versions/versions.cfg
develop = .
parts =
    paster
    test
allow-picked-versions = false

[versions]
tl.pkg =

# Since paster calls setup.py with sys.executable to have egg-info created, we
# need to make sure to use a Python installation that has at least setuptools
# available. Furthermore, buildout's test part exports a PYTHONPATH such that
# the test part's site.py is loaded, which may conflict with the subprocess
# call to the operating system's hg (and will certainly do so if that happens
# to use a different Python version than the buildout).
[vpython]
recipe = tl.buildout_virtual_python
eggs = distribute

[paster]
recipe = zc.recipe.egg
eggs = tl.pkg
       PasteScript
scripts = paster
interpreter = py
python = vpython

[test]
recipe = zc.recipe.testrunner
eggs = tl.pkg [test,doc]
defaults = ["--ignore_dir=tl_pkg_template"]
python = vpython
