.dashboard ul.dashboards {
  clear:right;
  float:right;
  padding-right:2.08333%;
}

.dashboard .add-object-form {
  float:left;
}

.dashboard > .row {
  margin:0 0 2.08333% 0;
}

.dashboard-widget {
  float:left;
  position:relative;
  margin:0 2.08333% 0 0;
  font-size:90%;
  line-height:1.5em;
  padding-top:2em;
}

.dashboard-widget.placeholder {
  opacity:0.3;
  -moz-opacity:0.3;
  -webkit-opacity:0.3;
  -o-opacity:0.3;
}

.dashboard-widget .header {
  position:absolute;
  top:-1px;
  left:0;
  width:100%;
  text-align:right;
  cursor:move;
  background-color:#eee;
  border-bottom:1px solid #fff;
  opacity:0.1;
  -moz-opacity:0.1;
  -webkit-opacity:0.1;
  -o-opacity:0.1;
}

.dashboard-widget:hover .header {
  opacity:1;
  -moz-opacity:1;
  -webkit-opacity:1;
  -o-opacity:1;
}

.dashboard-widget .header .button {
  height:2em;
  line-height:2em;
  padding-top:0;
  padding-bottom:0;
}

.dashboard-widget.ui-sortable-helper {
  border:none;
  background-color:transparent;
  box-shadow:0 0 0.5em rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 0.5em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:0 0 0.5em rgba(0, 0, 0, 0.5);
}

.dashboard-widget .body {
  height:100%;
  background-color:#f5f5f5;
  overflow:auto;
}

.dashboard-widget .body .wrapper {
  padding:2em;
}

.dashboard-widget .body .wrapper h1 {
  margin-bottom:1em;
}

.dashboard-widget .body .wrapper h1 a {
  text-decoration:none;
}

.dashboard-widget .body .wrapper .listing,
.dashboard-widget .body .wrapper caption {
  margin-top:0;
}

.dashboard-widget .body .wrapper .listing.fixed-table-head {
  background-color:#f5f5f5;
}

.dashboard-widget .body .wrapper caption {
  font-size:220%;
}

.dashboard-widget .body #actionsView {
  padding-bottom:0;
}

.dashboard-widget .body .edit-form .contents ul > li {
  padding-bottom:0;
}

.dashboard-widget .body .edit-form label {
  padding-top:0.5em;
}

.dashboard-widget.loading .body .wrapper {
  visibility:hidden;
}

.dashboard-widget.loading .body {
  background-image:url("../../horae.layout/loader-large.gif");
  background-repeat:no-repeat;
  background-position:center center;
}

.dashboard-sidebar .dashboard-widget .body .edit-form .contents ul > li {
  padding-top:0;
  float:none;
  width:auto;
}

.dashboard-sidebar .dashboard-widget {
  float:none;
  font-size:80%;
}

.dashboard-sidebar .dashboard-widget h1 {
  font-size:170%;
}

.timetracking-widget .body .edit-form .contents ul > li {
  clear:both;
  width:auto;
  float:none;
}

.timetracking-widget .body .edit-form .contents ul > li.date_start {
  padding-top:0;
}

.timetracking-widget .body .edit-form .contents ul > li.date_end {
  padding-bottom:2em;
}

.worktimetracking-widget .body .edit-form .contents ul > li.date_start,
.worktimetracking-widget .body .edit-form .contents ul > li.date_end {
  float:none;
  clear:both;
  width:auto;
}
