[seleniumrc]
#url = http://selenium.googlecode.com/files/selenium-remote-control-1.0.3.zip
#md5sum = 8935cc7fe4dde2fd2a95ddd818e7493b
#download-only = false
url = http://selenium.googlecode.com/files/selenium-server-standalone-2.6.0.jar
md5sum = 5196ac1456e92841a14ce10d21bb38fd
# Selenium RC >= 2.0 ships as plain .jar, so don't unzip
download-only = true
java-cmd=java
