body {
    font-family: Helvetica,Arial,sans-serif;
}
h1 {
    text-align: center;
}
#wrapper {
/*     width: 1000px; */
    margin: 0 auto;
}
#chart img {
    display: block;
    margin: 0 auto 1em;
}
#navigation {
    background-color: #E5ECF9;
    padding: 5px;
    text-align: center;
    margin-bottom: 1em;
}
#navigation a {
    color: #3366CC;
    text-decoration: none;
    font-weight: bold;
}
#navigation a:hover {
    color: #3366CC;
    text-decoration: underline;
}
#navigation a.current {
    color: #000000;
}
form {
    background-color:#E5ECF9;
    border-top: 1px solid #3366CC;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
}
table {
    font-size: 75%;
    border: 1px solid #3366CC;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    padding: 5px;
    background-color: #E5ECF9;
    border:1px solid #3366CC;
}
td {
    padding: 5px;
    text-align: center;
    border:1px solid #3366CC;
}

table ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

table td span.none {
    color: red;
}
