#googlemaps {
	width: 95%;
	height: 500px;
	border: 1px solid #CCC;
}

/*
#archetypes-fieldname-geolocation .googleMapEdit {
	width: 80%;
}
*/

.disabledMonetMap {
	background-color: #e0e0e0;
	padding: 2em 0.5em;
}
