# package info
PACKAGE = pygmyplot
VERSION = 0.2
RELEASE = 0.2.8rc
AUTHOR = James C. Stroud
EMAIL = jstroud@mbi.ucla.edu
URL = http://pygmyplot.bravais.net
COPYRIGHT = Copyright (c) 2012, James C. Stroud; All rights reserved.
DESCRIPTION = Matplotlib wrapper plotting library
