[buildout]
develop = .
parts = test py paste.ini

[test]
recipe = zc.recipe.testrunner
eggs = zc.zkzopeserver [test]

[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
       PasteScript
       bobo
       
interpreter = py

[paste.ini]
recipe = zc.recipe.deployment:configuration
text =
  [app:main]
  use = egg:bobo
  bobo_resources = zc.zkzopeserver.tests

  [server:main]
  use = egg:zc.zkzopeserver
  zookeeper = 127.0.0.1:2181
  path = /
  monitor_server = true
