[buildout]
parts = test interpreter lxml
develop = .

[test]
recipe = zc.recipe.testrunner
eggs = sw.nikeplus [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--color', '--exit-with-status']

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml

[interpreter]
recipe = zc.recipe.egg:script
eggs = sw.nikeplus
interpreter = py
