input.spinbox-active {
  padding-right:10px;
  text-align:right;
  background-repeat:no-repeat;
  background-position:right center;
  background-image:url(spinbox-neutral.gif);
}
input.spinbox-active.spinbox-up-hover {
  background-image:url(spinbox-up-hover.gif);
  cursor:pointer;
}
input.spinbox-active.spinbox-down-hover {
  background-image:url(spinbox-down-hover.gif);
  cursor:pointer;
}
input.spinbox-active.spinbox-up {
  background-image:url(spinbox-up.gif);
  cursor:pointer;
}
input.spinbox-active.spinbox-down {
  background-image:url(spinbox-down.gif);
  cursor:pointer;
}