[buildout]
parts = theme-solarized

develop = .

[theme-s6]
recipe = zc.recipe.egg
eggs = sphinxjp.themes.solarized
interpreter = py

[test]
recipe = pbp.recipe.noserunner
eggs = sphinxjp.themes.solarized

