
/******************************
 * login.css
 ******************************/

div.fieldset {
    text-align: center;
}

div.field-couple {
    margin: 10px auto;
    width: 300px;
}

div.field-couple label {
    margin: 0px;
    text-align: right;
    width: 100px;
}

div.field-couple input {
    width: 150px;
}

div.buttons input {
    margin: auto 5px;
}
