
BODY,
INPUT,
SELECT {
	font-family: Univers, Verdana, Arial, sans-serif;
	font-size: 0.9em;
}

INPUT,
SELECT {
	font-size: 1.0em;
}

DIV.row DIV.label {
	color: #768eb4;
	font-weight: bold;
	padding-left: 3px;
	border-left: 4px solid #768eb4;
	border-bottom: 1px solid #768eb4;
	margin: 5px 0px 0px;
}

DIV.input SPAN.required {
	font-weight: bold;
	color: red;
}

#tooltip {
	display: none;
	background-color: #ffa;
	border: 1px solid #cc9;
	padding: 2px;
	font-size: 90%;
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
}

A.hint {
	cursor: help;
	float: right;
	color: #000;
	background-color: #ffffbf;
	font-weight: bold;
	margin-left: 12px;
	padding: 0px 2px;
	text-decoration: none;
}

A.hint:hover {
	background-color: #ff0000;
	color: #fff;
}

DIV.cthumb {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 30px;
	height: 30px;
	border: 1px solid red;
	z-index: 2;
}

DIV.current-value {
	padding: 0px 4px;
}

DIV.download-link {
	position: relative;
}

DIV.download-link IMG {
	vertical-align: top;
	border: 0px;
	margin: 2px;
}

/**
 * JQuery tools tabs
 */
#tabforms UL.tabs {
	margin:0 !important;
	padding:0;
	height:30px;
	border-bottom:1px solid #666;
}

#tabforms UL.tabs LI {  
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
}

#tabforms UL.tabs A { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;
	text-decoration:none;
	border:1px solid #666;
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
}

#tabforms UL.tabs A:hover {
	background-color:#F7F7F7;
	color:#333;
}

#tabforms UL.tabs A.current {
	background-color:#ddd;
	border-bottom:1px solid #ddd;
	color:#000;
	cursor:default;
}

#tabforms UL.tabs LI.error A {
	color: red !important;
}

#tabforms DIV.panes > DIV {
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	min-height:150px;
	padding:15px 20px;
	background-color:#ddd;
}

/**
 * ProgressBar style
 */
IFRAME.progress {
	border: none;
	padding: none;
	margin: none;
	display: block;
	float: right;
	width: 120px;
	height: 50px;
	overflow: hidden;
}

BODY.progressbar {
	margin: 20px 0px 0px;
	padding: 0px;
}

/**
 * TinyMCE editor settings
 */
SPAN.mceEditor TABLE.mceLayout {
	width: 100% !important;
}

TD.mceIframeContainer IFRAME {
	min-height: 200px;
}
