# Default configuration file for Cooker

# To override defaults create a similar file
# in your home directory, ~/.cooker.cfg

[main]
# Directory where all the templates are stored
templates = /etc/cooker/templates

# Verbose mode for more output (True, False)
verbose = True

# Save problem page (experimental) (True, False)
save_problem = False

[defaults]

# Default programming language template to use
# Supported : c, cpp, java, py
language = cpp

# Default for solving problems. (e.g. /home/coder/programming )
directory = .

# Default value of contest to be sent
contest =

# Programming site to use (experimental)
site = chef
