@import url("nature.css");

body {
    background-color:#f6f6f6;
}

div.footer {
    color:#000000;
}

div.related {
    background-color:#333333;
}

div.body h1 {
    background-color:#e6ddaf;
}

div.body h2 {
    background-color:#dddddd;
}

div.body dt {
    border:1px solid #cccccc;
    border-right:none;
    border-bottom:none;
    padding-top:3px;
    padding-left:3px;
}

div.body dd dt {
    border:none;
    padding:none;
}
