.widget .AutocompleteWidget .value label {
  display:block;
  padding:0.4em;
}

.widget .AutocompleteListWidget .value label {
  float:left;
  margin-right:0.5em;
  margin-bottom:0.5em;
}

.autocomplete {
  clear:left;
}
