# To override this base configuration in your local environment, extend it by
# a configuration file local.cfg and run `bin/buildout's -c local.cfg`. This
# way, there's always a workable buildout.cfg distributed with the package.
# The local.cfg file is already included in .hgignore.

[buildout]
develop = .
parts = demo test sphinx
versions = versions

[versions]
sphinx = 1.1.2

[cairo]
recipe = tl.buildout_gtk>=0.2
pygobject = false
pygtk = false

[demo]
recipe = zc.recipe.egg
eggs = tl.testing
extra-paths = ${cairo:path}
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = tl.testing [test]
extra-paths = ${cairo:path}

[sphinx]
recipe = zc.recipe.egg
eggs = sphinx
       pkginfo
       sphinxcontrib-bitbucket
       sphinxcontrib-cheeseshop
       tl.testing
extra-paths = ${cairo:path}
scripts = sphinx-build
arguments = argv=sys.argv+("-E -d build/sphinx/doctrees"
                           " doc/ build/sphinx/html/").split()
