/* Stylesheet for the 'Porseleinplaats' Plone theme */

body
{
    background-color: #dae4eb;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url(/porseleinplaats/yellow.jpg);
    background-repeat: repeat-y;
    background-position: top left;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial, sans-serif;
    letter-spacing: normal;
}

h1
{
    font-size: 18px;
}

h2, h3, h4, h5, h6
{
    font-size: 16px;
}

#portal-logo
{
   margin-left: 20px;
}

#portal-top
{
    background-color: #f8b482;
}

#portal-columns
{
    margin:0;
}

#portal-column-one
{
    /*background-color: #fef099;*/
    width: 15.75% !important;
    padding-top: 10px;
}

#content
{
    margin:10px 0;
}

div.position-1\:4 {
    margin-left: -79.87% !important;
}

div.width-3\:4 {
    width: 81%;
}

dl.portlet dt, div.portletAssignments div.portletHeader 
{
    background: none;
    background-color: transparent;
}

dl.portletError {
    background-color: transparent;
}

#portal-header, #portal-columns
{
    width: 970px;
}

/* menu */

#portal-globalnav {
    background:none;
    clear:none;
    text-align:right;
    float:right;
    width:400px !important;
    margin-top:39px;
}

#portal-globalnav li
{
    background: none;
}

#portal-globalnav li a, #portal-globalnav .selected a, #portal-globalnav li a:hover, #portal-globalnav .selected a:hover
{
    background: none;
    color: black;
}

#portal-globalnav li a
{
    border: none;
    font-size:11px;
}

#portal-globalnav li a:hover
{
    color: #7bbfca;
}

#portal-globalnav .selected a
{
    color: #7bbfca;
}

#portal-globalnav .selected a:hover
{
    color: #7bbfca;
}
