div.piesel-menu-container {
   z-index: 2;
   position: fixed;
   height: 80px;
   width: 80px;
   border: solid 1px;
   border-radius: 40px;
   background: #EEE;
   padding-top: -1em;
}

div.piesel-menu-container span:hover {
    font-weight:bold;
}

div.piesel-menu-container span {
    position: absolute;
    margin-left: -0.6em;
    margin-top: -0.8em;
    cursor: default;
}

div.piesel-menu-container span.selected {
    border: solid 2px;
    border-radius: 1em;
}
