.edit-form ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.edit-form label .hint {
  display:block;
  font-size:80%;
}

.edit-form label {
  padding:0.8em 0 0.2em 0;
  font-size:120%;
  display:block;
  overflow:hidden;
}

.edit-form label .required {
  color:#900;
  font-size:120%;
  font-weight:bold;
}

.edit-form .widget div.MultiCheckBoxWidget {
  width:80%;
  max-height:8em;
  border:1px solid #ccc;
  background-color:#fff;
  padding:0.5em 2em 0.5em 1em;
  overflow:auto;
  margin:3px;
  box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 5px rgba(0, 0, 0, 0.03);
  -moz-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 5px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 5px rgba(0, 0, 0, 0.03);
}

.edit-form .widget label {
  font-size:100%;
  padding:0;
}

.edit-form .widget .value br {
  display:none;
}

.edit-form .widget {
  margin-right:1.2em;
  padding-right:10px;
}

.edit-form .contents ul .date_start .widget,
.edit-form .contents ul .date_end .widget,
.edit-form .contents ul .start_due_date_start .widget,
.edit-form .contents ul .start_due_date_end .widget,
.edit-form .contents ul .start_due_date_min .widget,
.edit-form .contents ul .start_due_date_max .widget {
  margin-right:0;
  padding-right:0;
}

.edit-form .widget input,
.edit-form .widget textarea {
  width:100%;
}

.edit-form .widget input.spinbox {
  width:85%;
}

.edit-form .widget select {
  max-width:100%;
}

.edit-form .widget input.checkboxType,
.edit-form .widget input.radioType,
.edit-form .widget input.noborder,
.edit-form .widget input.editcheck {
  width:auto;
}

.edit-form .widget input.date,
.edit-form .widget input.hours,
.edit-form .widget input.minutes {
  width:1.3em;
  margin-right:8px;
}

.edit-form .widget input.date {
  width:4em;
}

.edit-form .widget input.hourInput {
  font-size:300%;
  width:3em;
  max-width:85%;
  text-align:center;
}

.edit-form .contents ul > li {
  clear:both;
  padding-bottom:1em;
}

.edit-form .contents ul .default_planned_resource,
.edit-form .contents ul .start_due_date_start,
.edit-form .contents ul .start_due_date_end,
.edit-form .contents ul > .estimated_hours,
.edit-form .contents ul > .estimated_hourly_expense,
.edit-form .contents ul > .estimated_onetime_expense,
.edit-form .contents ul > .minimum_entry_length,
.edit-form .contents ul > .maximum_week_hours,
.edit-form .contents ul > .estimated_onetime_expense,
.edit-form .contents ul > .priority,
.edit-form .contents ul > .workflow,
.edit-form .contents ul > .milestone,
.edit-form .contents ul > .deactivate_hourlyexpenses,
.edit-form .contents ul > .deactivate_onetimeexpenses,
.edit-form .contents ul > .workexpense,
.edit-form[action*="planned_resources"] .contents ul > .resource,
.edit-form[action*="planned_resources"] .contents ul > .costunit,
.edit-form[action*="planned_resources"] .contents ul > .percentage,
.edit-form[action*="planned_resources"] .contents ul > .hours,
.edit-form[action*="global_resources"] .contents ul > .users,
.edit-form[action*="global_resources"] .contents ul > .groups,
.edit-form[action*="global_resources"] .contents ul > .user,
.edit-form[action*="global_resources"] .contents ul > .costunits,
.edit-form[action*="global_resources"] .contents ul > .default_costunit,
.edit-form[action*="timeentry"] .contents ul > .date_start,
.edit-form[action*="timeentry"] .contents ul > .date_end,
.edit-form[action*="timeentry"] .contents ul > .date_hours,
.edit-form[action*="timeentry"] .contents ul > .repeat,
.edit-form[action*="timeentry"] .contents ul > .repeat_until,
.edit-form.discreet .contents ul > .date_start,
.edit-form.discreet .contents ul > .date_end,
.edit-form.discreet .contents ul > .date_hours,
.edit-form.discreet .contents ul > .repeat,
.edit-form.discreet .contents ul > .repeat_until,
.edit-form[action*="users"] .contents ul > .groups,
.edit-form[action*="users"] .contents ul > .roles {
  clear:none;
  width:30%;
  float:left;
  margin-right:3%;
}

.edit-form .contents ul > .estimated_hours,
.edit-form .contents ul > .minimum_entry_length {
  clear:left;
}

.edit-form[action*="timeentry"] .contents ul > .date_start,
.edit-form[action*="timeentry"] .contents ul > .date_end,
.edit-form[action*="timeentry"] .contents ul > .date_hours,
.edit-form.discreet .contents ul > .date_start,
.edit-form.discreet .contents ul > .date_end,
.edit-form.discreet .contents ul > .date_hours {
  padding:0 0 1em 0;
}

.edit-form[action*="planned_resources"] .contents ul > .resource,
.edit-form[action*="planned_resources"] .contents ul > .costunit,
.edit-form[action*="planned_resources"] .contents ul > .percentage,
.edit-form[action*="planned_resources"] .contents ul > .hours,
.edit-form[action*="users"] .contents ul > .roles,
.edit-form[action*="users"] .contents ul > .groups,
.edit-form .contents ul > .hidden,
.edit-form .contents ul > .dependencies {
  clear:none;
  float:right;
  width:45%;
}

.edit-form[action*="planned_resources"] .contents ul > .resource,
.edit-form[action*="planned_resources"] .contents ul > .percentage,
.edit-form[action*="global_resources"] .contents ul > .costunits,
.edit-form[action*="timeentry"] .contents ul > .repeat,
.edit-form[action*="users"] .contents ul > .groups,
.edit-form .contents ul > .hidden {
  clear:both;
  float:left;
}

.edit-form .contents ul .start_due_date_start {
  clear:both;
}

.edit-form .contents ul > .date_hours {
  float:left;
  width:30%;
  padding:2em 0;
}

.edit-form .contents ul > .date_start,
.edit-form .contents ul > .date_end {
  clear:none;
  float:right;
  width:60%;
  padding:0 0 2em 0;
}

.edit-form .contents ul > .date_start {
  padding:2em 0 0 0;
}

.edit-form .contents ul > .hourlyexpenses,
.edit-form .contents ul > .onetimeexpenses,
.edit-form .contents ul > .attachments {
  padding:1em 0;
}

.form-status {
  color:#fff;
  font-weight:bold;
  padding:0.5em 1em;
  margin:1em 0;
  background:#966;
}

.form-status.success {
  background:#696;
}

.edit-form div.error {
  color:#522;
  font-weight:bold;
  padding:0.2em 0.5em;
}

.edit-form .hasError > label {
  color:#522;
}

.edit-form .hasError input,
.edit-form .hasError textarea {
  border-color:#b88;
}

.form-status ul {
  font-weight:normal;
  list-style-type:square;
  padding-left:2em;
}

.mceEditorContainer {
  padding:3px;
}

.mceEditorContainer .mceEditor {
  border:none;
  box-shadow:0 0 0 5px rgba(0, 0, 0, 0.03);
  -moz-box-shadow:0 0 0 5px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow:0 0 0 5px rgba(0, 0, 0, 0.03);
}

.mceEditor .mceToolbarTop,
.mceEditor .mceStatusbarBottom {
  padding:4px;
  background:#ddd; /* old browsers */
  background:-moz-linear-gradient(top, #ddd 0%, #bbb 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#bbb)); /* webkit */
  background: -o-linear-gradient(top, #ddd 0%,#bbb 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ddd 0%,#bbb 100%); /* IE10+ */
}

.mceEditor .mceSelectList {
  border:1px solid #bbb;
  padding:4px;
  margin:0;
  background-color: #ccc !important; /* old browsers */
  background-color:rgba(0, 0, 0, 0.1) !important;
  font-size:11px !important;
}

.mceEditor iframe {
  display:block;
  border:1px solid #bbb;
  margin:0;
  box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.mceEditor .mceSeparatorLine {
  opacity:0.5;
  -moz-opacity:0.5;
  -webkit-opacity:0.5;
  -o-opacity:0.5;
}

.mceEditor a.mceButtonNormal img,
.mceEditor a.mceButtonSelected img,
.mceEditor a.mceButtonDisabled img {
  border:none !important;
}

.mceEditor a.mceButtonNormal img:hover,
.mceEditor a.mceButtonSelected img:hover {
  border:none !important;
  background-color: #9c9 !important; /* old browsers */
  background-color:rgba(0, 0, 0, 0.1) !important;
}

.edit-form .widget .sequencewidget {
  margin:0;
  background-color:#eee;
}

.edit-form .widget .sequencewidget table {
  width:100%;
}

.edit-form .widget .sequencewidget .form-status {
  margin-top:0;
}

.edit-form .widget .sequencewidget .row {
  float:none;
  width:auto;
}

.edit-form .widget .sequencewidget td {
  vertical-align:middle;
  padding:0.5em 0;
}

.edit-form .widget .sequencewidget fieldset {
  padding-left:1em;
}

.edit-form .widget .sequencewidget textarea {
  height:4em;
}

#actionsView {
  clear:both;
  padding:1em 0;
}

.edit-form .widget .button,
a.button,
input.button,
li.button a {
  width:auto;
  font-size:100%;
  cursor:pointer;
  text-transform:uppercase;
  text-decoration:none;
  display:inline-block;
  height:2.5em;
  line-height:2.5em;
  padding:0.25em 1em;
  white-space:nowrap;
  color:#fff;
  font-weight:bold;
  text-shadow:0 0 1px #030;
  background:#585; /* old browsers */
  background:-moz-linear-gradient(top, #696 0%, #474 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#696), color-stop(100%,#474)); /* webkit */
  background: -o-linear-gradient(top, #696 0%, #474 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #696 0%, #474 100%); /* IE10+ */
  border:none;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

.edit-form .widget .button:focus,
a.button:focus,
input.button:focus,
li.button a:focus,
.edit-form .widget .button:hover,
a.button:hover,
input.button:hover,
li.button a:hover {
  color:#fff;
  background:#474; /* old browsers */
  background:-moz-linear-gradient(top, #585 0%, #363 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#585), color-stop(100%,#363)); /* webkit */
  background: -o-linear-gradient(top, #585 0%, #363 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #585 0%, #363 100%); /* IE10+ */
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

.edit-form .widget .button-destructive,
a.button-destructive,
input.button-destructive,
li.button-destructive a,
.button#form\.actions\.cancel {
  text-shadow:0 0 1px #300;
  background:#855; /* old browsers */
  background:-moz-linear-gradient(top, #966 0%, #744 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#966), color-stop(100%,#744)); /* webkit */
  background: -o-linear-gradient(top, #966 0%, #744 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #966 0%, #744 100%); /* IE10+ */
}

.edit-form .widget .button-destructive:focus,
a.button-destructive:focus,
input.button-destructive:focus,
li.button-destructive a:focus,
.button#form\.actions\.cancel:focus,
.edit-form .widget .button-destructive:hover,
a.button-destructive:hover,
input.button-destructive:hover,
li.button-destructive a:hover,
.button#form\.actions\.cancel:hover {
  background:#744; /* old browsers */
  background:-moz-linear-gradient(top, #855 0%, #633 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#855), color-stop(100%,#633)); /* webkit */
  background: -o-linear-gradient(top, #855 0%, #633 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #855 0%, #633 100%); /* IE10+ */
}

.edit-form .widget .button-alternative,
a.button-alternative,
input.button-alternative,
li.button-alternative a {
  text-shadow:0 0 1px #014;
  background:#458; /* old browsers */
  background:-moz-linear-gradient(top, #569 0%, #347 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#569), color-stop(100%,#347)); /* webkit */
  background: -o-linear-gradient(top, #569 0%, #347 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #569 0%, #347 100%); /* IE10+ */
}

.edit-form .widget .button-alternative:focus,
a.button-alternative:focus,
input.button-alternative:focus,
li.button-alternative a:focus,
.edit-form .widget .button-alternative:hover,
a.button-alternative:hover,
input.button-alternative:hover,
li.button-alternative a:hover {
  background:#347; /* old browsers */
  background:-moz-linear-gradient(top, #458 0%, #236 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#458), color-stop(100%,#236)); /* webkit */
  background: -o-linear-gradient(top, #458 0%, #236 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #458 0%, #236 100%); /* IE10+ */
}

.edit-form .widget .button,
.edit-form .widget .button-discreet,
a.button-discreet,
input.button-discreet,
li.button-discreet a {
  font-size:80%;
}

.listing th > .button {
  float:right;
  height:1.5em;
  line-height:1.5em;
}

.button-group {
  word-spacing:-2px;
}

.listing th .button-group,
.listing td .button-group {
  text-align:right;
}

ul.button-group,
.button-group ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul.button-group li,
.button-group ul li {
  display:inline;
  list-style:none;
  margin:0;
  padding:0;
}

.button-group a.button,
.button-group input.button,
.button-group .button a,
.edit-form .widget .button-group .button {
  margin-right:0;
  margin-left:0;
  word-spacing:0;
}

.search-form .implements .widget div.MultiCheckBoxWidget,
.search-form .tags .widget div.MultiCheckBoxWidget {
  max-height:none;
  overflow:visible;
  padding:0;
  border:none;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

.search-form .implements .widget .value label,
.search-form .tags .widget .value label {
  display:inline;
  margin-right:1em;
  white-space:nowrap;
}

.search-form .contents ul .implements,
.search-form .contents ul .current,
.search-form .contents ul .name,
.search-form .contents ul .description,
.search-form .contents ul .responsible,
.search-form .contents ul .priority,
.search-form .contents ul .client,
.search-form .contents ul .project,
.search-form .contents ul .milestone,
.search-form .contents ul .complete,
.search-form .contents ul .offer,
.search-form .contents ul .start_due_date_min,
.search-form .contents ul .start_due_date_max,
.search-form .contents ul .estimated_hours_min,
.search-form .contents ul .estimated_hours_max,
.search-form .contents ul .deadline_within_days,
.search-form .contents ul .difference_to_deadline_lower_than,
.search-form .contents ul .plannedresources {
  clear:none;
  float:left;
  width:30%;
  margin-right:3%;
}

.search-form .contents ul .implements,
.search-form .contents ul .complete,
.search-form .contents ul .responsible,
.search-form .contents ul .name,
.search-form .contents ul .priority,
.search-form .contents ul .client,
.search-form .contents ul .start_due_date_min,
.search-form .contents ul .estimated_hours_min,
.search-form .contents ul .deadline_within_days {
  clear:both;
}

.AutocompleteListWidget .autocomplete-value {
  background-color:#eee;
  padding-left:1em;
  padding-right:1em;
  border-radius:1em;
  -moz-border-radius:1em;
  -webkit-border-radius:1em;
}

.ui-autocomplete-loading {
  background-image:url("loader-small.gif");
  background-position:right center;
  background-repeat:no-repeat;
}
