.listing {
  list-style-type:none;
  margin:1em 0;
  padding:0;
  width:100%;
  border-collapse:collapse;
}

.listing caption {
  margin-bottom:1em;
}

.listing caption small {
  display:block;
  margin:0.2em 0 0 0;
  font-size:60%;
  color:#999;
}

.listing > li {
  border-bottom:1px solid #ccc;
}

.listing .filter ul,
.listing .filter li {
  border:none;
  list-style:none;
  margin:0;
  padding:0;
}

.listing .filter strong {
  display:block;
}

.listing .filter ul {
  max-height:20em;
  padding-right:3em;
  overflow:auto;
}

.listing .active {
  position:relative;
}

.listing .active .contents {
  position:absolute;
  top:2em;
  left:0;
  overflow:hidden;
  padding:1em;
  background:#fff;
  border-width:0 1px 1px 1px;
  border-style:solid;
  border-color:#555;
  z-index:1;
}

.listing .active .contents .button {
  float:right;
  margin:0.5em 0 0 0;
}

.listing th,
.listing td {
  text-align:left;
  padding:0.5em 1em;
  border-bottom:1px solid #ccc;
  white-space:nowrap;
}

.listing th a {
  text-decoration:none;
}

.listing th.sortable a:after {
  content:"\25B2 ";
  color:#fff;
  color:transparent;
  margin:0 0 0 0.5em;
  font-size:75%;
  line-height:1.33em;
}

.listing th.sortable a:hover:after,
.listing th.sorted a:after {
  color:#999;
}

.listing th.sorted a:hover:after,
.listing th.reversed a:after {
  content:"\25BC ";
}

.listing th.reversed a:hover:after {
  content:"\25B2 ";
}

.listing tfoot td {
  border-top:1px solid #555;
  border-bottom:none;
  font-weight:bold;
  background:#f5f5f5;
  background:-moz-linear-gradient(top, #ddd 0%, #f5f5f5 5px, #f5f5f5 100%); /* firefox */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(5px,#f5f5f5), color-stop(100%,#f5f5f5)); /* webkit */
  background: -o-linear-gradient(top, #ddd 0%, #f5f5f5 5px, #f5f5f5 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ddd 0%, #f5f5f5 5px, #f5f5f5 100%); /* IE10+ */
}

.sharing tfoot td {
  font-size:80%;
  text-align:right;
}

.listing .column-name {
  width:100%;
  white-space:normal;
}

.listing th {
  font-weight:bold;
}

.listing thead th {
  border-bottom-color:#555;
}

.listing thead th.discreet {
  color:#555;
  font-weight:normal;
}

.listing thead th.noborder {
  border-bottom:none;
}

.listing tbody tr:nth-child(odd),
.listing tbody tr:nth-child(odd) th,
.listing tbody tr:nth-child(odd) td {
  background-color:#fff;
}

.listing tbody tr:nth-child(even),
.listing tbody tr:nth-child(even) th,
.listing tbody tr:nth-child(even) td {
  background-color:#f5f5f5;
}

.listing tbody tr.overdue,
.listing tbody tr.overdue td {
  background:#fee;
}

.listing tbody tr.overdue:nth-child(even),
.listing tbody tr.overdue:nth-child(even) td {
  background:#f5e5e5;
}

.listing tbody tr.offer,
.listing tbody tr.offer td {
  background:#efe;
}

.listing tbody tr.offer:nth-child(even),
.listing tbody tr.offer:nth-child(even) td {
  background:#e5f5e5;
}

.listing tbody tr.complete,
.listing tbody tr.complete td {
  background:#e5e5e5;
}

.listing tbody tr.complete:nth-child(even),
.listing tbody tr.complete:nth-child(even) td {
  background:#e0e0e0;
}

.listing.fixed-table-head {
  background-color:#fff;
}

.nestedlisting {
  margin:0 0 0 2em;
}

.nestedlisting .listing {
  margin:0;
}

.nestedlisting caption {
  position:relative;
  margin:0 0 0 -1.1em;
  border-top: 1px solid #CCCCCC;
  padding: 0.55em 0;
}
