.nestedlist {
  margin:2em 0 0 0;
}

.nestedlist ol {
  clear:both;
  margin-left:0;
  padding:1em 0;
}

.nestedlist li {
  position:relative;
  clear:both;
  padding:1em 0 1em 0;
  border-top:1px solid #ccc;
}

.nestedlist li li {
  padding-left:2em;
}

.nestedlist li .heading {
  float:left;
  margin:0 2em 0.5em 0;
}

.nestedlist li .heading a {
  text-decoration:none;
}

.nestedlist li .heading .parent {
  font-size:80%;
  padding-right:2em;
}

.nestedlist li .heading .id {
  margin-left:0.5em;
}

.nestedlist li .collapsible .toggler {
  float:right;
}

.nestedlist li .listing .collapsible .toggler {
  float:none;
}

.nestedlist li .listing,
.nestedlist li .collapsible .contents {
  clear:both;
}

.nestedlist li form {
  margin:0 0 1em 2em;
}
