[buildout]
develop = . 
parts = releaser devpython 
unzip = true

[versions]

[releaser]
recipe = z3c.recipe.scripts
eggs = zest.releaser
       jslex

[devpython]
recipe = z3c.recipe.scripts:interpreter
eggs = jslex


