body {
  background-color:#fffefa;
}
.container {
  background-color:#fff8db;
  padding: 1em;
  margin: 20px auto;
  border: 4px double #F5CD31;
  border-radius: 20px;
  box-shadow: #aaa 0px 0px 15px;
  -webkit-box-shadow: #aaa 0px 0px 15px;
}
a {
  color: #2E5EAB;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #e3762d;
}
#float_nav {
  width: 23em;
  float:right;
  background-color:#ffd1b0;
  padding: 1em;
  margin: 0 0 1em 1em;
  border: 1px solid #f5eea1;
  border-radius: 10px;
  box-shadow: #aaa 2px 2px 4px;
  -webkit-box-shadow: #aaa 2px 2px 4px;
}
/* ----------------------------------------------------------------------------
   page messages
------------------------------------------------------------------------------- */
#page_msg {
  margin: 0;
  padding: 0 1em;
}

#page_msg ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}
/* ----------------------------------------------------------------------------
   main_menu
------------------------------------------------------------------------------- */
.main_menu *, .main_menu a.current {
  font-size:1em;
  font-family:monospace;
  font-weight: normal;
  text-decoration:none;
  list-style-type:none;
  padding: 0px;
  margin: 0px;
}
.main_menu {
  font-size: 1.5em;
  line-height: 1em;
}
.main_menu a.active {
  color: #333333;
  font-weight: bold;
  letter-spacing: 1px;
}
.main_menu a.current {
  color: #332f00;
  background-color: #fefefe;
}
.main_menu a:before {
  letter-spacing: 0px;
  font-weight: bold;
  font-size:1.2em;
  background:#ffd1b0;
  content:"\0251C  ";
}
.main_menu a.level_1:before { content:"\2502 \0251C  "; }
.main_menu a.level_2:before { content:"\2502 \2502 \0251C  "; }

.main_menu a.first:before { content:"\250c  "; }
.main_menu a.level_1.first:before { content:"\2502 \250c  "; }
.main_menu a.level_2.first:before { content:"\2502 \2502 \250c  "; }

.main_menu a.last:before { content:"\2514  "; }
.main_menu a.level_1.last:before { content:"\2502 \2514  "; }
.main_menu a.level_2.last:before { content:"\2502 \2502 \2514  "; }
/* ----------------------------------------------------------------------------
   search
------------------------------------------------------------------------------- */
.PyLucidPlugins.search #search_form input[type=text] {
  width: 17em;
}
.search input, .search button {
  font-size: 0.9em;
}
/* ----------------------------------------------------------------------------
   TOC Plugin
------------------------------------------------------------------------------- */
h3.toc_headline {
  margin: 1em 0 0 0;
}
.PyLucidPlugins.TOC {
  border: 1px solid #fefefe;
  background-color: #fefefe;
  margin: 3em;
  padding: 1em 0em 1em 0em;
}
.PyLucidPlugins.TOC h3 {
  margin: 0em;
  color: #333333;
}
.PyLucidPlugins.TOC * {
  margin: 0em;
  color: #dddddd;
text-decoration:none;
}
.PyLucidPlugins.TOC a {
  color: #777777;
}
.PyLucidPlugins.TOC a:hover {
  color: #aa0000;
}
/* ----------------------------------------------------------------------------
   Pygments source code
------------------------------------------------------------------------------- */
fieldset.pygments_code, fieldset.pygments_code * {
  padding: 0;
  margin: 0;
  vertical-align:top;
}
fieldset.pygments_code, legend.pygments_code {
  background: #fefefe;
  border: 1px solid #cdcdcd;
}
fieldset.pygments_code {
  padding: 5px;
}
legend.pygments_code {
  font-size: 0.8em;
  color: #444444;
  padding: 0px 5px 0px 5px;
  margin-left: 10px;
}
.pygments_code .linenos {
  background: #fefefe;
  color: #999999;
  padding: 0 5px 0 5px;
}
.pygments_code .code {
  width: 100%;
}
.pygments_code .code pre {
  width: 730px;
  overflow:auto;
}
/*.pygments_code .code pre:hover {
  width: 100%;
  overflow:show;
}*/
/* ----------------------------------------------------------------------------
   button links (edit/delete, retweer etc.)
------------------------------------------------------------------------------- */
.button_links a, .admin_links a {
  text-decoration:none;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background: -moz-linear-gradient(top, #ffffff, #dddddd);  
  border: 1px solid #bbbbbb;
}
.button_links a:hover, .admin_links a:hover {
  text-decoration:underline;
  text-shadow:1px 2px 2px #888888;
}
/* ----------------------------------------------------------------------------
   Update journal
------------------------------------------------------------------------------- */
.PyLucidPlugins.update_journal * {
   white-space:nowrap;
}
.PyLucidPlugins.update_journal small {
   color: #999999;
}
.PyLucidPlugins.update_journal .update_time {
   color: #777777;
}
.PyLucidPlugins.update_journal .update_title * {
   white-space:normal;
}
/* ----------------------------------------------------------------------------
   Headline Anchor
------------------------------------------------------------------------------- */
.top_link {
  color: #000000;
}
.top_link .uarr {
  color: #fefefe;
}
a.top_link {
  text-decoration:none;
}
.top_link:hover .uarr {
  color: #000000;
}
.section_anchor {
  text-shadow: 0px 0px #fefefe;
  text-decoration:none;
  color: #fefefe;
  padding-right: 1em;
}
.headline_anchor:hover .section_anchor {
  color: #999999;
}
.section_anchor:hover {
  color:#000000!important;
  text-decoration:underline;
  text-shadow: 2px 2px 2px #999999;
}
/* ----------------------------------------------------------------------------
   User comments
------------------------------------------------------------------------------- */
.PyLucidPlugins.pylucid_comments {
    padding: 3em 0 3em 0;
}
/* ----------------------------------------------------------------------------
   permalink
------------------------------------------------------------------------------- */
#permalink * {
  color: #808080;
  padding: 0px;
  margin: 0px;
}
#permalink {
  font-size: 0.8em;
  text-align: center;
}
#permalink a {
  background-color: inherit;
  text-decoration: none;
}
#permalink a:hover {
  text-shadow:1px 1px 1px #888888;
}
/* ----------------------------------------------------------------------------
   footer
------------------------------------------------------------------------------- */
.footer {
  text-align:center;
  border-top: 1px solid #fefefe;
}
.footer, .footer * {
  color: #dddddd;
}
/* ----------------------------------------------------------------------------
   lexicon
------------------------------------------------------------------------------- */
.PyLucidPlugins.lexicon dt {
  padding-top: 1.5em;
}
.PyLucidPlugins.lexicon dd {
  padding-top: 0.2em;
}
a.PyLucidPlugins.lexicon {
  color: #0e1d33;
  border-bottom: 1px dotted #cccccc;
  font-weight: normal;
  text-shadow: 1px 1px 1px #fefefe;
}
a.PyLucidPlugins.lexicon:hover {
  color:#aa0000;
  font-weight: normal;
  text-decoration:underline;
  border-bottom: 0px;
  text-shadow: 2px 2px 2px #aaaaaa;
}
.PyLucidPlugins.lexicon .admin_links {
  float: right;
}
.PyLucidPlugins.lexicon .admin_links a {
  font-weight: normal;
}
.PyLucidPlugins.lexicon.openinwindow {
  cursor:help;
}
/* ----------------------------------------------------------------------------
   tag navigation
------------------------------------------------------------------------------- */
#tag_navi_lucidTag {
  font-size:0.8em;
}
/* ----------------------------------------------------------------------------
   internal
------------------------------------------------------------------------------- */
textarea {
  /* all text areas should use the full width */
  width: 100%;
}
.PyLucidPlugins.SiteMap p.deep_1 {
  border-bottom: 2px solid #aa0000;
}
/* ----------------------------------------------------------------------------
   RSS feeds included in the page
------------------------------------------------------------------------------- */
.PyLucidPlugins.rss h1 {
  font-size: 1.1em;
  padding: 1.5em 0em 0em 0em;
}
.PyLucidPlugins.rss * {
  line-height: 1.2em;
}
.PyLucidPlugins.rss ul {
  list-style:none;
  padding: 0px;
}
/* ----------------------------------------------------------------------------
   PyLucid blog plugin
------------------------------------------------------------------------------- */
.PyLucidPlugins.blog fieldset {
  border: 0px;
  border-top: 2px solid #cccccc;
  padding: 0em 0em 2.5em 1em;
  margin: 2.5em 0em 0em 0em;
}
.PyLucidPlugins.blog legend {
  padding: 0em 0.3em 0em 0.3em;
}
.PyLucidPlugins.blog .tag_cloud {
  font-size: 0.7em;
}
.PyLucidPlugins.blog .headline {
  font-size: 1.6em;
  line-height: 0.7em;
}
.PyLucidPlugins.blog .headline_info {
  font-size: 0.45em;
  color: #555555;
}
/* ----------------------------------------------------------------------------
   PyLucid language plugin
------------------------------------------------------------------------------- */
.PyLucidPlugins.language * {
  color: #777777;
  display: inline;
  padding: 0em;
  margin: 0em;
}
.PyLucidPlugins.language {
  border: 1px solid #dddddd;
  background-color: #fefefe;
  padding: 1px;
  margin: 3px;
}
.PyLucidPlugins.language:hover {
  border-color: #F5CD31;
}
.PyLucidPlugins.language:hover * {
  color: #000000;
}
.PyLucidPlugins.language li a:hover {
  color: #F5CD31;
}
.PyLucidPlugins.language li {
  border-right: 2px solid #aaaaaa;
  padding: 0em 0.2em 0em 0.4em;
}
.PyLucidPlugins.language li:last-child {
  border: 0px;
}
