[buildout]
parts = test

develop = .
eggs = buildout.dumppickedversions
versions = versions

[versions]
zc.buildout = 1.5.2

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    buildout.dumppickedversions [tests]
defaults = ['-s', 'buildout.dumppickedversions']
