[buildout]
develop = .
parts = scripts doc
versions = versions

[versions]

[doc]
recipe = collective.recipe.sphinxbuilder
eggs = ulif.loghandlers
source = ${buildout:directory}/docs/source
build = ${buildout:directory}/docs/build

[scripts]
recipe = zc.recipe.egg
eggs = ulif.loghandlers[test]
       pytest
       pytest-xdist
       pytest-cov

