#ecgb_tools{
	width: 913px;
	border: 1px solid #878787;
	border-bottom: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ecgb_toolbar{
	float: left;
	min-width: 50px;
	width: auto;
	padding: 9px 20px 9px 20px;
	border-left: 1px dashed #878787;
	height: 100px;
}

.ecgb_input_div{
	height: 20px;
	width: 180px;
	margin: 5px;
	font-size: 13px;
	padding-top: 2px;
}

.ecgb_color_picker{
	float: right;
	
}

.color_button{
	height: 12px;
	width: 12px;
	margin: 1px;
	border: 1px solid #878787;
}

#knotWhite{
	background-color: #fff;
}

#knotGrey{
	background-color: #d5d5d5;
}

#knotYellow{
	background-color: #fbff96;
}

#knotGreen{
	background-color: #bbff96;
}

#knotBlue{
	background-color: #4393dd;
}

#knotPurple{
	background-color: #eb9dfe;
}

#knotRed{
	background-color: #fb5555;
}

#edgeBlack{
	background-color: #000;
}

#edgeGrey{
	background-color: #909090;
}

#edgeYellow{
	background-color: #b8bf00;
}

#edgeGreen{
	background-color: #339000;
}

#edgeBlue{
	background-color: #295985;
}

#edgePurple{
	background-color: #8e00b1;
}

#edgeRed{
	background-color: #b60000;
}

#ecgb_notes_wrapper{
	border: 1px solid #878787;
	border-top: 0px;
	width: 780px;
	height: 250px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

#ecgb_note{
	height: 255px; 
}

.ecgb_input{
	margin-top: -2px;
	width: 100px;
	border: 1px solid #878787;
	border-radius: 2px;
	float: right;
	font-size: 12px;
}

.ecgb_toolbar_caption{
	font-size: 13px;
	font-weight: bold;
}

.ecgb_button_div{
	float: left;
	margin: 2px;
	width: 32px;
	overflow: visible;
}

#canvas{
	border: 1px solid #878787;
	width: 913px;
	height: 600px;
	margin: auto;
}

#canvasError{
	border: 1px solid #878787;
	padding: 30px;
	width: 853px;
	height: 100px;
}

button{
	width: 30px;
	height: 27px; 
	border: 1px solid #878787;
	border-radius: 2px;
	background-color: #f0f0f0;
	padding: 0px;
	margin-top: 1px;
	text-align: center;
}
			
.browserFirefox img{
	margin: -2px 0px 0px -2px;
}