#portal-header {
  z-index:1;
  }
#portal-logo-wrapper {
  display:inline;
  position:relative;
  }
#portal-logo {
  margin-bottom:-2px;
  }
#portal-searchbox {
  padding:0 5px 0 70px;
  }
#portal-searchbox form {
  position:relative;
  }
.searchSection input {
  background:transparent;
  left:-4px;
  top:-17px;
  }
.LSResult {
  left:-20px;
  top:53px;
  }
.ploneCalendar caption {
  display:none;
  }
#portal-personaltools {
  zoom:1;
  }
.photoAlbumEntry a:hover .photoAlbumEntryTitle { 
  background-color:rgb(241,241,241); 
  cursor:pointer; 
  }
/* Adding required bullet */
.fieldRequired {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterBegin', '<span class="required-bullet">■ </span>'));
  }
.required-bullet {
  color:#f00;
  }
/* Removing horizontal scroll */
.pb-ajax {
  overflow-x:hidden;
  }
dl.portlet.portletActionsPortlet li a {
  zoom:1;
  }
.collapsible .collapser.collapsed {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('afterEnd', '&#9658;'));
  }
.collapsible .collapser.expanded {
  z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '&#9660;'));
  }