article
{
    background-color: #213da4;
    color: #fff;
    padding: .5em;
    margin-bottom: 0.5em;
}
ul#opt_notify
{
    list-style-type: none;
}
li
{
    margin: .5em 0;
    padding-left: .2em;
    vertical-align: bottom;
}
