[buildout]
parts = test
develop = .
package-name = github-collective

[test]
recipe = zc.recipe.egg
eggs =
    ${buildout:package-name} [test]
scripts = ${buildout:package-name} nosetests
dependent-scripts = true
