@import "blanc_toolkit";

/* blanc Django admin theme */

body {
    background: @canvas2 url(../img/blanc/tile_noise_dark.png);
}

body, div, td, th {
    font-family: Helvetica, Arial, Sans-serif;
}

#container {
    margin: 0;
}

#header {
    display: block;
    margin: 0 40px 0 40px;
    width: auto;
    overflow: visible;
    background: none;
    color: @pink2;
}

#branding h1 {
    color: #fff;
    font-size: 31px;
    font-family: "Accord", "Droid Sans";
    line-height: 37px;
    letter-spacing: -0.02em;
    font-weight: normal;
    padding: 0;
    margin: 18px 0 18px -20px;
}

#user-tools {
    padding: 0;
    right: 40px;
}

#content {
    margin: 0 40px;
}

#content h1 {
    display: block;
    background: @theme5;
    color: #fff;
    padding: 0 10px;
    font-size: 21px;
    line-height: 37px;
    font-weight: normal;
    font-family: "Accord", "Droid Sans";
    margin: 0 0 24px;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid @theme4;
    border-bottom: 1px solid @theme6;
}

body.dashboard #content h1 { margin-bottom: 0; }

div.breadcrumbs {
    position: absolute;
    top: 94px;
    left: 40px;
    right: 40px;
    margin: 0;
    color: #fff;
    background: @theme5;
    border-top: 1px solid @theme4;
    border-bottom: 1px solid #fff;
    padding: 0 10px;
    line-height: 23px;
    display: block;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    color: #fff;
}

#content-main {
    background: none;
    padding-top: 43px;
    background: @base3;
    border-radius: 0 0 5px 5px;
}

.object-tools {
    margin: -40px 10px 0 0;
    background: none;
    position: relative;
    float: right;
    padding-top: 5px;
    text-align: right;
}

.object-tools li, .object-tools li:hover {
    background: none;
    padding: none;
    height: auto;
}

.object-tools li:hover a {
    .btn;
    background: @base2 url(../img/blanc/bevel_white.png) -1px 0px no-repeat;
}

.object-tools a.addlink, .object-tools a:link, .object-tools a:visited,
.object-tools a.addlink:hover, .object-tools a:link:hover, .object-tools a:visited:hover {
    .btn;
    float: right;
    height: auto;
    background: @base2 url(../img/blanc/bevel_white.png) -1px 0px no-repeat;
}

.module {
    border: none;
    margin-bottom: 0px;
}

.dashboard #content { width: auto; margin-right: 20em; }

.colMS { margin-right: 40px !important; }

/* changelist */

#changelist-filter {
    width: 200px;
    background: @theme2;
    color: #fff;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar,
.filtered div.xfull, .filtered .actions {
    margin-right: 200px !important;
}

.filtered .actions {
    border-right: none;
}

#changelist .actions {
    background: none;
    border: none;
    color: @detail1;
}

.change-list .filtered {
    background: @theme2 !important;
}

#changelist {
    background: none;
    border-radius: 0 0 5px 5px;
    border: none;
    margin: 0;
}

#changelist .paginator {
    background: none;
    border: none;
}

#changelist table {
    border-top: 1px solid @base4;
}

thead th, tfoot td, th, td {
    background: @base2;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid @base4;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 15px;
    color: @detail2;
}
#changelist table tbody td, #changelist table tbody th {
    border: none;
}

#changelist thead th { color: @detail2; font-size: 11px; font-weight: bold; text-transform: uppercase; }

#changelist .row1 td, #changelist .row1 th { color: @detail2; background: @base3; border: none; border-top: 1px solid red; border-bottom: 1px solid @base4; }
#changelist .row2 td, #changelist .row2 th { color: @detail2; background: @base2; border: none; border-top: 1px solid #fff; border-bottom: 1px solid @base4; }

/* edit view */

input[type='submit'] {
    .btn;
    .btn.nobevel;
}

.button.default, input[type="submit"].default, .submit-row input.default {
    .btn;
    .btn.nobevel;
    color: @theme2;
    margin-left: 3px;
}

.deletelink {
    .btn;
    .btn.nobevel;
}

.submit-row {
    padding: 0px 10px;
}

.submit-row .deletelink {
    padding-left: 20px;
    background: url(../img/admin/icon_deletelink.gif) 5px 6px no-repeat;
}

.submit-row p { margin: 0; }

.module, .inline-group {
    .btn;
    margin: 10px;
    padding: 0;
    float: none;
    display: block;
    cursor: default;
    &:hover {
        color: inherit;
    }
}

.module h2, .module caption, .inline-group h2 {
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    font-weight: normal;
    background: @theme2;
    border-radius: 3px 3px 0 0;
}

.inline-related fieldset { background: none; }

.submit-row {
    background: @base3;
    border: none;
}

.form-row, .description {
    background: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid @base3;
    padding: 3px 10px;
    margin: 0;
}

.form-row:first-child { border-top: none; }
.form-row:last-child, fieldset .form-row:last-child { border-bottom: none; }

input[type="text"], input[type="password"], textarea, select, .vTextField {
    padding: 6px 8px 3px 8px;
    font-size: 14px;
    font-family: Arial, Sans-serif;
    line-height: 16px;
    border: 1px solid #fff;
    border-top: 1px solid @base3;
    color: @detail1;
    border-radius: 3px;
    background: #fff;
}

.vTextField {
    width: 80%;
    display: block;
}

label {
    color: @detail2;
    font-size: 14px;
}

.required label, label.required {
    color: @detail2 !important;
}

.aligned label {
    width: 100px;
    padding: 0;
}

.inline-group div.add-row, .inline-group .tabular tr.add-row td {
    background: none;
}

form .aligned p.help {
    padding-left: 0;
    color: @detail1;
}
form .aligned p, form .aligned ul {
    margin-left: 107px;
}
