@import "blanc_toolkit";
@import "assets";

/**************************************************************/
/*  Blanc                                                     */
/*  =====                                                     */
/*  Django admin CSS magic                                    */
/*                                                            */
/*  So here we are, in an attempt to add more magic           */
/*  and awesome… it's too big! I'm scared. Hold me.           */
/**************************************************************/

/*
    Inpage Styles
*/

.admin-wrap {
    float: left;
    clear: both;
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: -1px;
}
        
.ant-l, .ant-b, .ant-r, .ant-t { float: left; display: block; position: absolute; z-index: 1; }
.ant-l { background: url(../img/blanc/ants-v.gif); width: 1px; left: 0px; top: 0px; bottom: 0px; }
.ant-b { background: url(../img/blanc/ants-h.gif) 0 1px; height: 1px; left: 0px; right: 0px; bottom: 0px; }
.ant-r { background: url(../img/blanc/ants-v.gif); width: 1px; top: 0px; right: 0px; bottom: 0px; }
.ant-t { background: url(../img/blanc/ants-h.gif) 0 1px; height: 1px; top: 0px; left: 0px; right: 0px; }

.btn.icon.trash span {.sprite-assets-icon_trash;}
.btn.icon.trash:hover span {.sprite-assets-icon_trash-OVER;}
.btn.icon.move-horizontal span {.sprite-assets-icon_move-horizontal;}
.btn.icon.move-horizontal:hover span {.sprite-assets-icon_move-horizontal-OVER;}
.btn.icon.move-vertical span {.sprite-assets-icon_move-vertical;}
.btn.icon.move-vertical:hover span {.sprite-assets-icon_move-vertical-OVER;}
.btn.icon.edit span {.sprite-assets-icon_edit;}
.btn.icon.edit:hover span {.sprite-assets-icon_edit-OVER;}

.btn.close span {.sprite-assets-icon_close;}
.btn.close:hover span {.sprite-assets-icon_close-OVER;}

.btn.radio span {.sprite-assets-icon_radio;}
.btn.radio:hover span {.sprite-assets-icon_radio-OVER;}
.btn.radio-ON span {.sprite-assets-icon_radio-ON;}

.btn.icon.arrow-top span {.sprite-assets-icon_arrow-top;}
.btn.icon.arrow-top:hover span {.sprite-assets-icon_arrow-top-OVER;}
.btn.icon.arrow-up span {.sprite-assets-icon_arrow-up;}
.btn.icon.arrow-up:hover span {.sprite-assets-icon_arrow-up-OVER;}
.btn.icon.arrow-bottom span {.sprite-assets-icon_arrow-bottom;}
.btn.icon.arrow-bottom:hover span {.sprite-assets-icon_arrow-bottom-OVER;}
.btn.icon.arrow-down span {.sprite-assets-icon_arrow-down;}
.btn.icon.arrow-down:hover span {.sprite-assets-icon_arrow-down-OVER;}

.column_head {
    position: relative;
    margin: -12px 0 0 5px;
    z-index: 10;
}
.column_foot {
    position: relative;
    float: right;
    display:  block;
    text-align: right;
    margin: 0 5px -12px 0;
    z-index: 10;
}

.controls { text-align: right; margin: 5px 5px 0 0; }

.move_menu { position: absolute; margin: -48px 0 0 -1px; width: 25px; display: inline-block; z-index: 100; }

.tooltip-up {
    display: block;
    .sprite-assets-tooltip-up;
    margin-top: -8px;
    position: absolute;
    margin-left: 106px;
}

.mr3 { .mr(3px); }
.pl0 { .pl(0); }
.pr0 { .pr(0); }