body {background-color:#f5f5f5;}
#main_content {background-color:#fff;border-radius:5px;drop-shadow:#333;margin-bottom:20px;}
#main_content .content {padding:20px;}
.stat {line-height:normal;}
.stat .stat-users {text-transform:uppercase;color:#666666;}
.goal-type-header {font-weight:normal;text-transform:uppercase;color:#999;font-family:'Ubuntu';}
.stat .stat-number {font-size:24px;font-family:'Ubuntu';font-weight:bold;}
.navbar .brand {font-family: 'Fredoka One';text-transform:lowercase;}
.header-label {text-transform:uppercase;color:#999;}
.ubuntu {font-family:'Ubuntu';}
.smoke-bg {background-color:#f5f5f5;}
.info-bg {background-color:#DDFFF0;}
.curved {border-radius:5px;}
.pd10 {padding:10px;}
.pd20 {padding:20px;}
.mb10 {margin-bottom:10px;}
.mt10 {margin-top:10px;}

