/* AIP Dropdownmenu stylesheet */

#portlets-in-header .portletNavigationTree {
}

#portlets-in-header .portletNavigationTree .portletHeader,
#portlets-in-header .portletNavigationTree li > ul {
    display: none;
    position: absolute;
}

#portlets-in-header .portletNavigationTree li:hover > ul {
    display: inline;
}

#portlets-in-header .portletNavigationTree .navTreeLevel0 li {
    float: left;
    background: #fff;
    padding-right: 0.5em;
}
