[buildout]
develop = .
parts = test checker coverage-test coverage-report


[test]
recipe = zc.recipe.testrunner
eggs = p01.cgi [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/p01/cgi


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.cgi [test]
defaults = ['--ndiff', '--coverage', '../../coverage-test']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/coverage-test', 'parts/coverage-test/report')
