[buildout]
extends =
    http://dist.plone.org/release/%(version)s/versions.cfg
find-links =
    http://dist.plone.org/release/%(version)s/
    http://dist.plone.org/thirdparty/
extensions =
    buildout.dumppickedversions
    mr.developer
    buildout.autoextras
eggs =
unzip = true
versions = versions
parts +=
    _zope2
    instance
    test
    xmltest


[versions]
zc.recipe.testrunner = 1.2.0
zope.testing = 3.8.1
coverage = 3.3
Products.PloneTestCase = 0.9.8


[_zope2]
# Private section, because this part doesn't adhere to the standard base
# parts interface.
recipe = plone.recipe.zope2install
fake-zope-eggs = true
url = ${versions:zope2-url}


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${_zope2:location}
user = admin:admin
http-address = 8080
eggs =
    Plone
    ${buildout:eggs}
environment-vars = zope_i18n_compile_mo_files true


[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
# The has-test-extra section appends to this test if there are testing
# extras found.
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
extra-paths = ${_zope2:location}/lib/python


[xmltest]
recipe = collective.xmltestreport
eggs = 
    ${test:eggs}
defaults = ${test:defaults} + ['--xml']
extra-paths = ${test:extra-paths}
