[buildout]
#extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = collective.editskinswitcher
parts += omelette

#[instance]
#event-log-level = debug

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
#products = ${instance:products}
# Plone 3:
#packages = ${zope2:location}/lib/python
