/* Stylesheet for the 'MVOB Theme' Plone theme */

body
{
    background-color:#f5f5f5; 
    border-top: solid 10px #7bbfca;
    background-image: url(++resource++plonetheme.mvob.images/footerColor.jpg);
    background-position:bottom;
    background-repeat: repeat-x;
}


#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
    width: 987px;
    position:relative;
}

/*
#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

#portal-top, #portal-columns, #footer-portlets-wrapper
{
    margin-left:auto;
    margin-right:auto;
    width: 987px;
}
*/

#portal-columns
{
    margin-bottom: 30px;
}

#portal-column-two
{
    margin-top:10px;
}

/* ==== TYPOGRAPHY ==== */

body
{
    font-family: "Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 14px;
    color:#001a33;
}

h1, h2, h3, h4, h5, h6 {
color:Black;
font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
}

h1, h1 a, #content h1 a:link
{
    font-size: 18px;
    color:#7bbfca;
}

h2, h2 a, #content h2 a:link
{
    font-weight:bold;
    font-size:14px;
}

a:hover
{
    text-decoration:underline;
}


.mceContentBody a {
    background-color:transparent;
    border-bottom:inherit !important;
    color:#427597 !important;
    text-decoration:none !important;
}

#content h2.tileHeadline a, input#title
{
    font-size: 18px;
    color:#7bbfca;
}

input#title
{
    text-decoration: none !important;
}

#content h2.tileHeadline a:hover , input#title
{
    color:#7bbfca !important;
    text-decoration:underline;
}

#content .documentDescription, #content #description, #archetypes-fieldname-description textarea#description {
    color:#001a33;
    font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 100%;
    font-weight:normal;
    margin-left:0;
    margin-bottom: 20px;
}

#content a:visited, dl.portlet a:visited {
    border:none;
}

#content a:hover
{
    color:#7BBFCA !important;
}

#content {
    font-size:80%;
    line-height:1.7em;
}

#parent-fieldname-text h2, .mceContentBody h2
{
    font-size:12px;
}

#content.mceContentBody
{
    font-size:11.2px;
}

/*  ====HEADER===== */

#portal-header {
    border-bottom: #e8e8e8 solid 1px;
    margin-bottom:15px;
}
/* logo */
#portal-logo
{
    margin-top: 39px;
    margin-bottom: 26px;
}

/* search */

.searchResults a, div dl.searchResults dt a:hover
{
    color:#7BBFCA !important;
    border:none;
    font-size: 18px !important;
    font-weight:bold;
}

#content a:link, dl.portlet a:link {
    border: medium none;
}

#parent-fieldname-text a
{
    text-decoration:underline;
}

.LSBox .searchSection {
    display:none;
}

#searchGadget {
    width:150px;
    padding-bottom:2px;
}

input.searchField {
    background:none repeat scroll 0 0 transparent;
    border: 1px solid #7BBFCA;
    color:#7BBFCA;
    -moz-appearance: none;
    background-position: center right;
    background-repeat: no-repeat;
    height:25px;
    line-height:25px;
    width:147px;
    padding-left:5px;
}

#portal-searchbox
{
    margin-top: 71px;
    width: 221px;
}

.LSBox input.searchButton {
    background-image: url(++resource++plonetheme.mvob.images/searchglass.jpg);
    background-position: 5px center;
    background-repeat:no-repeat;
    background-color: #7BBFCA;
    border:none;
    color: white;
    font-size: 94%;
    height: 27px;
    width:70px;
    margin: 0px 0 0 -5px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 23px;
    position:absolute;
}

*:first-child+html .LSBox input.searchButton
{
    margin-top:1px;
}

.LSBox input.searchButton:hover
{
    cursor:pointer;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
    background-color:transparent;
}

/* Live search */

#LSResult {
    background:none repeat scroll 0 0 transparent;
    margin:0;
    top:80px;
}

#LSResult fieldset {
    background-color:#F5F5F5;
    position:relative;
}

/* menu */

#portal-globalnav {
    background:none;
    clear:none;
    text-align:right;
    float:right;
    width:400px !important;
    margin-right:30px;
    margin-top:72px;
}

#portal-globalnav li a, #portal-globalnav .selected a, #portal-globalnav li a:hover, #portal-globalnav .selected a:hover
{
    background: none;
    color: black;
}

#portal-globalnav li a
{
    text-transform: uppercase;
    border: none;
    font-size:11px;
}

#portal-globalnav li a:hover
{
    color: #7bbfca;
}

#portal-globalnav .selected a
{
    color: #7bbfca;
}

#portal-globalnav .selected a:hover
{
    color: #7bbfca;
}

/* =======  SEARCH =======*/

#content .searchResults dt
{
    margin-top: 35px;
}

form.searchPage {
    margin-bottom: 90px;
    margin-top: 42px;
    height: 39px;
    position:relative;
}

/*  =====FOOTER===== */

#footer-copyright
{
    float:right;
    margin-bottom: 40px;
    margin-right:12px;
    color:white;
    margin-top: 7px;
}

#footer-copyright a
{
    font-size: 70%;
    color: #f5f5f5 !important;
}

#footer-copyright a:hover
{
    color: #f5f5f5 !important;
    text-decoration: underline;
}

#footer-menu
{
    float: right;
    font-size: 70%;
    margin-bottom: 40px;
    margin-right:14px;
}

#footer-menu a
{
    color: black;
}

#footer-menu a:hover
{
    text-decoration: underline;
}

#footer-menu li
{
    margin-left: 2em;
}

#portal-personaltools-wrapper
{
    float: none;
    margin-bottom: 0px;
    margin-top: 0px;
    position:absolute;
    bottom: 239px;
    right: 327px;
}

#personaltools-login
{
    display:none !important;
}

#portal-personaltools dd
{
    background: none repeat scroll 0 0 #333333;
}

#portal-personaltools
{
    background:none;
    font-size: 70%;
}

#portal-personaltools a
{
    color:white;
}

#portal-personaltools a:hover
{
    text-decoration: underline;
}

/*  ====CONTENT===== */

body.template-search #portal-column-content
{
/*    overflow:hidden;    */
    width:97.5%;
}

.documentFirstHeading
{
 margin-bottom:20px;
}

.portaltype-infoblad .documentFirstHeading
{
    margin-bottom:0px;
}

.leftVisualClear
{
    clear: left;
}

/* Portlets */

dl.portlet
{
    margin-bottom:40px;
}

dl.portlet dt.portletHeader
{
    background: none;
    color: #7bbfca;
    padding: 0;
    font-size:120%;
    margin-bottom: 10px;
}

/* Category selector  */

.cn-category-title
{
    font-weight: bold;
    text-transform:capitalize;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 15px;
    margin-bottom:5px;
}

.cn-description
{
    color: #001a33;
    font-weight:normal;
}

#content a, dl.portlet a
{
    color:black;
    border: none;
}

dl.portlet a:visited, dl.portlet a:link
{
    color:black;
    border: none;
}

dl.portlet a:hover, dl.portlet a:hover
{
    color:#7bbfca !important;
}

.nc-category_selected
{
    background-color:#ffffff;
}


/*====  CONTENT ====*/

#content {
    font-size:80%;
    overflow:hidden;
    margin: 0 0 20px;
}


/* Images */
#content div.newsImageContainer
{
    float:right;
    margin:0px 0px 0px 10px !important;
}

#content img.tileImage, #content .tileItem img.tileImage, #content .tileItem div.newsImageContainer {
    float:left;
    height:auto;
    margin:0 10px 0 0 !important;
    width:100px;
}

.image-right {
    margin-right:0;
}

.image-left {
    margin-left:0;
}
/* Paging */

#content div.listingBar span {
    padding:6px;
}

#content div.listingBar span.next {
    background-color:#FFFFFF;
    padding:0;
}

#content div.listingBar span.previous{
    background-color:#FFFFFF;
    padding:0;
    float:left;
    margin-right:3px;
}

#content div.listingBar span:hover 
{

}

#content div.listingBar span a
{
    color:#001a33;
    background-color:#FFFFFF;
    border:1px solid #E8E8E8;
    padding:3px 9px;
}

#content div.listingBar span a:hover
{
    color:#ffffff !important;
    background-color:#001a33;
    border: 1px solid #e8e8e8;
}

#content div.listingBar a
{
    color:#001a33;
    background-color:#ffffff;
    border:1px solid #E8E8E8;
    padding:3px 9px;
}

#content div.listingBar a:hover
{
    color:#ffffff !important;
    background-color:#001a33;
    border-color:transparent;
}

#content div.listingBar span.current
{
    background-color:#001A33;
    border:1px solid #E8E8E8;
    color:#FFFFFF;
    display:inline-block;
    margin-top:-1px;
    padding:3px 9px;
}

#content div.listingBar span {
    padding:3px 9px;
}

/*  ==== TILE ITEMS ==== */


/* Deactivated double column. going for ONE COLUMN
div.tileItem
{
    float:left;
    width: 47%;
    padding:3% 3% 42px;
}

div.tileItem.tileEven
{
    padding-left:0;
}

div.tileItem .tileImage
{
    max-width:150px;
    height:auto;
}

div.tileItem.tileOdd
{
    padding-right:0;
}

*/

div.tileItem {
    float:left;
    padding-bottom:18px;
    width:95%;
}

div.tileItem .tileImage
{
    /*max-width:150px;*/
    height:auto;
}

div.tileItem .tileHeadline {
    margin-bottom:1px;
}

div.tileItem a:first-child, .result-leadimage a {
    display:block;
    height:67px;
    overflow:hidden;
    text-decoration:none;
    float:left;
    border-bottom:none !important;
}

.result-leadimage a
{
    margin-right:10px;
}

div.tileItem .tileHeadline a:first-child {
    display:inline;
    height:auto;
    overflow:auto;
    float:none;
}

/* ====  Backend ====*/

.mceContentBody {
    border:none;
}

.ploneSkin .mceEditorFocus .mceIframeContainer
{
    background-color: transparent !important;
}

/* ====  Breadcrumbs ====*/

.cn-breadcrumbs
{
    margin-bottom:20px;
}

.cn-breadcrumbs .separator
{
    width:12px;
    height:12px;
    background-image: url(++resource++plonetheme.mvob.images/separator.jpg);
    text-indent:-9999px;
    background-repeat:no-repeat;
    background-position:0px 3px;
    display:inline-block;
    text-decoration:none !important;
}

.cn-breadcrumbs a
{
    color:#001a33;
    font-size: 11.2px;
}

.cn-breadcrumbs .last a
{
    color:#7BBFCA;
    font-weight:bold;
}

/* ====  Forms ====*/

#content input[type="text"], #content  textarea
{
    border:1px solid #7bbfca;
    background-color:#f5f5f5;
    max-width:650px; 
}

#content input[type="text"]:focus, #content textarea:focus
{
    background-color:white !important;
}


#content input[type="text"]
{
    height:20px;
}

textarea#message
{
    max-width:400px;
}

#content input[type="button"], #content input[type="submit"]
{
    background-color:#7bbfca;
    color:white;
    border:none;
    padding:5px;
    cursor:pointer;
}

#content input[type="button"]:hover, #content input[type="submit"]:hover
{
    background-color:#001a33;
}

div.formControls {
    margin: 0;
}

.fieldRequired
{
    color:red;
}


#content .searchPage input[type="button"], #content .searchPage input[type="submit"]
{
    font-size: 18px !important;
    height: 39px;
    position:absolute;
    padding: 10px;
    left: 682px;
}



#content .searchPage input[type="text"]
{
    height: 37px;
    width:400px;
}

/* == hardcoded search filters == */

#content .harcodedResultTypes
{
    margin-top: 12px;
    margin-bottom:30px;
}

#content .harcodedResultTypes ul
{
    list-style:none;
    list-style-type:none;
    margin:0 0 0 86px;
}

#content .harcodedResultTypes ul li
{
    	display:inline;
	margin-right:20px;
        margin-left: 0;
}

#content .harcodedResultTypes ul li a
{
    color:#999 !important;
    font-weight:normal;
    cursor:pointer;
}

#content .harcodedResultTypes ul li a:hover
{
    color:#000 !important;
}

#content .harcodedResultTypes ul li a.selected
{
    color:#000 !important;
}


/* ==== Footer Portlets ===== */

#footer-portlets-wrapper
{
    margin-left: 14px;
    color:white;
    position:relative;
    padding-top: 10px;
    margin-top:0px;
    width: 703px;
    float: left;
    height: 255px;
}

#footer-portlets-wrapper dl.portlet dt.portletHeader, #footer-portlets-wrapper dl.portlet a:visited, #footer-portlets-wrapper dl.portlet a:link, #footer-portlets-wrapper a:link, #footer-portlets-wrapper dl.portlet a:link
{
    color:white;
}

#footer-portlets-wrapper dl.portlet
{
    float: left;
    margin-bottom: 40px;
    max-width: 202px;
    margin-right: 40px;
}

#footer-portlets-wrapper .portletItem
{
    padding:0;
    margin:0;
}


#footer-portlets-wrapper dl.portlet dd.portletItem a:hover
{
    color:white !important;
}

#footer-portlets-wrapper .managePortletsFallback
{
    position: absolute;
    bottom:0px;
    right:0px;
}

/* ===== Tiles in folder view ===== */

.template-mvob_folder_view div.tileItem
{
    width:450px;
    margin-right:40px;
    margin-bottom: 20px;
}

.template-mvob_folder_view div.tileItem.tileOdd
{
    margin-right:0px;
}

.template-mvob_folder_view div.tileItem .tileHeadline
{
    margin-bottom:10px;
}

.template-mvob_folder_view div.tileItem a.image-link, .result-leadimage a {
    border-bottom: medium none !important;
    display: block;
    float: left;
    height: auto;
    overflow: visible;
    text-decoration: none;
}

.template-mvob_folder_view div.tileItem a.image-link
{
    height: 135px;
}

/* ==== Highlighting search terms ====*/

.highlightedSearchTerm {
    background-color: transparent;
    font-weight: bold;
}


/* ======= collection portlet ========= */

dl.portlet.portletCollection dd.portletItem, dl.portlet.portletCollection dd.portletFooter, dl.portletError dd {
    border-bottom: 1px solid #E8E8E8;
    padding: 1em 0;
}

dl.portlet.portletCollection dt.portletHeader a
{
    color: #7BBFCA !important;
}

.collectionImage
{
    float:left;
    margin-right:10px;
}

dl.portlet.portletCollection a:visited, dl.portlet.portletCollection a:link
{
}

/* ======== Bottom logo =======*/

.bottom-logo
{
    margin-top: 10px;
}