.planning-overview {
  font-size:90%;
}

.planning-overview .listing tbody tr,
.planning-overview .listing tbody tr th,
.planning-overview .listing tbody tr td,
.planning-overview .listing tbody tr:nth-child(odd),
.planning-overview .listing tbody tr:nth-child(odd) th,
.planning-overview .listing tbody tr:nth-child(odd) td,
.planning-overview .listing tbody tr:nth-child(even),
.planning-overview .listing tbody tr:nth-child(even) th,
.planning-overview .listing tbody tr:nth-child(even) td {
  background-color:#fafafa;
}

.planning-overview thead th {
  white-space:normal;
}

.planning-overview thead th.discreet {
  font-size:100%;
}

.planning-overview .client {
  font-size:120%;
}

.planning-overview .listing caption {
  margin-top:0;
}

.planning-overview .listing tbody td {
  border-bottom-color:#fff;
}

.planning-overview .listing tbody tr.client td {
  border-bottom-color:#000;
  padding-top:4em;
  background-color:#fff;
}

.planning-overview .client td,
.planning-overview .project td,
.planning-overview .milestone td,
.planning-overview .ticket td,
.planning-overview .resource td {
  font-weight:bold;
}

.planning-overview .project {
  font-size:110%;
}

.planning-overview .listing tbody .project td {
  background-color:#fafafa;
}

.planning-overview .listing .project td,
.planning-overview .listing .milestone td,
.planning-overview .listing .ticket td,
.planning-overview .listing .resource td {
  padding-top:2em;
  border-bottom-color:#999;
}

.planning-overview thead th.cw,
.planning-overview tbody td.cw {
  text-align:center;
  padding-left:0.2em;
  padding-right:0.2em;
}

.planning-overview tbody .execution td.cw {
  border-left:1px solid #fff;
}

.planning-overview .listing thead tr th.current,
.planning-overview .listing tbody tr td.current {
  background-color:#eee;
}

.planning-overview .listing thead tr th.current {
  font-weight:bold;
  font-size:150%;
}

.planning-overview .listing tbody tr.execution td {
  background-color:#e5e5e5;
}

.planning-overview .listing tbody tr td.occupied {
  background-color:#666;
  color:#fff;
}

.planning-overview .listing tbody tr.planned td {
  background-color:#f5e5e5;
}

.planning-overview .listing tbody tr.planned td.occupied {
  background-color:#966;
}

.planning-overview .listing tbody tr.effective td {
  background-color:#e5f5e5;
}

.planning-overview .listing tbody tr.effective td.occupied {
  background-color:#696;
}

.planning-overview .listing tbody tr.forecast td {
  background-color:#e5f5f5;
}

.planning-overview .listing tbody tr.forecast td.occupied {
  background-color:#699;
}

.planning-overview .listing tbody tr td.deadline {
  border-right:3px solid #633 !important;
}

.planning-overview .listing .button {
  height:1.5em;
  line-height:1.5em;
}

.planning-overview .listing .info {
  position:relative;
  top:-2px;
  margin:-2px;
  display:block;
  width:1.9em;
  height:1.9em;
  color:#fff;
  text-align:center;
  font-family:"Times", sans-serif;
  font-size:0.8em;
  font-style:italic;
  line-height:1.9em;
  background-color:#569;
  border-radius:1.4em;
  border:2px solid #569;
  border:2px solid rgba(80, 95, 145, 0.1);
  cursor:help;
  opacity:0.75;
  -moz-opacity:0.75;
  -ms-opacity:0.75;
}

.planning-overview .listing .info:hover {
  box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.5);
  opacity:1;
  -moz-opacity:1;
  -ms-opacity:1;
}

.planning-plot {
  position:relative;
  padding:5em 10em;
}
