html {
    height:100%;
}

body { 	
    color: #000066;
    background-color: #dddddd;
    background-image: url(../images/cajaltexture4.jpg);
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    
    /*height:100%;*/
    /*max-height:100%;*/
    
}

.base .warning {
    color: #ff0000;
}

.base .request {
    color: #000066;
}

.base .requested {
    color: #ffcc66;
}

.base .download {
    color: #00FF66;
}

.base .markdown_content {
    max-width:55%;
}

.base li a {
    text-decoration: none;
    color:#5B80B2;
}

.base .email_icon {
    vertical-align:middle;
}

.base h2 .email_icon {
    vertical-align:top;
}

.base {
	height:99%;   	
}

.base dl {
    padding-left: 2em;
} 

.base dd {
    font-weight: bold;
    margin-left: 0;
}

.base dt {
    margin-left: 2em;  
}

.base .nd {
    color:red;
}

.base .floating_block {
    float:left;
    margin-right:15px;
}

.base .floating_block p {
    margin-top:5px;
}

.base table.fullwidth {
  width: 100%;
}

.base table.list_of_data {
  
}

.base table.text {
  background: transparent;
  border-top: thin silver solid;
  border-bottom: thin silver solid;
}

.base th {
  background:#E1E1E1 url(../images/th-bg.png) repeat-x scroll left bottom;
  background-size:100% 100%;
  -webkit-background-size:100% 100%;
  color: #dddddd;
  border-bottom: thin silver solid;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.base .expanded_row {
    border:1px solid #CCCCCC;
}

.base .cell_details {
	padding:10px;
	border:10px solid #DDDDDD;
}

.base .action_cell {	
  width:18px;
  height:18px;	
  vertical-align:middle;
}

.base .action_cell:hover {
  background-color:#FFFF00;	
}

.base .paginator a {
  text-decoration:none;
  color:#dddddd;
}

.base .paginator .current_page {
  color:#ffff00;
}

.base th a {
  text-decoration:none;
  color:#dddddd;
}

.base th a:link    {text-decoration: none; color: #dddddd;}
.base th a:visited { text-decoration: none; color: #dddddd;}
.base th a:hover   { text-decoration: none; color: #FFFF00;}

.base .paginator th a:link { text-decoration: none; color: #dddddd;}
.base .paginator th a:visited { text-decoration: none; color: #dddddd;}
.base .paginator th a:hover { text-decoration: none; color: #FFFF99;}

.base table.plain th {
  color: #777777;
  text-align: left;
  vertical-align: top;
  background: transparent;
  border: none;
  }

.base table.plain td {
    text-align: left;
  } 

.base th.rowheader { 
  border-bottom: none;
  border-right: thin silver solid;
}

.base td { 
  text-align: center;
  padding-left: 0.4ex;
  padding-right: 0.4ex;
}

.base table.leftalign td {
  text-align: left;
} 

.base td.label {
  color: #444444;
  width: 7em;
} 

.base td.heading {
  font-weight: bold;
  color: red;
  }

.base td.leftalign { 
  text-align: left;
  padding-left: 1ex;
  padding-right: 1ex;
}

.base td.rightalign { 
  text-align: right;
  padding-left: 1ex;
  padding-right: 1ex;
}

.base > .action:hover {
  background-color:#FFFF00;	
}

.base td.action:hover {
  background-color:#FFFF00;	
}

.base tr.odd {
  background: #f7f7f7;
}

.base tr.even {
  background: #eeeeff;
}

.base tr.padded td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
} 

.base .list_of_data tr.even:hover, tr.odd:hover {
  background-color:#E0E0E0;
}

.base .lab_list li{
	list-style-type: square;
    margin-top:15px;    
}

.base table td a{
    text-decoration:none;   
    font-weight:bold;
}

.base .lab_list{
    text-decoration:none;   
}

.base .lab_list a:link,table td a:link    {text-decoration: none;color: #000066;}
.base .lab_list a:visited,table td a:visited {text-decoration: none;color: #000066;}
.base .lab_list a:hover,table td a:hover   {text-decoration: none;color: #0066FF;}

.base .floatright {
    float: right;
}

.base .floatleft {
    float: left;
}

.base #container { 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height:99%;
}

.base #pageHeader { 
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    background-color: #2d415f;
    background-image: url(../images/h1-bg.png);
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
    height: 65px;
}

.base #pageHeader h1 { 
    margin: 0;
    padding-top: 10px;
    color: #dddddd;
}

.base #pageBody {
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	background-color: #ffffff;
    padding: 10px;
    vertical-align: top;
    min-height:77%;
    max-height:50%;
    overflow:auto;
}

.base #leftContent {
    float:left;
    width:20em;
    margin-right:5px;
}

.base #leftContent h2 {
    margin-top:0px;
}

.base #leftContent h3 {
    margin-bottom:25px;
    margin-top:25px;
}

.base #rightContent table {
    width:auto;
}

.base .title {
    font-size:20px; 
    font-weight: bold;
}

.base .title img {
    vertical-align:middle;
}


.base ul {
    -webkit-padding-start:2em;
    -moz-padding-start:2em;
}

.base li {
    margin-top:1em;
    list-style-type: square;
}

.base li table {
    padding-top:10px;
}

.base li .notes {
	padding-top:10px;
}

.base .detail {
    font-size:12px; 
    font-weight: bold;
}

.base .value {
    color:#5B80B2;
}

.base #middleContent {
    float:left;
    margin-right:2em;
}

.base #middleContent h2 {
    margin-top:0px;
}

.base #middleContent h3 {
    margin-bottom:25px;
    margin-top:25px;
}

.base #rightContent {
    float:left;
    /*width:30%;*/
}

.base #rightContent h3 {
    margin-bottom:25px;
    margin-top:25px;
}

.base .button {
    cursor:pointer;
}

.base #pageFooter { 
	border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    clear: both;
    background-color: #2d415f;
    color: #dddddd;
    padding: 2px;
    text-align: right;
    border-top: 1px solid #333333;
}

.base #pageFooter a:link    { text-decoration: none; color: #ffffff;}
.base #pageFooter a:visited { text-decoration: none; color: #dddddd;}
.base #pageFooter a:hover   { text-decoration: underline; color: #ffffff;}

.base #pageFooter a img { 
    border: 0;
    vertical-align: top;
}

.base div.figure {
    float: right;
    margin: 1em;
}

.base .filter th {
    text-align:left;	
}

.base .filter td {
    text-align:right;	
}

.base .filter td > * {
    width:150px;	
}