#opacity_layer {
 position:fixed;
 background-color:#5B80B2;
 /*float:left;*/
 width:100%;
 height:100%;
 top:0%;
 left:0%;
 opacity:0.2;
 z-index:101;
}

#form_container, #delete_form_container, #group_form_style, #subclass_choice_form, #warn_form_style {
 position:fixed;
 background-color:white;
 border:2px solid #5B80B2;
 z-index:101;
 height:auto;
 top:0px;
 left:0px;
 width:400px;
}

#form_container {
    width:auto;
}

#delete_form_container {
 width:475px;
}

#group_form_style {
 width:325px;
}

#warn_form_style {
 width:150px;
}

#subclass_choice_form {
 width:350px;
}

#subclass_choice_form .form_input select {
 width:200px;
 border: 1px solid #ccc;
}

#subclass_choice_form .form_input {
 min-width:175px;
}

.log_row {
 border:1px solid #CCCCCC;
 size:10px;
 padding-top:5px;
 padding-bottom:5px;
 padding-left:5px;
 padding-right:5px;
 margin-top:15px;
 margin-bottom:5px; 
 max-width:450px;
}

.log_row .warning {
    color: #ff0000;
    /*text-align:center;*/
}

.log_row .note { 
  font-size: smaller;
  color: #33dd66;
}

#form_header {
 border-bottom:2px solid #5B80B2;
 color:white;
 background-color:#5B80B2;
 background-image:url(../images/default-bg-reverse.gif);
 padding-left:5px;
}

#form_content{
 padding-left:10px;
 padding-right:10px;
 padding-top:10px;
 padding-bottom:10px;
 overflow:auto;
 max-height:500px;	
 /*overflow:scroll;
 overflow-x:hidden;*/
}

#form_content table {
    width:100%;	
}

.form {
 padding-top:5px;
 padding-bottom:5px;
 padding-left:5px;
 padding-right:5px;
}

#table_container {
 width:100%;
 text-align:right;	
}

.form_row_container {
 float:left;
 margin-left:10px;
 /*margin-right:10px;*/
}

.form_row {
 /*margin-right:15px;*/
}

.form_row_container .form_label {
 padding-right:5px;
 text-align:right;
}

.form_row_container .form_input {
 text-align:left;	
 width:auto;
 min-width:236px;	
}

#submit_row {
 text-align:center;	
 padding-top:15px;
 padding-bottom:5px;
}

.form_input input {
 border: 1px solid #ccc;
}

.form_input input[type="text"] {
 width:234px;
 border: 1px solid #ccc;
}

.form_input .form_sub_input_left[type="text"] {
 width:169px;
 border: 1px solid #ccc;
 margin-right:5px;
}

.form_input .form_sub_input_left {
 width:169px;
 border: 1px solid #ccc;
 margin-right:5px;
}

.form_input .form_sub_input_right[type="text"] {
 width:60px;
 border: 1px solid #ccc;
}

.form_input .form_sub_input_axis_choice {
 width:100px;
 border: 1px solid #ccc;
 margin-right:5px;
}

.form_input .form_sub_input_axis_value[type="text"] {
 width:60px;
 border: 1px solid #ccc;
 margin-right:5px;
}

.form_input .form_sub_input_axis_unit[type="text"] {
 width:60px;
 border: 1px solid #ccc;
}

.form_input .form_unit_input[type="text"] {
 width:113px;
 border: 1px solid #ccc;
 margin-right:5px;
}

.form_input input[type="file"] {
 background-color:white;
 border: 1px solid #ccc;
 width:234px;
}

.form_input select {
 width:236px;
 border: 1px solid #ccc;
}

.form_input textarea {
 width:230px;
 border: 1px solid #ccc;
}

.form_input input[type="password"] {
 width:234px;
 border: 1px solid #ccc;
}

.form_input input[type="checkbox"] {
  margin-left:0px;
  height:16px;
  background-color:black;
}

#submit_row input[type="submit"] {
 background:white url(../images/default-bg-reverse.gif) repeat-x scroll center bottom;
 border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
 border-style:solid;
 border-width:1px;
 color:#5B80B2;
 padding:3px;
 cursor:pointer;
 height:26px;
 padding-top:3px;
}

#submit_row input[type="submit"]:hover {
 color:yellow; 
}

#dependent_objects_row input[type="checkbox"] {
  display:block;
  float:right;
}

.alert_icon {
 display:block;
 float:right;	
}

#cancel_button {
 background:white url(../images/default-bg-reverse.gif) repeat-x scroll center bottom;
 border-color:#DDDDDD #AAAAAA #AAAAAA #DDDDDD;
 border-style:solid;
 border-width:1px;
 color:#5B80B2;
 padding:3px;
 cursor:pointer;
}

#cancel_button a:link {
 text-decoration: none; 
 color: #5B80B2;
}

#cancel_button a:visited {
 text-decoration: none; 
 color: #5B80B2;
}

#cancel_button a:hover {
 color:yellow; 
}