.last_navbar_item {
  color: white;
}

#navbar {  
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;	
    background-color: #777777;
    font-size: 0.8em;
    color: #dddddd;;
    padding-top: 1ex;
    padding-left: 1em;
    padding-right: 1em;
    height: 20px;
}

#navbar ul {
    padding-left: 5px;
    margin-left: 0;
}

#navbar li {
    list-style-type: none;
    font-weight: bold;
    color: #e5c54c;
}

#navbar a:link    { text-decoration: none; color: #dddddd;}
#navbar a:visited { text-decoration: none; color: #dddddd;}
#navbar a:hover   { text-decoration: none; color: #ffffff;}