.base #leftContent {
	width:25em;
}

.refresh_button {
    clear:left;	
    display:block;
}

.navigator {

}

.navigator img {
    border:0;	
}

.navigator .nd{
    color:red;
}

/* buttons styles */

.navigator .button {
    text-decoration:none;
}

.navigator .button_container {
    float:right;
}

.navigator .button_container {
    margin-left:10px;
    margin-top:2px;
}

.navigator .add_object_button, .add_object_button_gr, .modify_object_button, .modify_object_button_gr, .delete_object_button, .delete_object_button_gr, .link_object_button, .link_object_button_gr, .unlink_object_button, .unlink_object_button_gr, .tag_object_button {
    position:relative;
    background-repeat:no-repeat;
    width:18px;
    height:18px;
}

.navigator .add_object_button_gr, .modify_object_button_gr, .delete_object_button_gr, .link_object_button_gr, .unlink_object_button_gr {
    margin-right:5px;
}

.navigator .button {
    display:block;
}

.navigator .button_container > .button {
    left:2px;
    margin-left:0px;
    margin-right:5px;
    float:right;	
}

.navigator .button_container > .button[type="checkbox"] {
	margin-top:2px;
	margin-right:7px;
}

.navigator .add_object_button {
    background-image:url(../images/insert-18.png);
}

.navigator .add_object_button_gr {
    background-image:url(../images/insert-18-gr.png);
}

.navigator .modify_object_button {
    background-image:url(../images/update-18.png);
}

.navigator .modify_object_button_gr {
    background-image:url(../images/update-18-gr.png);
}

.navigator .delete_object_button {
    background-image:url(../images/delete-18.png);
}

.navigator .delete_object_button_gr {
    background-image:url(../images/delete-18-gr.png);
}

.navigator .link_object_button {
    background-image:url(../images/link-18.png);
}

.navigator .link_object_button_gr {
    background-image:url(../images/link-18-gr.png);
}

.navigator .unlink_object_button {
    background-image:url(../images/unlink-18.png);
}

.navigator .unlink_object_button_gr {
    background-image:url(../images/unlink-18-gr.png);
}

.navigator .tag_object_button {
    background-image:url(../images/tag-18.png);
}

/* end buttons styles */

/* expander styles */

.navigator .root_node_expander_closed, .root_node_expander_opened, .node_expander_closed, .node_expander_opened, .root_node_expander_disabled, .node_expander_disabled, .square, .square_selected {
    position:relative;
    display:block;
    float:left;
    background-repeat:no-repeat;
    margin-right:5px;
    width:9px;
    height:6px;
    left:5px;
    top:3px;
}

.navigator .root_node_expander_disabled {
	background-image:url(../images/square.png);
    top:5px;
}

.navigator .root_node_expander_opened {
    background-image:url(../images/root_node_expander_opened.png);
}

.navigator .root_node_expander_closed {
    background-image:url(../images/root_node_expander_closed.png);
}

.navigator .node_expander_closed, .node_expander_opened, .node_expander_disabled, .square, .square_selected {
    top:8px;
}

.navigator .node_expander_disabled {
    background-image:url(../images/square.png);
}

.navigator .node_expander_opened {
    background-image:url(../images/node_expander_opened.png);
}

.navigator .node_expander_closed {
    background-image:url(../images/node_expander_closed.png);
}

.navigator .square {
    background-image:url(../images/square.png);
}

.navigator .square_selected {
    background-image:url(../images/square_selected.png);
}

.navigator .expander_cell {
    width:10px;	
}

/* end expander styles */

.navigator .image_node img{
	position:relative;
	width:128px;
	height:128px;
	margin-bottom:8px;
	color:red; /*for alt content*/
}

/* header styles */

.navigator .root_node_header {
	background:url(../images/th-bg.png) repeat-x;
    border:1px solid #5B80B2;
    margin-bottom:2px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.navigator .node_header {
    height:auto;
    min-height:22px;
    text-align:left;
}

.navigator .title_before_image {
    vertical-align:top;
}

.navigator .root_node_title {
    color:#eeeeff;
    padding:4px 5px 3px;
    font-family:"DejaVu Sans","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
    font-size:12px; 
    font-weight:bold;  
}

.navigator .node_title {
    color:#5B80B2;
    font-family:"DejaVu Sans","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
    font-size:11px; 
    font-weight:bold; 
    position:relative;
    top:4px;
    left:4px;  
}

.navigator .node_title a:link { text-decoration: none; color: #5B80B2;}
.navigator .node_title a:visited { text-decoration: none; color: #5B80B2;}
.navigator .node_title a:hover { text-decoration: none; color: #003366;}

.navigator .classnode {
    color:#5B80B2;
}

.navigator .selected_classnode {
    color: #003366;	
}

.navigator .node_field_value, .navigator .text_node {
    color:#8BB3E8;
    font-family:"DejaVu Sans","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;
    font-size:11px; 
    /*font-style:italic;*/  
}

.navigator .text_node {
    width:75%;
    margin-left:15px;
    margin-top:15px;
    margin-bottom:15px;	
}

.navigator .node_field_value a:link, .navigator .node_field_value a:visited, .navigator .node_field_value a:hover {
    top:0px;
    text-decoration: underline;
}

.navigator .node_field_value a:link {color: #8BB3E8;}
.navigator .node_field_value a:visited {color: #8BB3E8;}
.navigator .node_field_value a:hover {color: blue;}

.navigator .cell_value a:link, .navigator .cell_value a:visited, .navigator .cell_value a:hover {
    text-decoration: underline;
    font-weight:normal;
}

.navigator .cell_value a:link {color: #003366;}
.navigator .cell_value a:visited {color: #003366;}
.navigator .cell_value a:hover {color: blue;}

/* end header styles */

/* container styles */

.navigator .root_node_container {
    background-color:gray;
    padding-left:10px;
    height:auto;
    margin-bottom:2px;
    background-color:white;
}

.navigator .root_node_container_opened, .root_node_table_container {
    border:1px solid #5B80B2;
    background-color:white;
    padding-left:10px;
    padding-bottom:3px;
    margin-bottom:2px;
    height:auto;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.navigator .node_header {
	border-bottom:1px solid #eeeeff;
}

.navigator .node_header:hover {
    background-color:#eeeeff;
}

.navigator .node_container_opened {
    padding-left:20px;
    color:#003366;	
}

.navigator .node_container_closed {
    padding-left:20px;	
    /*padding-bottom:40px;*/
}

.navigator .node_table_container {
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
}

.navigator .subclass_container .node_header {
    border-bottom:none;
}

.navigator .node_table_container .node_header {
    padding:4px 5px 3px;	
}

.navigator .root_node_table_container {
    border:1px solid #5B80B2;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
}

/*
.navigator .cell_details:hover {
	border:10px solid #FFFF99;
}
*/

/* end container styles */

/* tables styles */

.navigator a.ordering_field:link    {text-decoration: none; color: #333333;}
.navigator a.ordering_field:visited { text-decoration: none; color: #333333;}
.navigator a.ordering_field:hover   { text-decoration: none; color: #999999;}

/* end tables styles */