fieldset.content div input,
fieldset.other div input,
fieldset.content div textarea#id_content{
	width: 97%;
	padding: 10px;
	font-size: 14px;
}

fieldset.content div textarea#id_content{
	min-height: 300px;
}
fieldset.other div p.datetime input{
	width: 100px;
}
