[buildout]

extensions =
    buildout.dumppickedversions
    mr.developer

parts = 
    django
    grampy
    pythogram  

develop = .

eggs = 

[pythogram]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    pythogram
 
[grampy]
recipe = zc.recipe.egg
recipe = zc.recipe.egg
eggs = 
    ipython
    ${pythogram:eggs}
    ${buildout:eggs}
scripts = ipython=grampy

[django]
recipe = djangorecipe
project = pythogram
projectegg = pythogram
settings = development
test = pythogram
eggs =
    ${pythogram:eggs}
    ${buildout:eggs}
