[buildout]
develop = .
parts = vpython test
versions = versions
allow-picked-versions = false

[versions]
setuptools = 0.6c11
virtualenv = 1.7
z3c.recipe.scripts = 1.0.1
zc.buildout = 1.5.2
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.exceptions = 3.6.1
zope.interface = 3.8.0
zope.testrunner = 4.0.4

[vpython]
recipe = tl.buildout_virtual_python

[test]
recipe = zc.recipe.testrunner
eggs = tl.buildout_virtual_python
