['lokai.lk_ui.ui_default.static', 'lokai_css_base.txt']
['lokai_css_setting.txt']
html {
  overflow-y: scroll;
}

body {
  font-size: 1em;
  font-weight: normal;
  vertical-align: baseline;
  outline: 0;
  color: #333333;
  text-decoration: none;
  padding: 0;
  font-family: 'Helvetica Neue', HelveticaNeue, helvetica, sans-serif;
  margin: 0;
  line-height: 1.5em;
  background-color: white;
}

a {
  color: #d68a65;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.space_line {
  padding: 0;
  width: auto;
  clear: both;
  margin: 0;
}

#main {
  float: right;
  min-width: 56em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 94em;
}

#outer_nav {
  width: 15em;
  float: left;
}

#ident {
  color: #476a8b;
  height: 6em;
  margin-bottom: 0.5em;
}

#ident h1 {
  font-size: 1.2em;
  margin: 0.2em 0;
}

#ident h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin: 0.1em 0;
}

#ident h3 {
  font-size: 0.75em;
  font-weight: normal;
  margin: 0.1em 0;
}

#main_menu {
  padding-top: 0;
  font-size: 0.8em;
  line-height: 1.4em;
}

#main_menu ul {
  padding: 0;
  margin: 0;
  border: none;
}

#main_menu ul ul ul {
  padding-left: 0.5em;
}

#main_menu ul ul ul li {
  font-size: small;
  list-style-type: square;
  list-style-position: inside;
}

#main_menu ul ul li {
  color: colour_menu_2;
  background-image: none;
  font-weight: normal;
  margin-left: 1em;
}

#main_menu ul ul li a {
  color: #d68a65;
}

#main_menu ul ul li a:hover {
  text-decoration: underline;
}

#main_menu li {
  background-image: url('../static/main_nav_gradient_bar.jpg');
  background-repeat: no-repeat;
  color: #476a8b;
  text-indent: 0.5em;
  margin-top: 0px;
  margin-bottom: 0.5em;
  list-style-type: none;
  font-weight: bold;
}

#main_menu li a {
  color: #476a8b;
}

#main_menu li a:hover {
  text-decoration: underline;
}

#outer_application {
  float: left;
  width: 65%;
  margin-top: 1.25em;
  margin-left: 1em;
  padding-bottom: 0.75em;
  padding-left: 5px;
}

#nav_divider {
  background-image: url('../static/top_nav_keyline.jpg');
  background-position: center;
  background-repeat: repeat-x;
  height: 8px;
}

#nav_divider hr {
  display: none;
}

.lk_worker_navigation_bar {
  color: #d68a65;
  width: 100%;
  font-size: 0.75em;
  vertical-align: bottom;
  line-height: 1.2em;
}

.lk_worker_navigation_bar a {
  color: #d6a865;
}

.lk_worker_tab_bar {
  padding-top: 0px;
  float: right;
  margin-bottom: 0.5em;
  text-align: right;
}

.lk_worker_tab_bar ul {
  padding: 0;
  margin: 0;
}

.lk_worker_tab_bar li {
  background-image: url('../static/top_nav_tab.jpg');
  min-width: 5em;
  height: 1.2em;
  padding: 0;
  margin-left: 0.5em;
  max-width: 20em;
  display: -moz-inline-stack;
  text-align: center;
}

.copyright {
  color: #d68a65;
  font-size: 0.6em;
  line-height: 0.75em;
}

#footer {
  padding-top: 0.5em;
}

em.required {
  color: red;
}

em.required:before {
  content: **;
}

.lk_worker_data form {
  font-size: 0.8em;
  padding-bottom: .5em;
}

.lk_worker_presentation div.document {
  font-size: 2em;
}

.lk_worker_presentation div.document ul {
  padding: 0.5em;
  margin: 0.5em;
}

.lk_worker_presentation div.document ul li {
  list-style-type: disc;
  list-style-position: outside;
}

.lk_worker_data form fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
}

.lk_worker_data form fieldset legend {
  padding: 0px;
  width: 100%;
  color: #ffffff;
  background-color: #d68a65;
  text-indent: 1em;
}

.lk_worker_data form fieldset ol {
  padding: 0;
  margin: 0;
  margin-left: 1.5em;
}

.lk_worker_data form fieldset ol li {
  padding: 0.2em 0;
  list-style: none;
  border-bottom: thin dashed #d6a865;
}

.lk_worker_data form fieldset ol li label {
  width: 24%;
  vertical-align: top;
  display: inline-block;
  text-align: right;
}

.lk_worker_data form fieldset fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
}

.lk_worker_data form fieldset fieldset legend {
  background-image: url('../static/main_nav_gradient_bar.jpg');
  background-repeat: repeat-x;
  color: #d68a65;
  padding: 0px;
  width: 100%;
  background-position: center;
  background-color: #ffffff;
}

.lk_worker_data form .hint {
  display: none;
}

.lk_worker_data .left_container {
  border: none;
  float: left;
  padding: 0 4px 0 0;
  width: 32%;
  margin: 0;
  text-align: right;
}

.lk_worker_data .mid_container {
  border: none;
  float: left;
  padding: 0;
  width: 32%;
  margin: 0;
  text-align: left;
}

.lk_worker_data .right_container {
  border: none;
  float: right;
  padding: 0;
  width: 34%;
  margin: 0;
  text-align: left;
}

.lk_worker_data .SubmitWidget {
  width: 12em;
  border-style: groove;
  background-color: #b8d6e6;
  height: 2em;
}

.lk_worker_data .SubmitWidget :hover {
  background-color: #adcad9;
}

.lk_worker_data .FileWidget {
  width: 40em;
  border-style: groove;
  background-color: #b8d6e6;
  height: 2em;
}

.lk_worker_data .MultiCheckWidget {
  height: auto;
}

.lk_worker_data .TextWidget {
  width: 74%;
  height: 30em;
}

.lk_worker_data .HtmlWidget {
  height: auto;
}

.lk_worker_data .SideBarWidget {
  margin: 0 0 0.5em 1em;
  clear: right;
  float: right;
  height: auto;
  width: 40%;
  border: 1px solid grey;
}

.lk_worker_data .SideBarList {
  list-style-position: inside;
}

.lk_worker_data .sidebar-title {
  color: #448f75;
}

.lk_worker_data div.document li {
  border: none;
}

.lk_worker_data div.document li:before {
  content: >;
  display: inline;
}

.lk_worker_data div.document .news-item {
  margin-right: 0.5em;
  border: thin solid #476a8b;
  margin-bottom: 0.2em;
  background-color: #ffffff;
  margin-left: 0.5em;
}

.lk_worker_data div.document .admonition {
  margin-right: 0.5em;
  border: thick solid #476a8b;
  margin-bottom: 0.2em;
  background-color: #ffffff;
  margin-left: 0.5em;
}

.lk_worker_data div.section h1,
.lk_worker_data div.section h2,
.lk_worker_data div.section h3,
.lk_worker_data div.section h4,
.lk_worker_data div.section h5,
.lk_worker_data div.section h6 {
  margin: 0 0 1em 0;
}

.lk_worker_data div.section h1 {
  color: #d6a865;
  font-size: 110%;
}

.lk_worker_data div.section h2 {
  font-size: 105%;
}

.lk_worker_data div.section h3,
.lk_worker_data div.section h4,
.lk_worker_data div.section h5,
.lk_worker_data div.section h6 {
  font-size: 100%;
}

.lk_worker_data div.sidebar {
  border: thin solid #d6a865;
  background-color: #ffffff;
}

.lk_worker_data pre .literal-block,
.lk_worker_data pre .doctest-block {
  white-space: pre-wrap;
}

.lk_worker_data p.rubric {
  color: #448f75;
}

.lk_worker_data .emphatic {
  padding: 5px;
  color: #d68a65;
  background-color: #dddddd;
}

.lk_worker_data .emphatic h1 {
  color: #333333;
  font-size: 1.3em;
}
