[buildout]
extends = test-plone-4.0.x.cfg
extensions =
    mr.developer
    buildout.dumppickedversions
sources = sources
auto-checkout = *

[sources]
Products.Relations = svn https://svn.plone.org/svn/archetypes/Products.Relations/trunk
