article.etpage {
  white-space : normal
}
article.etblk {
}

/* Text styling */
span.etmark {
}
strong.etmark {
}
em.etmark {
}
u.etmark {
}
sup.etmark {
}
sub.etmark {
}
strong.etmark > em {
}
strong.etmark > u {
}
em.etmark > u {
}
strong.etmark > em > u {
}
p.ettext {
}

/* Sections */
h1.etsec {
}
h2.etsec {
}
h3.etsec {
}
h4.etsec {
}
h5.etsec {
}
h1 a.etseclink, h2 a.etseclink, h3 a.etseclink, h4 a.etseclink, h5 a.etseclink {
  color: #CCCCCC;
  font-size: medium;
  text-decoration: none
}

/* Small table */
table.ettbl {
  border-collapse: collapse;
}
tr.ettbl {
}
th.ettbl {
  padding : 5px; border: 1px solid gray;
}
td.ettbl {
  padding : 5px; border: 1px solid gray;
}

/* Big table */
table.etbtbl {
  border-collapse: collapse;
}
tr.etbtbl {
}
th.etbtbl {
  padding : 5px; border : 1px solid gray;
}
td.etbtbl {
  padding : 5px; border : 1px solid gray;
}

/* Horizontal rule */
hr.ethorz {
}

/* List */
ul.et {
}
ol.et {
}
li.et {
}

/* Definitions */
dl.et {
}
dt.et {
}
dd.et {
}

/* Blockquote */
blockquote.et.firstlevel {
  border-left : 2px solid #d6d6d6;
  padding-left : 5px
}
blockquote.et.innerlevel {
  margin-left : 0px;
  border-left : 2px solid #d6d6d6;
  padding-left : 5px;
}

/* Links */
img.et {
}
a.etlink {
}
a.etlink.anchor {
}
a.ethttpuri {
}
a.etwwwuri {
}

/* macro-anchor */
a.etm-anchor {
}

/* macro-clear */
div.etm-clear {
  clear : both;
}

/* macro-image */
div.etm-image {
  margin    : 0px;
  padding   : 0px;
  border    : 0px;
}

/* macro-images */
table.etm-images {
  margin    : 10px;
  padding   : 0px;
  border    : 0px;
}
table.etm-images tr {
}
table.etm-images td {
}
table.etm-images img {
}

/* macro-span */
span.etm-span {
  color   : gray;
  padding : 2px;
}

/* macro-toc */
details.etm-toc {
  background    : #f8f7bc;
  float         : left;
  margin        : 10px;
  padding       : 3px;
  width         : 20em;
  border-right  : 1px solid gray;
  border-bottom : 1px solid gray;
  border-radius : 5px;
}
details.etm-toc summary {
  font-weight : bold;
  color : yellow;
  cursor : pointer;
  margin-left : 5px;
}
details.etm-toc ul {
  list-style : none;
  padding : 5px;
}
details.etm-toc a {
}
details.etm-toc a.level-1 {
  margin-left : 0em;
}
details.etm-toc a.level-2 {
  margin-left : 0.7em;
}
details.etm-toc a.level-3 {
  margin-left : 1.4em;
}
details.etm-toc a.level-4 {
  margin-left : 2.1em;
}
details.etm-toc a.level-5 {
  margin-left : 2.8em;
}
details.etm-toc a.level-6 {
  margin-left : 3.5em;
}

/* extension-box */
div.etext-box .box {
  color         : gray;
  border-top    : thin solid gray;
  border-right  : thin solid gray;
  border-bottom : thin solid gray;
  border-left   : thin solid gray;
}
div.etext-box .boxtitle = {
  color          : black;
  background     : #EEEEEE;
  font-weight    : bold;
  padding-top    : 3px;
  padding-right  : 3px;
  padding-bottom : 3px;
  padding-left   : 3px;
}
div.etext-box .boxcont = {
  padding-top    : 3px;
  padding-right  : 3px;
  padding-bottom : 3px;
  padding-left   : 3px;
}
div.etext-box span.boxhide {
  display: none;
  float: right;
  font-size : xx-small;
  color: blue;
  cursor: pointer;
}
div.etext-box span.boxshow {
  display: none;
  float: right;
  font-size : xx-small;
  color: blue;
  cursor: pointer;
}


/* extension-code */
div.etext-code {
  margin-left  : 5%;
  margin-right : 5%;
}
div.etext-code pre {
  margin  : 5px 0px;
}
div.etext-code .highlighttable td.linenos {
  padding : 3px;
  color : brown;
  background-color : activeborder;
}
div.etext-code .highlighttable td.code {
  padding : 3px
}
div.etext-code .highlight {
  background-color : #FAFAFA;
}
div.etext-code .codecont {
  background : #FAFAFA;
  border : 1px dashed gray;
}

/* extension-footnote */
div.etext-footnote .footnote {
}
div.etext-footnote table {
  margin-left: 5px;
}
div.etext-footnote td.anchor {
  padding: 5px;
  color: blue;
  vertical-align: top;
}
div.etext-footnote td.notes {
  padding: 5px;
  text-align: left;
}

/* extension-html */
div.etext-html .html {
}

/* extension-nested */
div.etext-nested .nested {
}

/* Templated tags */
span.etttag.pre {
  white-space : pre;
  font-family : monospace;
}
abbr.etttag {
}
span.etttag.fixme {
  border : 1px solid cadetBlue;
  color : red;
  padding: 1px;
  font-family : monospace;
}
div.etttag.qbq {
  font-style : italic;
  margin : 5px 0px 5px 0px;
  padding : 15px 0px 10px 40px;
  width: 70%;
  white-space: pre;
}
span.etttag.smile {
  font-size: x-large;
  color: darkOrchid;
  padding: 1px;
  font-family : monospace;
}
span.etttag.sad {
  font-size: x-large;
  color: orangeRed;
  padding: 1px;
  font-family : monospace;
}
address.etttag {
}
span.etttag.fnt {
}
sup.etttag.footnote {
}
sup.etttag.footnote a {
  text-decoration: none;
}
