[buildout]
develop = .
parts = script 

[test]
recipe = zc.recipe.testrunner
defaults = '--tests-pattern tests --exit-with-status -1 --auto-color'.split()
eggs = zc.objectlog


[script]
recipe = zc.recipe.egg
eggs = ${test:eggs}
       docutils
interpreter = py