div.activitystream {
  clear: both;
}

div.activitystream span.author {
  margin: 0 10px 5px 0;
  float: left;
}

div.activitystream span.msgtxt {
  margin: 0 0 10px 0;
}

div.activitystream span.meta {
  color: #999;
  display: block;
}

div.activitystream span.meta a {
  color: #999;
}