[buildout]
develop = .
parts = test releaser
extends = http://grok.zope.org/releaseinfo/grok-1.1rc1.cfg
versions = versions
newest = false


[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3cform.base [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
