
.embededMediaShow
{
    background-color: #f1f3f8;
    moz-border-radius: 5px;
    webkit-border-radius:5px;
    border-radius:5px;
}

.embededMediaShow.javascripted .mediaShowButtons 
{
    left:40%;
    right: 40%;
    margin-bottom: 20px;
}

.embededMediaShow.javascripted .mediaShowButtons a
{
    text-decoration: none;
    border: none !important;
}