[buildout]
parts =
    instance
    zopepy
    omelette
    test
    coverage-test
    coverage-report
    translation

newest = false

# Change the number here to change the version of Plone being used
extends = 
    http://dist.plone.org/release/4.1b1/versions.cfg
    http://good-py.appspot.com/release/dexterity/2.0-next
versions = versions

extensions = 
    buildout.dumppickedversions
    mr.developer
    
unzip = true

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs =
    collective.dexteritypaste

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop = .

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8081
debug-mode = on
verbose-security = on
blob-storage = var/blobstorage
# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Zope2
    Plone
    ${buildout:eggs}
    opkode.rateablediscussion
    PIL
    plone.reload

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =

products =

# ${buildout:directory}/products

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
products = ${instance:products}

[test]
recipe = zc.recipe.testrunner
eggs = 
    ${buildout:eggs}
    zope2
    Plone
    opkode.rateablediscussion
defaults = ['-v', '--exit-with-status', '--auto-color', '--auto-progress']

# To get a test coverage report...
# bin/coverage-test
# bin/coverage-report
[coverage-test]
recipe = zc.recipe.testrunner
eggs = 
    ${buildout:eggs}
    zope2
    Plone
    opkode.rateablediscussion
defaults = ['--coverage', '../../coverage']

# Requires: sudo aptitude install enscript
[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'report')

[versions]
# plone.app.locales = 
# zope.schema = 3.6.4
z3c.form = 2.3.3

[translation]
recipe = infrae.i18nextract
packages =
    opkode.rateablediscussion
output =
    ${buildout:directory}/src/opkode/rateablediscussion/locales
domain = opkode.rateablediscussion

