
h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: .5em;
}

div.module_wrapper {
    width: 98%;
    overflow: hidden;
}
ul.link_group {
    margin: 0 0 10px 0;
    width: 22%;
    float: left;
    padding-left: 20px;
}