html, body {
    margin:0;
    padding:0;
}
body {
    background:none repeat scroll 0 0 #555;
    color:#333333;
    font-family:Helvetica, Geneva, Arial,SunSans-Regular, sans-serif;
    font-size:15px;
    font-weight:400;
}
:focus {
    outline:2px solid orange;
}
h1 {
    color:#333;
    font-size:1.8em;
    font-weight:normal;
    line-height:1.5em;
    margin:0px 0 10px;
    padding:10px;
}
h1.edition {
    border-top:1px solid #4E960A;
}
h2 {
    font-size:1.2em;
    line-height:1.5em;
}
a:link {
    color:#0074E8;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
a:active {
    color:#0074E8;
}
a:visited { 
    color:#0074E8;
}
ul {
    margin:0;
    list-style:none;
    padding-left:10px;
}
ul li {
    line-height:1.5em;
}
img {
    border:medium none;
}
.ajax-load {
    display:none;
    text-align:center;
    vertical-align:top;
}
#body-wrapper {
    max-width:1080px;
    min-width:960px;
    margin:10px auto;
    padding:0 20px;
    background-color:#EEEEEE;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
}

.today-date {
    display:none;
}
.hours-graph canvas{
    height:30px;
    width:230px;
}
/*  HEADER  */
#header {
    height:auto;
    margin:0;
    color:#330033;
}

/* logo */
#logo {
    float:left;
    text-transform:lowercase;
    font-style:italic;
}
#logo a {
    margin:10px 0 0 10px;
    text-decoration:none;
    background:transparent url(images/logo.png) scroll no-repeat 0 0;
    display:block;
    height:75px;
    width:200px;
}
#personal-bar {
    float:right;
    margin-right:10px;
    margin-top:5px;
}
#path-bar {
    margin-bottom:5px;
    color:#999;
}
#main {
    float:left;
    padding:10px 2% 30px;
    width:96%;
    background-color:#FFF;
    box-shadow:0px 0px 5px #ccc;
    -moz-box-shadow:0px 0px 5px #ccc;
    -webkit-box-shadow:0px 0px 5px #ccc; 
    border-radius:5px;  
    -moz-border-radius:5px;
    -webkit-border-radius:5px;     
}
/*navigation bar*/
#navigation-bar-container {
    margin-top:46px;
    margin-bottom:0px;
    float:left;
}
#navigation-bar {
    clear:both;
    height:2.6em;
    margin:0px;
    padding:0px;
}
#navigation-bar li {
    display:inline;
    line-height:2.6em;
}
#navigation-bar .item {
    background-color:#E3E5E7;
    font-size:1.2em;
    color:#000;
    text-decoration:none;
    margin:0px 5px;
    padding:0.45em 20px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
}
#navigation-bar .item:hover {
    background-color:#CCC;
}
#navigation-bar .item.selected {
    background-color:#FFF;
    color:#321F25;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;    
    border-top:1px solid #ccc;
    box-shadow:0px 0px 5px #ccc;
    -moz-box-shadow:0px 0px 5px #ccc;
    -webkit-box-shadow:0px 0px 5px #ccc;
}
#navigation-bar .home .item {
    background:url("images/home-icon.png") no-repeat scroll center center transparent;
    padding:0.4em 27px;
}
#navigation-bar .home .selected,
#navigation-bar .home .item:hover {
    background-color:#FFF;
}

/*CONTENT AREA*/
#main p {
    line-height:1.4;
}
/*actions views*/
.view-actions-wrapper {
    float:right;
    margin-top:0px;
}
.view-actions-wrapper .action {
    text-shadow:2px 2px 2px #383838;
    border-radius:0 0 5px 5px;
    box-shadow:1px 1px 3px #383838;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -moz-box-shadow:1px 1px 3px #383838;
    -webkit-box-shadow:1px 1px 3px #383838;
    background:url("images/awesome-overlay-sprite.png") repeat-x scroll left top green;
    color:#FFFFFF;
    font-weight:bold;
    display:inline-block;
    padding:0.4em 0.75em;
    text-decoration:none;
}
.view-actions-wrapper .action.delete {
    background:url("images/awesome-overlay-sprite.png") repeat-x scroll left top #d61313;
}
.view-actions-wrapper .action .icon {
    vertical-align:middle;
}
/*metadata chart*/
#metadata-chart {
    background-color:#BED4EB;
    padding:15px 10px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#metadata-chart ul li {
    padding:5px 0px;
}
#metadata-chart b {
    vertical-align:top;
    text-shadow:0 1px 0 #FFF;
}
#metadata-chart .starred-not-selected,
#metadata-chart .starred-selected {
    margin:0px;
    display:inline-block;
}
.empty-description {
    font-size:1em;
    font-weight:bold;
    text-align:center;
    margin-top:5em;
}
/*context bar*/
#context-bar {
    float:left;
    width:98%;
    clear:both;
    color:#FFF;
    padding:0px 1%;
    text-shadow:2px 2px 2px #383838;
    -moz-box-shadow:1px 1px 2px #383838;
    -webkit-box-shadow:1px 1px 2px #383838;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#321F25 url("images/awesome-overlay-sprite.png") repeat-x scroll left top;    
}
#context-bar a {
    color:#FFF;
}
#context-bar li {
    display:inline;
}
#context-bar .filter-bar {
    float:left;
    line-height:2em;
}
#context-bar .filters {
    display:inline;
    font-size:12px;
}
#context-bar .filters form {
    display:inline;
}
#context-bar .filters a {
    padding:3px 10px;
    background-color:#FFF;
    color:#000;
    -moz-border-radius:5px;
    border-radius:5px;
    text-shadow:none;
}
#context-bar .actions {
    float:right;
}
#context-bar .actions a {
    font-weight:bold;
    text-decoration:none;
    border-left:1px solid #FFF;
    display:block;
    line-height:2em;
    padding-left:32px;
}
#context-bar .actions a:hover {
    color:#DFDFDF;
}
#context-bar .actions .add-button {
    background:transparent url(images/add.png) scroll no-repeat 5px center;
}
#context-bar .label {
    font-weight:bold;
}

#context-bar #filter-form {
    display:inline;
    margin-left:50px;
}

/*table listing*/
#listing-table {
    width:100%;
    border-spacing:0;
}
#listing-table thead {
    background-color:#DDD;
}
#listing-table thead th {
    font-weight:bold;
    text-align:left;
    padding:5px 10px;
    text-shadow:0 1px 0 #FFF;
}
#listing-table tr {
    vertical-align:top;
}
#listing-table tbody tr:hover,
#listing-table tbody tr.selected {
    background-color:#f7f0cf;
}
#listing-table td {
    border-bottom:1px solid #ccc;
    padding:15px 10px;
}
#listing-table .starred {
    width:2em;
}
#listing-table .status {
    width:7em;
}
#listing-table h4 {
    margin:0px;
}
#listing-table .title-and-description h4 a {
    text-decoration:none;
    color:#000;
    background:transparent url(images/link_icon_green.gif) no-repeat scroll right center;
    padding-right:18px;
    margin-right:4px;
}
#listing-table .title-and-description .description {
    color:#888;
    font-size:0.8em;
}
/*project particularity*/
#listing-table .title-and-description .client-tag {
    background-color:#999999;
    color: white;
    font-size:90%;
    padding:0 8px;
    font-weight:normal;
}
/*project starred*/
.starred-selected,
.starred-not-selected:hover {
    width:23px;
    height:23px;
    text-align:center;
    background:transparent url(images/starred2.png) scroll no-repeat 0px 0px;
    display:block;
    margin:0 auto;    
}
.starred-not-selected {
    width:23px;
    height:23px;
    text-align:center;
    background:transparent url(images/starred2.png) scroll no-repeat -23px 0px;
    display:block;
    margin:0 auto;
}
.inprogress {
    background-color:#6AB42D;
    padding:5px;
    color:#FFF;
}
.completed {
    background-color:#284411;
    padding:5px;
    color:#FFF;
}
.blocked {
    background-color:#CCC;
    padding:5px;
    color:#FFF;
}
#listing-table .actions-wrapper {
    float:right;
    display:block;
    opacity:0.4;
}
#listing-table tr:hover .actions-wrapper,
#listing-table tr.selected .actions-wrapper{
    display:block;
    opacity:1;
}
#listing-table .actions .action,
#logs-table .actions .action,
.data-table .actions .action{
    display: block;
    float: left;
    height: 29px;
    margin: 0 5px 0 0;
    width: 29px;
}
.empty-listing {
    text-align: center;
    margin:1em;
    font-size:1em;
    font-weight:bold;
    float:left;
    width:100%;
}

/* FORMS */
form .hint {
    color:#555555;
    font-size:0.8em;
    margin-bottom:1px;
}
form .field {
     margin-bottom:0.8em;
}
form .label {
    vertical-align:top;
    padding:0.3em;
}
form .required {
    color:red;
}
form label {
    font-weight:bold;
}
form textarea {
    border:1px solid #777777;
    color:#555555;
    font-size:1em;
    line-height:1em;
    padding:0.5em;
    vertical-align:top;
}
form input {
    line-height:1em;
    font-size:1em;
    border:1px solid #777;
}
.compact-form .field {
    float:left;
    margin-right:1em;
    margin-left:2px;
}
.compact-form .button {
    margin-top:1em;
}
.compact-form {
    overflow:auto;
    width:100%;
}

.field .error {
    color:#EE1212;
}
.form-status div{
    color:#666666;
    font-size:110%;
    font-weight:bold;
}

.close_message {
    float:right;
    margin-right:1em;
}

.errors {
    background: url("images/site-error.png") no-repeat scroll left center #EEE0E0;
    border: 2px solid #EE1212;
    margin: 10px 0;
    padding:15px 0 15px 80px;
    color:#000;
    list-style:disc outside none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.errors .close_message:hover {
    outline:1px solid #ee1212;
}

.errors .ui-icon {
    background-image:url(images/ui-icons_ee1212_256x240.png);
}

.messages {
    background:url("images/site-info.png") no-repeat scroll left center #e2f2fd;
    border:2px solid #0498fd;
    margin:10px 0;
    padding:15px 0 15px 80px;
    color:#000;
    list-style:disc outside none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.messages .close_message:hover {
    outline:1px solid #0498fd;
}

/* depends on jquery-ui icon's sprite*/
.messages .ui-icon {
    background-image:url(jquery-ui/css/ui-lightness/images/ui-icons_228ef1_256x240.png);
}

/* Report forms tweaks */
#logs-report-form #form\.actions\.submit,
#tasks-report-form #form\.actions\.submit {
    margin-top:35px;
}

/*TABLES STYLE*/
.data-table {
    width:100%;
    border-top:1px solid #999;
    border-right:1px solid #999;
    margin:1em auto;
    border-collapse:collapse;
    font:88%/160% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
}
.data-table th {
    border-bottom:1px solid #999;
    border-left:1px solid #999;
    color:#444;
    font-weight: normal;
    padding:0.3em 1em;
    text-align:left;
}
.data-table td {
    color:#555;
    border-bottom:1px solid #999;
    border-left:1px solid #999;
    padding:.3em 1em;
    text-align:left;
}
.data-table td.description {
    text-align:left;
}
.data-table .odd td {
    background:#EEE;
}
.data-table thead th {
    background:#DDD;
    text-align:left;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color:#000;
}
.data-table tfoot td {
    background:#EEE;
    text-align:left;
}
.data-table tfoot td {
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
    color:#444;
}
td.date {
    width:5.2em;
}
td.actions {
    min-width:6em;
}
#logs-table .actions {
    width:6em;
}
#logs-table col#description {
    width: 400px;
    text-align: left;
}
#logsreport-table col#description {
    width: 240px;
    text-align: left;
}


/*JQUERY WIDGETS*/
.ui-daterangepickercontain {
    font-size:12px;
}

.ui-daterangepicker li.preset_0 {
    margin-top: 0.5em !important;
}

img.calendar-icon {
    margin-left: 2px;
}

/*LAYOUT HELPERS*/
.row {
    display:block;
    float:left;
    position:relative;
    width:100%;
}
.right-column {
    left:100%;
    margin-left:-40%;
    position:relative;
    width:40%;
    float:left;
}
.content-column {
    left:100%;
    margin-left:-100%;
    position:relative;
    width:55%;
    float:left;
}
#footer {
    background:#eeeeee;
    text-align:center;
    clear:both;
    width:100%;
    height:50px;
}
#copyright {
    padding:15px;
    color:#333;
}

.widget .date-translated {
    display:block;
}

/*DASHBOARD*/
#dashboard .field-container,
.log-row .field-container{
    position:relative;
    padding-right:15px;
    padding-bottom:4px;
}
#dashboard .field-container .error,
.log-row .field-container .error,
.widget .date-translated.error{
    background:url("images/problem.png") no-repeat scroll 0 0 transparent;
    padding-left: 18px;
}
#dashboard .field-container .accept,
.log-row .field-container .accept,
.widget .date-translated.accept{
    background:url("images/accept.png") no-repeat scroll 0 0 transparent;
    padding-left: 18px;
}

/*ajax log box*/
.log-row {
    display:none;
	padding:3px;
	width:22em;
	height:16em;
	background:#EEE url("images/point-arrow.png") no-repeat scroll right center;
    border: 5px solid #CCCCCC;
    border-radius:7px 7px 7px 7px;
    box-shadow:0px 0px 10px #383838;
    -moz-border-radius:7px 7px 7px 7px;
    -webkit-border-radius:7px 7px 7px 7px;
    -moz-box-shadow:0px 0px 10px #383838;
    -webkit-box-shadow:0px 0px 10px #383838;    
}
.log-row form {
    padding:20px 15px;
}
.log-row .ajax-load {
    display:block;
}
.log-row td{
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    text-align:left;
}
.log-row .delete {
    cursor: pointer;
    float:right;
    -moz-box-shadow:1px 1px 2px #383838;
    -webkit-box-shadow:1px 1px 2px #383838;
    box-shadow:1px 1px 2px #383838;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;    
    border-radius:5px;
}
.log-row .delete:hover {
    -moz-box-shadow:0px 0px 1px #383838;
    -webkit-box-shadow:0px 0px 1px #383838;
     box-shadow:0px 0px 1px #383838;
}
.log-row .more-logs {
    border-radius:0 0 5px 5px;
    box-shadow:1px 1px 3px #383838;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-box-shadow:1px 1px 3px #383838;
    -webkit-box-shadow:1px 1px 3px #383838;
    background:url("images/awesome-overlay-sprite.png") repeat-x scroll left top green;
    color: #FFF;
    font-weight: bold;
    padding: 5px 1em 5px 1em;
    margin-right:1em;
    margin-top:1em;
}
.log-row div.success {
    padding-top: 55px;
    text-align: center;
}
.log-row img.success {
    padding-right: 5px;
}
.log-row a.more-logs {
    margin-top: 15px;
}
#reports-listing {
    padding-left: 20px;
}
#reports-listing dd {
    margin: 0 0 1em 1em;
    padding: 0;
}

/*COLLAPSABLE ELEMENTS*/
.colapsable {
    background-color:#EEE;
    padding:5px 10px;
    clear:both;
}
.colapsable table {
    background-color:#FFF;
}
.colapsable h2 {
    background: url("images/arrows.png") no-repeat scroll 0 -29px #EEE;
    padding-left: 25px;
    text-decoration: none;
}
.colapsable h2.active {
    background-position: 0 9px;
}

/*TOOLTIPS TIPSY*/
.tipsy { padding: 5px; font-size: 11px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(images/tipsy.gif); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }


