/* $Id: custom.css 0af9dd5b2dbf 2012/06/17 18:55:39 patrick $ */
/* Publidoc2XHtml */

body { margin: 10px; }

h1 { font-variant: small-caps; }

img { max-width: 100%; }


/* ===== SECTION LEVEL ====== */


.pdocSection1, .pdocSection2, .pdocSection3 {
  font-family: serif;
}

.pquizInstructions .pdocSection1,
.pquizInstructions .pdocSection2,
.pquizInstructions .pdocSection3  {
  font-family: sans-serif;
}

.pdocSectionTitle, .pdocSectionSubtitle {
  font-family: sans-serif;
}


/* ====== BLOCK LEVEL ======= */


.pdocSpeechSpeaker, .pdocSpeechStage {
  font-family: sans-serif;
}

.pdocListTitle {
  font-family: sans-serif;
}

.pdocTableTitle {
  font-family: sans-serif;
}

.pdocMedia {
  font-family: sans-serif;
}

/* ~~~~~~~ pdocImage ~~~~~~~~ */

.pdocImage {
  max-width: 100%;
}

.pdocImageTooltip {
  font-family: sans-serif;
  text-shadow: 1px 1px 1px #bbbbbb;
}


/* ====== INLINE LEVEL ====== */


.pdocLink {
    font-family: serif;
}