/* $Id: publidoc.css 9a3c109c4e49 2012/08/08 16:52:55 patrick $ */


/* ======= TOP LEVEL ====== */


/* ~~~~~~~ pdocCover ~~~~~~ */

body.pdocCover {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* body.pdocCover img { height: 100%; } */

/* ~~~~~~~ pdocNavBar ~~~~~~ */

.pdocNavBar .col { text-align: center; }
.pdocNavBar .colLast { text-align: right; }
.pdocNavBar hr { clear: both; }

/* ~~~~~~~~ pdocToc ~~~~~~~ */

.pdocToc h1, .pdocToc h2, .pdocToc h3,
.pdocToc .h1, .pdocToc .h2, .pdocToc .h3 { text-align: center; }
.pdocToc h2, .pdocToc .h2 { margin: 2em 1em 1em 1em; }
.pdocToc h3, .pdocToc .h3 { margin-top: 2em; }
.pdocToc ol, .pdocToc ul {  margin: 0; }
.pdocToc ol ol, .pdocToc ul ul { margin-left: 1em; }
.pdocToc li { list-style-type: none; margin-top: 1.5em; }
.pdocToc li li {  margin-top: .4em; }
.pdocToc div { padding-top: .4em; }
.pdocToc a {
  display: block;
  padding: .4em 0 .4em 0;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #dcdcdc;
}
.pdocToc a:hover { background-color: #e8f0f7; }
.pdocToc li li a { color: #4f4f4f; }

/* ~~~~~~~~ pdocDoc ~~~~~~~ */

.pdocDoc h1, .pdocDoc .h1 {
  margin: 0 0 1em 0;
  padding: 1em;
  text-align: center;
  border: 1px solid black;
  background: #fafafa;
}


/* ===== DIVISION LEVEL ===== */


/* ~~~~~~ pdocDivision ~~~~~~ */

.pdocDivision .pdocDivision {
  margin-left: 1.5em;
}

.pdocDivision h1, .pdocDivision .h1 {
  margin: 0 0 1em 0;
  padding: 1em;
  text-align: center;
  border: 1px solid black;
  background: #fafafa;
}

.pdocDivision h2 {
  border-bottom: 1px solid black;
}

.pdocDivision h3 {
  border-bottom: 1px solid #bbbbbb;
}

.pdocDivision h4 {
  font-size: 108%;
  font-style: italic;
}


/* ===== COMPONENT LEVEL ==== */


/* ~~~~~~~ pdocTopic ~~~~~~ */

.pdocTopic-title {
  text-align: center;
}

.pdocTopic-title h1, .pdocTopic-title .h1 {
  font-size: 180%;
  margin: 3em 0 2em 0;
  text-align: center;
}

.pdocTopic-title h2, .pdocTopic-title .h2 {
  margin-bottom: 10em;
  text-align: center;
}

.pdocTopic-title .pdocP {
  text-align: center;
}

.pdocTopic-copyright .pdocSection1 {
  margin-bottom: 1em;
}

.pdocTopic-copyright .pdocP {
  margin-bottom: 0;
}


/* ======= META LEVEL ======= */


/* ~~~~~~~~ pdocMeta ~~~~~~~~ */

.pdocMeta {
  margin: 1.33ex 0;
  border: thin solid #c0f8f8;
  background-color: #e0f8f8;
  padding: 0.5em;
}


/* ~~~~~ pdocAbstract ~~~~~ */

.pdocAbstract {
  font-size: small;
  font-weight: normal;
}


/* ===== SECTION LEVEL ====== */


/* ~~~~~~~ pdocSection ~~~~~~ */

.pdocSection1, .pdocSection2, .pdocSection3 {
  text-align: justify;
  margin-bottom: .8em;
  font-variant: normal;
}

.pdocSectionTitle {
  font-weight: bold;
  margin: .5em 0 .5em 0;
  font-size: 105%;
}

.pdocSectionSubtitle {
  font-weight: bold;
  margin: .3em 0 .3em 0;
}

.pdocSection-sign {
  text-align: right;
  font-weight: bold;
}

.pdocSection-box {
  margin: 1em 0 1em 0;
  padding: .5em 1em .5em 1em;
  border: 1px solid #000000;
  background-color: #efefef;
}
.pdocSection-box .pdocSectionTitle,
.pdocSection-box .pdocSectionSubtitle {
  text-align: center;
}
    
.pdocSection-logo {
  text-align: center;
}

.pdocSection-ex {
  font-style: italic;
}


/* ====== BLOCK LEVEL ======= */


/* ~~~~~~~~~~ pdocP ~~~~~~~~~ */

.pdocSection1 .pdocP,
.pdocSection2 .pdocP,
.pdocSection3 .pdocP {
  display: block;
  margin-bottom: .2em;
}

/* ~~~~~~~~ pdocList ~~~~~~~~ */

.pdocListTitle {
  font-weight: bold;
}

.pdocListGlossary {
  margin-left: 0;
}

.pdocListGlossary li { 
  list-style-type: none;  
}

/* ~~~~~~~~ pdocQuote ~~~~~~~ */

.pdocQuote {
  font-style: italic;
}

/* ~~~~~~~ pdocTable ~~~~~~~~ */

.pdocTable {
  width: 100%;
}

.pdocTableTitle {
  font-weight: bold;
  margin-bottom: .3em;
}

.pdocTableCaption {
  color: #004080;
  font-size: 85%;
}

.pdocTable td {
  vertical-align: top;
}

/* ~~~~~~~ pdocMedia ~~~~~~~~ */

.pdocMedia {
  position: relative;
  margin: .8em 0 .8em 0;
}

.pdocMediaTitle {
  font-weight: bold;
}

.pdocMediaCopyright {
  color: gray;
  font-style: italic;
  font-size: 75%;
}

.pdocMediaCaption, .pdocMediaCaptionAbsolute {
  color: #004080;
  font-size: 85%;
}

.pdocMediaCaptionAbsolute {
  position: absolute;
}

/* ~~~~~~~ pdocImage ~~~~~~~~ */

.pdocImage.tooltip, .pdocImage.hotspot {
  float: left;
  position: relative;
}

.pdocImageHotspot {
  position: absolute;
}

.pdocImageHotspot a {
  display: block;
  text-decoration: none;
  border: 1px dotted gray;
}

.pdocImageTooltip {
  position: absolute;
  display: none;
  color: white;
  font-size: 120%;
}

.pdocImagePulse {
  position: absolute;
  cursor: pointer;
}


/* ====== INLINE LEVEL ====== */


/* ~~~~~~~~ pdocNote ~~~~~~~~ */

.pdocNote {
  margin: 0;
  font-size: 123.1%;
}

.pdocNote h1 {
  margin-top: 0;
  padding: .3em;
  color: white;
  background-color: #999999;
  text-align: center;
}

.pdocNoteText {
  margin: 1em;
}

.pdocNoteBack {
  margin-top: 2em;
  padding: .3em;
  text-align: center;
}
.pdocNoteBack a {
  color: #993333;
  text-decoration: none;
}

.pdocNoteLink, .pdocNoteCall {
  color: #993333;
  cursor: help;
}

.pdocNoteCall {
  text-decoration: none;
  font-weight: bold;
}

.pdocNoteFooter {
    clear: both;
    text-align: left;
    margin-top: 1em;
    padding-top: .5em;
    font-size: 85%;
    border-top: 1px solid #000000;
}
.pdocNoteFooter a  {
    color: #993333;
    text-decoration: none;
    font-weight: bold;
}

/* ~~~~~~~ pdocInitial ~~~~~~ */

.pdocInitialCap {
  float: left;
  margin: -.15em .1em -.15em 0;
  font-size: 260%;
}
.pdocInitialNoCap {
  vertical-align: top;
  font-size: 50%;
}

.pdocInitialWords {
  font-variant: small-caps;
}

/* ~~~~~~~~~ pdocIcon ~~~~~~~ */

.pdocIcon {
  vertical-align: middle;
}

/* ~~~~~~ Miscellaneous ~~~~~ */

.pdocMathWide {
  display: block;
  text-align: center;
}

.pdocNumberRoman {
  font-variant: small-caps;
}

.pdocAcronym {
  font-variant: small-caps;
  font-size: 110%;
}
